<%= form_for([:admin, @poi], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: "layouts/errors", locals: {obj: @poi} %>
  <div class="control-group">
    <%= f.label :name,"Nom", class: "control-label" %>
    <a href="#" rel="tooltip" title="Nom du POI" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
    <div class="controls">
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :adress,"Adresse", class: "control-label" %>
    <a href="#" rel="tooltip" title="Adresse du POI" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
    <div class="controls">
      <%= f.text_field :adress, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description,"Description", class: "control-label" %>
    <a href="#" rel="tooltip" title="Description du POI" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
    <div class="controls">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :audience,"Audience", class: "control-label" %>
    <a href="#" rel="tooltip" title="A qui est destiné ce POI" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
    <div class="controls">
      <%= f.text_field :audience, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email,"Email", class: "control-label" %>
    <a href="#" rel="tooltip" title="Email du POI" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
    <div class="controls">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :website,"Site web", class: "control-label" %>
    <a href="#" rel="tooltip" title="Site web du POI" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
    <div class="controls">
      <%= f.text_field :website, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone,"Téléphone", class: "control-label" %>
    <a href="#" rel="tooltip" title="Téléphone du POI au format internationnal : +33..." class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
    <div class="controls">
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :category,"Categorie", class: "control-label" %>
    <a href="#" rel="tooltip" title="Catégorie du POI" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
    <div class="controls">
      <%= f.collection_select :category_id, Category.all, :id, :name, required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :validated,"Validé", class: "control-label" %>
    <a href="#" rel="tooltip" title="Est ce que ce POI est validé ?" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
    <div class="controls">
      <%= f.check_box :validated %>
    </div>
  </div>

  <% if @should_edit_gps %>
    <div class="control-group">
      <%= f.label :latitude,"Latitude", class: "control-label" %>
      <a href="#" rel="tooltip" title="Latitude du POI" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
      <div class="controls">
        <%= f.text_field :latitude, class: "form-control", required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :longitude,"Longitude", class: "control-label" %>
      <a href="#" rel="tooltip" title="Longitude du POI" class="tooltip-infos"><i class="fa fa-question-circle"></i></a>
      <div class="controls">
        <%= f.text_field :longitude, class: "form-control", required: true %>
      </div>
    </div>
  <% end %>


  <br>
  <%= f.submit "Sauver", class: "btn btn-success" %>
  <%= link_to "Annuler", admin_pois_path, class: "btn btn-default" %>
<% end %>