<%= form_for([:admin, @poi], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: "layouts/errors", locals: {obj: @poi} %>
  <div class="control-group">
    <%= f.label :name,"Nom", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :adress,"Adresse", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :adress, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description,"Description", class: "control-label" %>
    <div class="controls">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :audience,"Audience", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :audience, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email,"Email", class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :website,"Website", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :website, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone,"Phone", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :category,"Category", class: "control-label" %>
    <div class="controls">
      <%= f.collection_select :category_id, Category.all, :id, :name, required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :validated,"Validated", class: "control-label" %>
    <div class="controls">
      <%= f.check_box :validated %>
    </div>
  </div>


  <br>
  <%= f.submit "Sauver", class: "btn btn-success" %>

<% end %>