
<div class="row">
  <div style="margin-bottom: 15px; display: flex">
    <div class="btn-group btn-group-sm" style="flex-grow: 1">
      <%
        q = @params[:q] || {}
        presets = {
          "Partout" => {},
          "75" => { postal_code_start: '75' },
          "92" => { postal_code_start: '92' },
          "93" => { postal_code_start: '93' },
          "69" => { postal_code_start: '69' },
          "59" => { postal_code_start: '59' },
          "35" => { postal_code_start: '35' },
          "13" => { postal_code_start: '13' },
          "Hors zone" => { postal_code_in_hors_zone: 'true' },
        }

        location_keys = [:postal_code_start, :postal_code_in_hors_zone]
        active = presets.key q.slice(*location_keys).compact.symbolize_keys
      %>
      <% presets.each do |name, options| %>
        <%= link_to(
          name,
          @params.merge(q: q.except(*location_keys).merge(options)),
          class: "btn btn-#{active == name ? :primary : :default}"
        ) %>
      <% end %>
    </div>

    <div style="margin-left: auto">
      <%= link_to "ajouter un POI", new_admin_poi_path, class: "btn btn-success" %>

      <% if current_user.super_admin? %>
        <%= form_for Poi.new, url: import_admin_pois_path do |f| %>
          <div class="form-group">
            <%= f.label :file, "Importer des POI" %>
            <%= f.file_field :file, class: 'form-control-file', required: true %>
          </div>
          <%= f.submit "Upload CSV", class: 'btn btn-danger' %>
        <% end %>
      <% end %>

      <%= link_to "Télécharger", export_admin_pois_path(@params), class: "btn btn-default" %>
    </div>

  </div>
    <%= search_form_for [:admin, @q], class: 'form-inline' do |f| %>
      <div class='form-group'>
        <%= f.search_field :name_or_adress_cont, class: 'form-control' %>
      </div>

      <%= f.submit 'Rechercher par nom', class: 'btn btn-default' %>
    <% end %>
</div>
