<div class="row">
  <h1>Liste des POI</h1>
</div>

<%= render 'search_form' %>

<table class="table" style="margin-top: 35px">
  <th></th>
  <th></th>
  <th>id</th>
  <th>Nom</th>
  <th>Adresse</th>
  <th>Date de création</th>
  <th>Source</th>
  <th>Validé?</th>
  <% @pois.each do |poi| %>
    <tr>
      <td><%= link_to "Modifier", edit_admin_poi_path(poi), class: "btn btn-default" %></td>
      <td><%= link_to "Supprimer", admin_poi_path(poi), method: :delete, class: "btn btn-danger", data: { confirm: "Êtes vous sûr ?" } %></td>
      <td><%= poi.id %></td>
      <td><%= poi.name %></td>
      <td><%= poi.adress %></td>
      <td><%= l(poi.created_at, format: :date_long) if poi.created_at %></td>
      <td>
        <span class="label <%= poi.source_entourage? ? 'label-info' : 'label-warning' %>"><%= poi.source %></span>
      </td>
      <td><%= check_box_tag '', '', poi.validated, disabled: true %></td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @pois, entry_name: 'POI' %>
<div class="container">
  <%= paginate(@pois) %>
</div>
