<div class="row">
  <h1>Liste des POI</h1>
</div>

<%= render 'search_form' %>

<table class="custom-table" style="margin-top: 35px">
  <thead>
    <th>Nom</th>
    <th>id</th>
    <th>Adresse</th>
    <th>Date de création</th>
    <th>Source</th>
    <th>Validé?</th>
    <th></th>
    <th></th>
  </thead>
  <% @pois.each do |poi| %>
    <tr>
      <td><%= poi.name %></td>
      <td><%= poi.id %></td>
      <td><%= poi.adress %></td>
      <td><%= l(poi.created_at, format: :date_long) if poi.created_at %></td>
      <td>
        <span class="custom-badge <%= poi.source_entourage? ? 'info' : 'warning' %>"><%= poi.source %></span>
      </td>
      <td><%= check_box_tag '', '', poi.validated, disabled: true %></td>
      <td><%= link_to "Modifier", edit_admin_poi_path(poi), class: "custom-button custom-primary-inverted" %></td>
      <td><%= link_to "Supprimer", admin_poi_path(poi), method: :delete, class: "custom-button custom-primary red", data: { confirm: "Êtes vous sûr ?" } %></td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @pois, entry_name: 'POI' %>
<div class="container">
  <%= paginate(@pois) %>
</div>
