<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-12">
        <ul class="nav nav-pills py-2 mb-5">
          <li class="nav-item">
            <a class="nav-link <%= :active if active == :users %>" href="<%= community_admin_users_path %>">Membres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= :active if active == :neighborhoods %>" href="<%= community_admin_neighborhoods_path %>">Voisinages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= :active if active == :private_circles %>" href="#">Cercles privés</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="position-absolute" style="top: 0; right: 0;">
    <div class="dropdown p-2">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
        <%= current_user.first_name %> <%= current_user.last_name %>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <%= button_to "Déconnexion",
            logout_community_admin_sessions_path, method: :post,
           class: "dropdown-item"
        %>
      </div>
    </div>
  </div>
</div>
