<div class="container">
  <div style="margin: auto">
    <h1>Événements</h1>

    <%= form_tag admin_outings_path, class: 'form-inline', id: "search-form", method: :get do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div style="float: right">
            <%= link_to "Nouvel événement", new_admin_entourage_path(group_type: :outing), class: "btn btn-success" %>
          </div>

          <div class='input-group'>
            <%= text_field_tag :search, @params[:search], class: "form-control", placeholder: "Rechercher un événement" %>
            <span class="input-group-btn">
              <%= submit_tag "Chercher", class: "btn btn-default" %>
            </span>
          </div>
        </div>

        <div style="padding: 0 0 15px 15px">
          <div class='input-group'>
            <% moderators_options = current_user.community.users.moderators.validated.order(:first_name).map { |u| [u.first_name, u.id] } %>
            <% moderators_options.unshift ['Tous (avec ou sans interlocuteur)', :any], ['Non assigné', :none] %>
            <%= select_tag :moderator_id, options_for_select(moderators_options, params[:moderator_id]), class: 'form-control' %>
          </div>

          <div id="select-status" class="input-group">
            <%= select_tag :status, options_for_select(entourage_type_statuses, @params[:status]), multiple: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div style="float: left; margin: -10px 0 10px">
        <div class="btn-group btn-group-sm">
          <%= radio_button_tag :area, :all, @area == :all, id: "area_all", style: "display: none;" %>
          <%= label_tag "area_all", "Tous", class: "btn btn-#{@area == :all ? :primary : :default}" %>

          <% ModerationArea.by_slug_without_no_zone.sort.each do |slug, area| %>
            <%= radio_button_tag :area, slug, @area == slug, id: "area_#{slug}", style: "display: none;" %>
            <%= label_tag "area_#{slug}", area.short_name, class: "btn btn-#{@area == slug ? :primary : :default}" %>
          <% end %>
        </div>
      </div>

      <div style="float: right; margin: -10px 0 10px">
        <%= link_to "Exporter", download_list_export_admin_outings_path(@params), class: "btn btn-default" %>
        <%= link_to "Réinitialiser les filtres", admin_outings_path, class: "btn btn-default" %>
      </div>
    <% end %>

    <div class="row">
      <% unless @outings.none? %>
        <table class="table custom-table">
          <thead>
            <th></th>
            <th>Nom et descriptif de l'événement</th>
            <th>Date de création</th>
            <th>Date de l'événement</th>
            <th>Code postal</th>
            <th>Statut</th>
            <th><span class="glyphicon glyphicon-user" aria-hidden="true" title="Nombre de participants"></span></th>
          </thead>
          <% @outings.each_with_index do |outing, i| %>
            <% parite = i.even? ? 'pair' : 'impair' %>

            <tr class="above-row row-<%= parite %>">
              <td>
                <% unless outing.moderated %>
                  <span class="badge" style="background: #f0ad4e" title="Non modéré">●</span>
                <% end %>
              </td>
              <td>
                <p><%= link_to outing.name, admin_entourage_path(outing, @params) %></p>
                <p><%= outing.description %></p>
              </td>
              <td><%= l outing.created_at, format: :date_short %></td>
              <td><%= l outing.starts_at, format: :short %></td>
              <td><%= outing.postal_code %></td>
              <td><%= entourage_state_label(outing) %></td>
              <td><span class="badge" title="Participants"><%= outing.number_of_people %></span></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <%= page_entries_info @outings, entry_name: 'outings' %>
    <div class="container">
      <%= paginate(@outings) %>
    </div>
  </div>
</div>

<script>
  $(function() {
    var formId = "#search-form";
    var isChanged = false;

    $('#status').multiselect({
      nonSelectedText: 'Tous les statuts',
      onChange: function(option, change) { isChanged = true },
      onSelectAll: function(option, change) { isChanged = true },
      onDropdownHide: function(option, change) {
        if (isChanged) {
          $(formId).submit();
        }
      },
    });

    $(formId + ' select, input').on('change', function(event) {
      if ($(event.target).closest('#select-status').length == 0) {
        $(formId).submit();
      }
    })
  })
</script>
