<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Jobs morts</div>
      </div>

      <% if @deads.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucun job mort</h3>
          </div>
        </div>
      <% else %>
        <table class="table">
          <th>Classe</th>
          <th>Créé le</th>
          <th>Placé en queue le</th>
          <th>Erreur le</th>
          <th>Arguments</th>
          <% @deads.each do |job| %>
            <tr>
              <td><%= job['error_class'] %></td>
              <td><%= job['created_at'] %></td>
              <td><%= job['enqueued_at'] %></td>
              <td><%= job['failed_at'] %></td>
              <td><%= job['args'] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%#= paginate @paginated %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Jobs finis</div>
      </div>

      <% if @processes.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucun job fini</h3>
          </div>
        </div>
      <% else %>
        <table class="table">
          <th>Classe</th>
          <th>Créé le</th>
          <th>Placé en queue le</th>
          <th>Erreur le</th>
          <th>Arguments</th>
          <% @processes.each do |job| %>
            <tr>
              <td><%= job['error_class'] %></td>
              <td><%= job['created_at'] %></td>
              <td><%= job['enqueued_at'] %></td>
              <td><%= job['failed_at'] %></td>
              <td><%= job['args'] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%#= paginate @paginated %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Jobs planifiés</div>
      </div>

      <% if @schedules.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucun job planifié</h3>
          </div>
        </div>
      <% else %>
        <table class="table">
          <th>Classe</th>
          <th>Créé le</th>
          <th>Placé en queue le</th>
          <th>Erreur le</th>
          <th>Arguments</th>
          <% @schedules.each do |job| %>
            <tr>
              <td><%= job['error_class'] %></td>
              <td><%= job['created_at'] %></td>
              <td><%= job['enqueued_at'] %></td>
              <td><%= job['failed_at'] %></td>
              <td><%= job['args'] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%#= paginate @paginated %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Jobs relancés</div>
      </div>

      <% if @retries.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucun job relancé</h3>
          </div>
        </div>
      <% else %>
        <table class="table">
          <th>Classe</th>
          <th>Créé le</th>
          <th>Placé en queue le</th>
          <th>Erreur le</th>
          <th>Arguments</th>
          <% @retries.each do |job| %>
            <tr>
              <td><%= job['error_class'] %></td>
              <td><%= job['created_at'] %></td>
              <td><%= job['enqueued_at'] %></td>
              <td><%= job['failed_at'] %></td>
              <td><%= job['args'] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%#= paginate @paginated %>
  </div>
</div>
