<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Photos d'événements</div>
      </div>

      <% if @outings.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucune photo n'est encore spécifiée.</h3>
          </div>
        </div>
      <% else %>
        <table class="table">
          <th>Titre</th>
          <th>Photos</th>
          <% @outings.each do |outing| %>
            <tr>
              <td>
                <%= link_to outing.title, edit_admin_entourage_path(outing.id) %>
              </td>
              <td>
                <%= image_tag(outing.metadata[:landscape_url], size: '288x96') if outing.metadata[:landscape_url].present? %>
              </td>
              <td>
                <%= image_tag(outing.metadata[:landscape_thumbnail_url], size: '288x96') if outing.metadata[:landscape_thumbnail_url].present? %>
              </td>
              <td>
                <%= image_tag(outing.metadata[:portrait_url], size: '59x96') if outing.metadata[:portrait_url].present? %>
              </td>
              <td>
                <%= image_tag(outing.metadata[:portrait_thumbnail_url], size: '59x96') if outing.metadata[:portrait_thumbnail_url].present? %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= paginate @paginated %>
  </div>
</div>
