<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Pois Soliguide</div>
      </div>

      <% if @pois.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucun POI trouvé.</h3>
          </div>
        </div>

        <%= link_to "Pois Soliguide à Paris", admin_super_admin_soliguide_path({
          latitude: 48.8586,
          longitude: 2.3411,
          distance: 2,
        }), class: "btn btn-default" %>
      <% else %>
        <table class="table">
          <th>UUID</th>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Category_id</th>

          <% @pois.each do |poi| %>
            <tr>
              <td><%= poi[:uuid][1..] %></td>
              <td><%= link_to poi[:name], admin_super_admin_soliguide_show_path(poi[:uuid]) %></td>
              <td><%= poi[:latitude] %></td>
              <td><%= poi[:longitude] %></td>
              <td><%= poi[:address] %></td>
              <td><%= poi[:phone] %></td>
              <td><%= poi[:category_id] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%#= paginate @paginated %>
  </div>
</div>
