<style>
  .aspect-ratio-container-1-1 {
    padding-top: 100%;
  }
  .rounded {
    border-radius: 50%;
  }
  .border-grey {
    border: 1px solid #ccc;
  }
  .logo-as-background {
    background: url(<%= @partner.image_url_with_size(:medium) %>) center/contain no-repeat, #fff;
  }
</style>

<% @partner.errors.delete(:latitude) if @partner.errors.has_key?(:address) %>
<% @partner.errors.delete(:longitude) if @partner.errors.has_key?(:address) %>

<%= render partial: 'common/errors', locals: {obj: @partner} %>

<%= form_for [:admin, @partner] do |f| %>
  <%= f.hidden_field :staff %>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", rows: 8 %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <% if @partner.new_record? %>
          <label>Logo</label>
          <div class="text-muted">
            Vous pourrez ajouter un logo une fois que l'association sera créée.
          </div>
        <% else %>
          <label></label>
          <div class="aspect-ratio-container-1-1 logo-as-background rounded border-grey"></div>
          <div class="text-center" style="margin-top: 15px;">
            <%= link_to "Modifier", edit_logo_admin_partner_path, class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :donations_needs %>
    <%= f.text_area :donations_needs, rows: 3, class: "form-control", placeholder: "jeux, produits d'hygiène, sous-vêtements, collations..." %>
  </div>

  <div class="form-group">
    <%= f.label :volunteers_needs %>
    <%= f.text_area :volunteers_needs, rows: 3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.phone_field :phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :address, "Adresse" %>
    <%= text_field_tag :address, f.object.address, class: "form-control", data: { 'last-valid' => f.object.address } %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>
  <div class="form-group">
    <%= f.label :website_url %>
    <%= f.url_field :website_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <%= f.submit "Enregistrer", class: "btn btn-success" %>
<% end %>

<script>
  var input = document.getElementById('address');
  var $input = $(input);
  var options = {
    types: ['geocode'],
    fields: ['geometry.location', 'formatted_address'],
    componentRestrictions: {country: ['fr']}
  };

  autocomplete = new google.maps.places.Autocomplete(input, options);
  autocomplete.addListener('place_changed', function() {
    var place = this.getPlace();

    if (typeof place.geometry === 'undefined') {
      $input.siblings('input[type=hidden]').val(null);
    } else {
      input.setCustomValidity('')
      $input.siblings('input[type=hidden]').val(null);
      var details = {
        address: place.formatted_address,
        latitude: place.geometry.location.lat(),
        longitude: place.geometry.location.lng(),
      };
      for (var attribute in details) {
        $input.siblings('input[type=hidden][name="partner[' + attribute + ']"]')
          .val(details[attribute]);
      }
    }
  });

  $input.on('input', function() {
    if ($input.val() === '') {
      $input.siblings('input[type=hidden]').val(null);
    }
  })
</script>
