<tr class="overlay-container">
  <td class="pl-2 py-2 pr-0" style="width: 40px">
    <img class="rounded-circle"
         width="32" height="32"
         src="<%= UserServices::Avatar.new(user: user).thumbnail_url %>"
         style="display: inline-block; background-image: url('<%= asset_path 'user/default_avatar.png' %>'); background-size: contain; background-color: #fff;"
         alt="">
  </td>
  <td>
    <%= link_to "", community_admin_user_path(user), class: "overlay" %>
    <%= user.first_name %> <%= user.last_name %>
  </td>
  <td>
    <% user.roles.sort_by { |r| current_user.community.roles.index(r) }
                 .each do |role| %>
      <% role_color = CommunityAdminService.role_color(community, role) %>
      <% next if role_color.nil? %>
      <span class="badge badge-<%= role_color %>"><%= t "community.#{community.slug}.roles.#{role}" %></span>
    <% end %>
  </td>
</tr>
