<style>
  .remove-filter {
    position: relative;
    display: inline-block;
    padding: 0.2em;
    font-size: 1.3em;
    width: 1em;
    height: 1em;
    line-height: 0.45;
    border-radius: 3px;
    margin-right: -0.1em;
    margin-left: 0.1em;
    cursor: pointer;
  }

  .remove-filter:hover {
    background-color: rgba(0,0,0,0.3);
  }
</style>

<%= render 'nav', active: :users %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12">
      <div id="filters">
        <div class="d-flex align-items-end" style="margin-bottom: .75rem">
          <div class="flex-grow-1">
            Filtres :
            <a href="<%= community_admin_users_path %>" class="btn btn-sm btn-primary">
              Archivés
              <span class="remove-filter">&times</span>
            </a>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <% if @users.empty? %>
          <thead>
            <tr>
              <td colspan="3" class="text-muted text-center">
                Aucun membre correspondant à ces filtres n'a été trouvé.
              </td>
            </tr>
          </thead>
        <% end %>

        <% @users.each do |user| %>
          <tr class="js-overlay-container">
            <td class="pl-2 py-2 pr-0" style="width: 40px">
              <img class="rounded-circle"
                   width="32" height="32"
                   src="<%= UserServices::Avatar.new(user: user).thumbnail_url %>"
                   style="display: inline-block; background-image: url('<%= asset_path 'user/default_avatar.png' %>'); background-size: contain; background-color: #fff;"
                   alt="">
            </td>
            <td>
              <%= link_to "", community_admin_user_path(user), class: "js-overlay" %>
              <%= user.first_name %> <%= user.last_name %>
            </td>
            <td>
              <% user.roles.sort_by { |r| current_user.community.roles.index(r) }
                           .each do |role| %>
                <% role_color = CommunityAdminService.role_color(community, role) %>
                <% next if role_color.nil? %>
                <% next if role == :ethics_charter_signed && !user.roles.include?(:not_validated) %>
                <span class="badge badge-<%= role_color %>"><%= t "community.#{community.slug}.roles.#{role}" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
