<style>
  form.button_to input[type="submit"] {
    cursor: pointer;
  }

  .has-fixed-footer {
    margin-bottom: 70px;
  }

  .fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .remove-filter {
    position: relative;
    display: inline-block;
    padding: 0.2em;
    font-size: 1.3em;
    width: 1em;
    height: 1em;
    line-height: 0.45;
    border-radius: 3px;
    margin-right: -0.1em;
    margin-left: 0.1em;
    cursor: pointer;
  }

  .remove-filter:hover {
    background-color: rgba(0,0,0,0.3);
  }

  .has-left-bracket {
    position: relative;
    padding-right: 20px;
    margin-right: 10px;
  }

  .has-left-bracket:after {
    content: "";
    border: 1px solid #ccc;
    border-left-width: 0;
    width: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
</style>

<% if @for_group.present? %>
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="mt-5 col-lg-8 col-12">
        <h2><%= @for_group.title %></h2>
        <h4>
          Ajouter un
          <%= t("community.#{community.slug}.roles.#{params[:for_role] || :member}", default: "membre").downcase %>
          au
          <%= t "community.#{community.slug}.group_types.#{@for_group.group_type}", default: "groupe" %>
        </h4>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'nav', active: :users %>
<% end %>

<div class="container <%= 'has-fixed-footer' if @for_group %>">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12">
      <div id="filters">
        <div class="d-flex align-items-end" style="margin-bottom: .75rem">
          <div class="flex-grow-1">
            Filtres :
            <div class="d-inline-flex flex-wrap" style="margin-bottom: -.25rem">
              <div class="btn <%= @filters[:neighborhoods][:is_filtered] ? 'btn-primary order-0' : 'btn-outline-primary order-1' %> btn-sm mr-1 mb-1"
                      data-toggle="collapse" data-target="#filterNeighborhoods">
                <% case @filters[:neighborhoods][:status] %>
                <% when :accepted %>
                  Membre de :
                <% when :pending %>
                  A demandé à rejoindre :
                <% end %>
                <% if @filters[:neighborhoods][:ids_filtered] == false %>
                  Voisinage de quartier
                <% elsif @filters[:neighborhoods][:ids].count == 1 %>
                  <%= @neighborhoods[@filters[:neighborhoods][:ids].first].title %>
                <% else %>
                  Voisinages de quartier <span class="badge badge-light"><%= @filters[:neighborhoods][:ids].count %></span>
                <% end %>
                <% if @filters[:neighborhoods][:is_filtered] %>
                  <span class="remove-filter" data-target="#filterNeighborhoods">&times</span>
                <% end %>
              </div>
              <div class="btn <%= @filters[:roles][:is_filtered] ? 'btn-primary order-0' : 'btn-outline-primary order-1' %> btn-sm mr-1 mb-1"
                      data-toggle="collapse" data-target="#filterRoles">
                <% if @filters[:roles][:is_filtered] == false %>
                  Rôle
                <% elsif @filters[:roles][:list].count == 1 %>
                  Rôle : <%= t "community.#{community.slug}.roles.#{@filters[:roles][:list].first}" %>
                <% elsif @filters[:roles][:list].count == 2 && @filters[:roles][:operator] == :and %>
                  Rôle : <%= @filters[:roles][:list].map { |role| t "community.#{community.slug}.roles.#{role}" }.join(' et ') %>
                <% else %>
                  Rôles <span class="badge badge-light"><%= @filters[:roles][:list].count %></span>
                <% end %>
                <% if @filters[:roles][:is_filtered] %>
                  <span class="remove-filter" data-target="#filterRoles">&times</span>
                <% end %>
              </div>
              <div class="btn <%= @filters[:has_private_circle][:is_filtered] ? 'btn-primary order-0' : 'btn-outline-primary order-1' %> btn-sm mr-1 mb-1"
                      data-toggle="collapse" data-target="#filterPrivateCircles">
                <% if @filters[:has_private_circle][:is_filtered] == false %>
                  Voisinage de personne
                <% elsif @filters[:has_private_circle][:value] == true %>
                  Membre d'un voisinage de personne
                <% elsif @filters[:has_private_circle][:value] == false %>
                  Membre d'aucun voisinage de personne
                <% end %>
                <% if @filters[:has_private_circle][:is_filtered] %>
                  <span class="remove-filter" data-target="#filterPrivateCircles">&times</span>
                <% end %>
              </div>
            </div>
          </div>
          <div>
            <a href="<%= new_community_admin_user_path(params.slice(:for_group, :for_role)) %>"
                 class="btn btn-outline-secondary">Inscrire un nouveau membre</a>
          </div>
        </div>
        <form>
          <div class="collapse" id="filterNeighborhoods">
            <div class="mb-4">
              <div class="card card-body mb-2">
                <div class="d-flex mb-2">
                  <a href="#" data-toggle="checkbox" data-type="all" data-target="#filterNeighborhoods">Tous</a>
                  <a href="#" class="ml-2" data-toggle="checkbox" data-type="none" data-target="#filterNeighborhoods">Aucun</a>
                </div>
                <% @neighborhoods.slice(:none).each do |id, neighborhood| %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           name="neighborhoods[]" value="<%= id %>"
                           id="neighborhood_<%= id %>"
                           <%= :checked if id.in?(@filters[:neighborhoods][:ids]) %>>
                    <label class="form-check-label"
                           for="neighborhood_<%= id %>">
                      <%= neighborhood.title %>
                    </label>
                  </div>
                <% end %>
                <div class="d-flex align-items-center">
                  <div class="has-left-bracket">
                    <% @neighborhoods.each do |id, neighborhood| %>
                      <% next if id == :none %>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               name="neighborhoods[]" value="<%= id %>"
                               id="neighborhood_<%= id %>"
                               <%= :checked if id.in?(@filters[:neighborhoods][:ids]) %>>
                        <label class="form-check-label"
                               for="neighborhood_<%= id %>">
                          <%= neighborhood.title %>
                        </label>
                      </div>
                    <% end %>
                  </div>
                  <div class="flex-grow-1">
                      <div class="text-muted" style="margin-top: -1.5em;">
                        Statut de la personne :
                      </div>
                      <%
                        {
                          accepted: "membre du groupe",
                          pending:  "a demandé à rejoindre le groupe",
                          nil => "peu importe"
                        }.each do |status, description|
                      %>
                      <div class="form-check">
                        <input class="form-check-input" type="radio"
                               name="neighborhood_status" value="<%= status %>"
                               id="neighborhood_status_<%= status || :default %>"
                               data-default
                               <%= :checked if status == @filters[:neighborhoods][:status] %>>
                        <label class="form-check-label"
                               for="neighborhood_status_<%= status || :default %>">
                          <%= description %>
                        </label>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <% if @for_group %>
                <input type="hidden" name="for_group" value="<%= @for_group.id %>" />
                <input type="hidden" name="for_role" value="<%= params[:for_role] %>" />
              <% end %>
              <div class="text-right">
                <button type="submit" class="btn btn-primary">
                  Filtrer
                </button>
              </div>
            </div>
          </div>
          <div class="collapse" id="filterRoles">
            <div class="mb-4">
              <div class="card card-body mb-2">
                <div class="d-flex mb-2">
                  <a href="#" data-toggle="checkbox" data-type="all" data-target="#filterRoles">Tous</a>
                  <a href="#" class="ml-2" data-toggle="checkbox" data-type="none" data-target="#filterRoles">Aucun</a>
                </div>
                <div class="d-flex align-items-center">
                  <div class="has-left-bracket">
                    <% community.roles.each do |role| %>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               name="roles[]" value="<%= role %>"
                               id="role_<%= role %>"
                               <%= :checked if role.in?(@filters[:roles][:list]) %>>
                        <label class="form-check-label"
                               for="role_<%= role %>">
                          <%= t "community.#{community.slug}.roles.#{role}" %>
                        </label>
                      </div>
                    <% end %>
                  </div>
                  <div class="flex-grow-1">
                    <div class="form-check">
                      <input class="form-check-input" type="radio"
                             name="roles_op" value="or"
                             id="roles_op_or"
                             data-default
                             <%= :checked if @filters[:roles][:operator] == :or %>>
                      <label class="form-check-label"
                             for="roles_op_or">
                        <b style="display: inline-block; width: 1.75em">OU</b> <small class="text-muted"><b>au moins un</b> des rôles sélectionnés</small>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio"
                             name="roles_op" value="and"
                             id="roles_op_and"
                             <%= :checked if @filters[:roles][:operator] == :and %>>
                      <label class="form-check-label"
                             for="roles_op_and">
                        <b style="display: inline-block; width: 1.75em">ET</b> <small class="text-muted"><b>tous</b> les rôles sélectionnés</small>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <% if @for_group %>
                <input type="hidden" name="for_group" value="<%= @for_group.id %>" />
                <input type="hidden" name="for_role" value="<%= params[:for_role] %>" />
              <% end %>
              <div class="text-right">
                <button type="submit" class="btn btn-primary">
                  Filtrer
                </button>
              </div>
            </div>
          </div>
          <div class="collapse" id="filterPrivateCircles">
            <div class="mb-4">
              <div class="card card-body mb-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio"
                         name="has_private_circle" value="1"
                         id="has_private_circle_true"
                         <%= :checked if @filters[:has_private_circle][:value] == true %>>
                  <label class="form-check-label"
                         for="has_private_circle_true">
                    Membre d'<b>au moins un</b> voisinage de personne
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio"
                         name="has_private_circle" value="0"
                         id="has_private_circle_false"
                         <%= :checked if @filters[:has_private_circle][:value] == false %>>
                  <label class="form-check-label"
                         for="has_private_circle_false">
                    Membre d'<b>aucun</b> voisinage de personne
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio"
                         name="has_private_circle" value=""
                         id="has_private_circle_default"
                         data-default
                         <%= :checked if @filters[:has_private_circle][:value] == nil %>>
                  <label class="form-check-label"
                         for="has_private_circle_default">
                    Peu importe
                  </label>
                </div>
              </div>
              <% if @for_group %>
                <input type="hidden" name="for_group" value="<%= @for_group.id %>" />
                <input type="hidden" name="for_role" value="<%= params[:for_role] %>" />
              <% end %>
              <div class="text-right">
                <button type="submit" class="btn btn-primary">
                  Filtrer
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
      <table class="table table-hover">
        <% if @users.empty? %>
          <thead>
            <tr>
              <td colspan="<% @for_group ? 5 : 4 %>" class="text-muted text-center">
                Aucun membre correspondant à ces filtres n'a été trouvé.
              </td>
            </tr>
          </thead>
        <% end %>

        <% @users.each do |user| %>
          <tr class="js-overlay-container">
            <td class="pl-2 py-2 pr-0" style="width: 40px">
              <img class="rounded-circle"
                   width="32" height="32"
                   src="<%= UserServices::Avatar.new(user: user).thumbnail_url %>"
                   style="display: inline-block; background-image: url('<%= asset_path 'user/default_avatar.png' %>'); background-size: contain; background-color: #fff;"
                   alt="">
            </td>
            <td>
              <%= link_to "", community_admin_user_path(user), class: "js-overlay" %>
              <%= user.first_name %> <%= user.last_name %>
            </td>
            <td>
              <% if @for_group %>
                <% if user.distance %>
                  <%= distance_in_words user.distance %>
                <% else %>
                  &mdash;
                <% end %>
              <% elsif user.join_request_pending %>
                <span class="badge badge-primary">En attente</span>
              <% end %>
            </td>
            <td>
              <% user.roles.sort_by { |r| current_user.community.roles.index(r) }
                           .each do |role| %>
                <% role_color = CommunityAdminService.role_color(community, role) %>
                <% next if role_color.nil? %>
                <% next if role == :ethics_charter_signed && !user.roles.include?(:not_validated) %>
                <span class="badge badge-<%= role_color %>"><%= t "community.#{community.slug}.roles.#{role}" %></span>
              <% end %>
            </td>
            <% if @for_group %>
              <td class="text-right py-0 align-middle">
                <%= button_to "Ajouter",
                      community_admin_user_groups_path(user,
                        {group_id: @for_group.id, role: params[:for_role],
                         redirect: :group}.compact),
                      method: :post,
                      id: "add_to_group-#{user.id}",
                      class: "btn btn-outline-success btn-sm" %>
              </td>
            <% end %>
          </tr>
        <% end %>

        <% if !@for_group && !params.key?(:archived) %>
          <thead style="display: table-row-group;">
            <tr>
              <td colspan="4">
                <a href="<%= archived_community_admin_users_path %>" class="text-muted">
                  Afficher les comptes archivés
                </a>
              </td>
            </tr>
          </thead>
        <% end %>
      </table>
    </div>
  </div>
</div>

<% if @for_group %>
  <div class="fixed-footer p-3 bg-light d-flex justify-content-end">
    <a href="<%= community_admin_group_path(@for_group) %>" class="btn btn-outline-secondary mr-3">Annuler</a>
  </div>
<% end %>

<% content_for :scripts do %>
  <script>
    var $filters = $('#filters')
    $filters.on('show.bs.collapse hide.bs.collapse', function(e) {
      $filters.find('[data-target="#' + e.target.id + '"]')
              .toggleClass('active', e.type === 'show')
    })
    $filters.on('show.bs.collapse', function(e) {
      $filters.find('.collapse.show').collapse('hide')
    })

    function toggleFilter(target, op) {
      $(target + ' input[type=checkbox]').attr('checked', op === 'all')
      if (op === 'none') {
        $(target + ' input[type=radio][data-default]').attr('checked', true)
      }
    }

    $filters.on('click', '.remove-filter', function(e) {
      e.stopImmediatePropagation();
      toggleFilter($(e.target).data('target'), 'none')
      $filters.find('form').submit()
    })

    $('[data-toggle="checkbox"]').on('click', function(e) {
      e.preventDefault()
      var data = $(e.target).data()
      toggleFilter(data.target, data.type)
    })
  </script>
<% end %>
