<style>
  .btn-ellipsis {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
  }

  .btn-ellipsis:before {
    content: "•••";
    display: block;
    height: 1em;
    position: relative;
    top: -0.3em;
  }

  .btn-ellipsis:hover {
    border-color: #6c757d;
  }

  form.button_to input[type="submit"] {
    cursor: pointer;
  }

  .hover-toggle {
    display: inline-block;
  }

  .table-hover tr:not(:hover) .hover-show {
    height: 0;
    overflow: hidden;
  }

  .table-hover tr:hover .hover-hide {
    display: none;
  }

  .row-highlight td {
    background-color: rgba(204, 229, 255, .5);
    border-color: #b8daff;
    background-clip: padding-box;
  }

  .table-hover .row-highlight:hover td {
    background-color: #cce5ff;
  }

  .row-highlight .btn[class*="btn-outline-"]:not(:hover) {
    background-color: #fff;
  }

  .btn-group > .button_to:not(:first-child) {
    margin-left: -1px;
  }

  .btn-group > .button_to:not(:first-child) .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-group > .button_to:not(:last-child) .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
</style>

<%= render 'nav', active: :users %>

<% if params.key?(:post_create) %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-12 mb-3">
        <div class="alert alert-primary" role="alert">
          Cette personne va reçevoir un SMS d’invitation contenant le code lui permettant de se connecter.
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <div class="d-flex flex-nowrap mb-4">
        <div>
          <img class="rounded-circle"
               width="150" height="150"
               src="<%= UserServices::Avatar.new(user: @user).thumbnail_url %>"
               style="display: inline-block; background-image: url('<%= asset_path 'user/default_avatar.png' %>'); background-size: contain; background-color: #fff;"
               alt="">
        </div>
        <div class="ml-4 flex-grow-1">
          <h2><%= @user.first_name %><br><%= @user.last_name %></h2>
          <div class="mb-2">
            <div><%= link_to (@user.phone || ''), "tel:#{@user.phone}" %></div>
            <div><%= link_to (@user.email || ''), "mailto:#{@user.email}" %></div>
            <% if @user.address.present? %>
              <div>
                <%= link_to @user.address.display_address,
                      "https://www.google.com/maps/search/?api=1&query=#{@user.address.display_address}&query_place_id=#{@user.address.google_place_id}", target: :_blank %>
              </div>
            <% end %>
          </div>
          <div class="h5">
            <% @user.roles.sort_by { |r| current_user.community.roles.index(r) }
                       .each do |role| %>
              <% role_color = CommunityAdminService.role_color(community, role) %>
              <% next if role_color.nil? %>
              <span class="badge badge-<%= role_color %>"><%= t "community.#{community.slug}.roles.#{role}" %></span>
            <% end %>
          </div>
        </div>
        <div class="ml-4 h4">
          <a href="<%= edit_community_admin_user_path(@user) %>" class="btn btn-outline-secondary">Modifier le profil</a>
        </div>
      </div>

      <div>
        <table class="table table-hover">
          <thead>
            <tr>
              <td colspan="3" class="p-0 border-top-0">
                <h4>Voisinages de quartier</h4>
              </td>
            </tr>
            <% if @user_neighborhoods.empty? %>
              <td colspan="3" class="text-muted text-center">
                Cette personne n'appartient à aucun voisinage de quartier.
              </td>
            <% end %>
          </thead>

          <% @user_neighborhoods.each do |neighborhood| %>
            <% role = neighborhood.role.to_sym %>
            <tr class="js-overlay-container <%= 'row-highlight' if neighborhood.status == 'pending' %>">
              <td>
                <%= link_to "", community_admin_neighborhood_path(neighborhood), class: "js-overlay" %>
                <%= neighborhood.title %>
              </td>
              <td>
                <% role_color = CommunityAdminService.role_color(community, role) %>
                <% unless role_color.nil? %>
                  <span class="badge badge-<%= role_color %>"><%= t "community.#{community.slug}.roles.#{role}" %></span>
                <% end %>
              </td>
              <td class="text-right py-0 align-middle">
                <% if neighborhood.status == 'pending' %>
                  <div class="hover-toggle">
                    <span class="badge badge-primary hover-hide">En attente</span>
                    <div class="hover-show">
                      <div class="btn-group">
                        <%= button_to "Refuser",
                              community_admin_user_groups_path(@user,
                                group_id: neighborhood.id),
                              method: :delete,
                              class: "btn btn-sm btn-outline-secondary" %>
                        <%= button_to "Accepter",
                              community_admin_user_groups_path(@user,
                                group_id: neighborhood.id),
                              method: :post,
                              class: "btn btn-sm btn-outline-primary" %>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="dropdown">
                    <span class="btn-sm btn btn-ellipsis" data-toggle="dropdown"></span>
                    <div class="dropdown-menu dropdown-menu-right">
                      <% if role == :coordinator %>
                        <%= button_to "Retirer le rôle d'animateur",
                              community_admin_user_group_role_path(@user,
                                group_id: neighborhood.id, role: :member),
                              method: :post,
                              class: "dropdown-item" %>
                      <% else %>
                        <%= button_to "Attribuer le rôle d'animateur",
                              community_admin_user_group_role_path(@user,
                                group_id: neighborhood.id, role: :coordinator),
                              method: :post,
                              class: "dropdown-item" %>
                      <% end %>
                      <% unless @user_neighborhoods.length == 1 %>
                        <%= button_to "Retirer du voisinage",
                              community_admin_user_groups_path(@user,
                                group_id: neighborhood.id),
                              method: :delete,
                              class: "dropdown-item text-danger" %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>

          <% if @user_neighborhoods.to_a.count == @coordinator_neighborhoods.count %>
          <% elsif params.key?(:add_neighborhood) %>
            <thead>
              <tr>
                <td colspan="3" class="pt-4 border-top-0 pb-0 pl-0">
                  <div class="h4 d-flex flex-nowrap">
                    <span class="flex-grow-1">Ajouter à un voisinage de quartier</span>
                    <a href="?" class="btn btn-outline-secondary btn-sm">Annuler</a>
                  </div>
                </td>
              </tr>
            </thead>

            <% user_neighborhood_ids = @user_neighborhoods.map(&:id) %>
            <% @coordinator_neighborhoods.each do |neighborhood| %>
              <% next if neighborhood.id.in?(user_neighborhood_ids) %>
              <tr class="js-overlay-container">
                <td>
                  <%= neighborhood.title %>
                </td>
                <td colspan="2" class="text-right py-0 align-middle">
                  <%= button_to "Ajouter",
                        community_admin_user_groups_path(@user,
                          group_id: neighborhood.id),
                        method: :post,
                        class: "btn btn-outline-success btn-sm" %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <thead>
              <tr>
                <td colspan="3" class="text-right px-0">
                  <a href="?add_neighborhood" class="btn btn-outline-secondary">
                    <% if @user_neighborhoods.any? %>
                      Ajouter à un autre voisinage de quartier
                    <% else %>
                      Ajouter à un voisinage de quartier
                    <% end %>
                  </a>
                </td>
              </tr>
            </thead>
          <% end %>

          <thead>
            <tr>
              <td colspan="3" class="p-0 border-top-0 pt-4">
                <h4>Voisinages de personne</h4>
              </td>
            </tr>
            <% if @user_private_circles.empty? %>
              <td colspan="3" class="text-muted text-center">
                Cette personne n'appartient à aucun voisinage de personne.
              </td>
            <% end %>
          </thead>

          <% @user_private_circles.each do |private_circle| %>
            <% role = private_circle.role.to_sym %>
            <tr class="js-overlay-container <%= 'row-highlight' if private_circle.status == 'pending' %>">
              <td>
                <%= link_to "", community_admin_private_circle_path(private_circle), class: "js-overlay" %>
                <%= private_circle.title %>
              </td>
              <td>
                <% role_color = CommunityAdminService.role_color(community, role) %>
                <% unless role_color.nil? %>
                  <span class="badge badge-<%= role_color %>"><%= t "community.#{community.slug}.roles.#{role}" %></span>
                <% end %>
              </td>
              <td class="text-right py-0 align-middle">
                <% if private_circle.status == 'pending' %>
                  <div class="hover-toggle">
                    <span class="badge badge-primary hover-hide">En attente</span>
                    <div class="hover-show">
                      <div class="btn-group btn-group-sm">
                        <%= button_to "Refuser",
                              community_admin_user_groups_path(@user,
                                group_id: private_circle.id),
                              method: :delete,
                              class: "btn btn-sm btn-outline-secondary" %>
                        <%= button_to "Accepter",
                              community_admin_user_groups_path(@user,
                                group_id: private_circle.id),
                              method: :post,
                              class: "btn btn-sm btn-outline-primary" %>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="dropdown">
                    <span class="btn-sm btn btn-ellipsis" data-toggle="dropdown"></span>
                    <div class="dropdown-menu dropdown-menu-right">
                      <%= button_to "Retirer du voisinage",
                            community_admin_user_groups_path(@user,
                              group_id: private_circle.id),
                            method: :delete,
                            class: "dropdown-item text-danger" %>
                    </div>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>

          <% if @more_private_circles == false %>
          <% elsif params.key?(:add_private_circle) %>
            <thead>
              <tr>
                <td colspan="3" class="border-top-0 pt-4 pb-0 pl-0">
                  <div class="h4 d-flex flex-nowrap">
                    <span class="flex-grow-1">Ajouter à un voisinage de personne</span>
                    <a href="?" class="btn btn-outline-secondary btn-sm">Annuler</a>
                  </div>
                </td>
              </tr>
            </thead>

            <% user_private_circle_ids = @user_private_circles.map(&:id) %>
            <% @coordinator_private_circles.each do |private_circle| %>
              <% next if private_circle.id.in?(user_private_circle_ids) %>
              <tr class="js-overlay-container">
                <td>
                  <%= link_to "", community_admin_private_circle_path(private_circle), class: "js-overlay" %>
                  <%= private_circle.title %>
                </td>
                <td>
                  <% if private_circle.respond_to?(:distance) %>
                    <%= distance_in_words private_circle.distance %>
                  <% end %>
                </td>
                <td class="text-right py-0 align-middle">
                  <%= button_to "Ajouter",
                        community_admin_user_groups_path(@user,
                          group_id: private_circle.id),
                        method: :post,
                        class: "btn btn-outline-success btn-sm" %>
                </td>
              </tr>
            <% end %>

            <thead>
              <tr>
                <td colspan="3">
                  <div class="text-right">
                    <a href="<%= new_community_admin_private_circle_path(for_user: @user.id) %>" class="btn btn-outline-success btn-sm">Créer un nouveau voisinage de personne</a>
                  </div>
                </td>
              </tr>
            </thead>

          <% else %>
            <thead>
              <tr>
                <td colspan="3" class="text-right px-0">
                  <a href="?add_private_circle" class="btn btn-outline-secondary">
                    <% if @user_private_circles.any? %>
                      Ajouter à un autre voisinage de personne
                    <% else %>
                      Ajouter à un voisinage de personne
                    <% end %>
                  </a>
                </td>
              </tr>
            </thead>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>
