<style>
  .field_with_errors { display: inline-block }
</style>

<%= render partial: 'common/errors', locals: { obj: @conversation_message_broadcast } %>
<%= form_for [:admin, @conversation_message_broadcast], html: { role: "form" } do |f| %>

  <% if @conversation_message_broadcast.archived? %>
    <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Archivé</b><br>
        Ce broadcast est archivé. Pour (r)envoyer le message, merci de le désarchiver.
      </div>
      <%= f.submit "Désarchiver", name: :unarchive, class: "btn btn-success" %>
    </div>
  <% elsif @conversation_message_broadcast.persisted? %>
    <div class="alert alert-success" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Actif</b><br>
        Ce broadcast est actif.
      </div>
      <%= f.submit "Archiver", name: :archive, class: "btn btn-danger" %>
    </div>
    <div class="alert alert-danger" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Envoyer</b><br>
        L'envoi sera effectué auprès de <%= @conversation_message_broadcast.users.count %> utilisateurs correspondants aux filtres configurés.<br>
        Le broadcast sera automatiquement archivé.
      </div>
        <%= link_to("Envoyer", send_admin_conversation_message_broadcast_path, method: :post, class: "btn btn-success") %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Titre", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 form-group">
      <% areas = ModerationArea.all.map {|area| [area.name_with_departement, area.id]} %>
      <%= f.label :moderation_area_id %>
      <%= f.select :moderation_area_id, options_for_select(areas, @conversation_message_broadcast.moderation_area_id), { include_blank: false }, class: "form-control" %>
    </div>
    <div class="col-xs-6 form-group">
      <% goals = UserGoalPresenter.all(current_user.community).map {|goal| [goal.name, goal.slug]} %>
      <%= f.label :goal %>
      <%= f.select :goal, options_for_select(goals, @conversation_message_broadcast.goal), { include_blank: false }, class: "form-control" %>
    </div>
  </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control", rows: 5, required: true %>
    </div>

  <% unless @conversation_message_broadcast.archived? %>
    <%= f.submit 'Enregistrer', class: "btn btn-primary" %>
    <%= link_to "Annuler", admin_conversation_message_broadcasts_path, class: "btn btn-default" %>
  <% else %>
    <%= link_to "Retour", admin_conversation_message_broadcasts_path, class: "btn btn-default" %>
  <% end %>
<% end %>
