<p id="notice"><%= notice %></p>

<h1>Listing Registration Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registration_requests.each do |registration_request| %>
      <tr>
        <td><%= link_to 'Show', registration_request %></td>
        <td><%= link_to 'Edit', edit_registration_request_path(registration_request) %></td>
        <td><%= link_to 'Destroy', registration_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration request', new_registration_request_path %>
