<%# Gérer color et autres %>

<div class="conversation-message">
  <div class="conversation-gutter">
    <div style="background-color: hsl(<%= color[chat_message.user_id] %>, 70%, 75%)" class="conversation-icon">
      <%= [chat_message.user.first_name.try(:first), chat_message.user.last_name.try(:first)].compact.join.upcase %>
    </div>
  </div>
  <div class="conversation-content">
    <div>
      <%= link_to chat_message.user.full_name, admin_user_path(chat_message.user), class: "conversation-sender" %>
      <span class="conversation-timestamp"><%= l chat_message.created_at, format: "%H:%M:%S" %></span>
    </div>

    <% if chat_message.deleted? %>
      <p style="color: red;"> Ce message a été supprimé : </p>
      <em><%= simple_format chat_message.content(true) %></em>
    <% else %>
      <%= simple_format chat_message.content %>
    <% end %>
  </div>
  <div class="conversation-actions">
    <div class="dropdown" style="display: inline-block">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <li>
          <%= link_to "Supprimer le message",
              destroy_message_admin_conversations_path(id: chat_message.id),
              remote: true,
              method: :delete,
              data: { confirm: "Voulez-vous vraiment supprimer ce message ? Cette opération est irréversible.\n\n#{chat_message.user.full_name} :\n#{chat_message.content}" },
              class: "text-danger" %>
        </li>
      </ul>
    </div>
  </div>
</div>
