<% date = nil %>
<% color = {} %>
<% chat_messages.reverse.each_with_index do |message, index| %>
  <% if index == chat_messages.count || date != message.created_at.to_date %>
    <% date = message.created_at.to_date %>
    <div class="conversation-day-divider">
      <div class="conversation-day-divider-label">
        <% if date == Date.today %>
          aujourd'hui
        <% else %>
          <%= l date, format: "%A %-d %B %Y" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% color[message.user_id] ||= (color.count * 0.381966011 * 360).round %>

  <div class="conversation-message">
    <div class="conversation-gutter">
      <div style="background-color: hsl(<%= color[message.user_id] %>, 70%, 75%)" class="conversation-icon">
        <%= [message.user.first_name.try(:first), message.user.last_name.try(:first)].compact.join.upcase %>
      </div>
    </div>
    <div class="conversation-content">
      <div>
        <%= link_to message.user.full_name, admin_user_path(message.user), class: "conversation-sender" %>
        <span class="conversation-timestamp"><%= l message.created_at, format: "%H h %M" %></span>
      </div>
-
      <% if message.deleted? %>
        <p style="color: red;"> Ce message a été supprimé : </p>
        <em><%= simple_format message.content(true) %></em>
      <% else %>
        <%= simple_format message.content %>
      <% end %>
    </div>
    <div class="conversation-actions">
      <div class="dropdown" style="display: inline-block">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          <li>
            <%= link_to "Supprimer le message",
                destroy_message_admin_conversations_path(id: message.id),
                remote: true,
                method: :delete,
                data: { confirm: "Voulez-vous vraiment supprimer ce message ? Cette opération est irréversible.\n\n#{message.user.full_name} :\n#{message.content}" },
                class: "text-danger" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
