<style>
  .conversation:hover {
    background-color: rgba(0, 0, 0, .05);
  }

  .conversation.unread {
    font-weight: bold;
  }

  .conversation-link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    transition: background-color 0.3s;
  }

  .conversation-link:hover {
    background-color: #f0f0f0; /* Changez la couleur d'arrière-plan au survol */
    text-decoration: none;
  }

  .conversation {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
  }

  .conversation-avatar {
    flex: 0 0 auto;
    margin-right: 10px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .conversation-details {
    flex: 1;
  }

  .conversation-recipients {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .conversation-message {
    color: #666;
  }

  .conversation-date {
    flex: 0 0 auto;
    font-size: 0.8em;
    color: #999;
  }

</style>
<div class="container">
  <h1>Messages privés</h1>

  <div style="margin-bottom: 15px">
    <div class="btn-group btn-group-sm">
      <%= link_to "Tous", @params.except(:filter), class: "btn btn-#{params.key?(:filter) ? :default : :primary}" %>
      <%= link_to "Non-lus", @params.merge(filter: :unread), class: "btn btn-#{params[:filter] == 'unread' ? :primary : :default}" %>
      <%= link_to "POC multiple", @params.merge(filter: :multiple), class: "btn btn-#{params[:filter] == 'multiple' ? :primary : :default}" %>
    </div>

    <%= link_to "Archivés", @params.merge(filter: :archived), class: "btn btn-#{params[:filter] == 'archived' ? :primary : :default} btn-sm" %>
  </div>

  <div class="row">
    <div class="conversations-menu col-sm-4">
      <% @conversations.each do |conversation| %>
        <% last_message = @last_message[conversation.id] %>
        <% recipient_ids = @recipient_ids[conversation.id] %>

        <%= link_to chat_messages_admin_conversation_path(conversation), remote: true, class: "conversation-link", data: { id: conversation.id } do %>
          <div class="conversation <%= 'unread' if conversation.unread %>">
            <div class="conversation-content">
              <div class="conversation-avatar">
                <!-- Ajoutez ici le code pour afficher l'avatar de l'utilisateur -->
                <% if conversation.user.avatar_url.present? %>
                  <%= image_tag conversation.user.avatar_url, alt: conversation.user.full_name, class: "avatar" %>
                <% end %>
              </div>
              <div class="conversation-details">
                <div class="conversation-recipients">
                  <%= conversation_recipients_display_names(recipient_ids).map(&:first).join(', ') %>
                </div>

                <div class="conversation-message">
                  <% if last_message.nil? %>
                    <span class="text-muted">(pas de messages)</span>
                  <% else %>
                    <% if last_message.user_id == @user.id %>
                      Vous :
                    <% elsif recipient_ids.count > 1 %>
                      <%= display_user_name @users[last_message.user_id] %> :
                    <% end %>

                    <% if last_message.deleted? %>
                      <p style="color: red;">Ce message a été supprimé : </p>
                      <em><%= simple_format last_message.content(true) %></em>
                    <% else %>
                      <%= simple_format last_message.content %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="conversation-date" style="text-align: right">
                <%= smart_date(last_message&.created_at || conversation.created_at) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="conversations-chat-messages col-sm-8">
    </div>
  </div>

  <%= paginate @conversations %>
</div>
