<style>
  .overlay-container {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .overlay-container a:not(.overlay) {
    position: relative;
    z-index: 2;
  }

  .conversation {
    display: flex;
  }

  .conversation-recipients {
    width: 250px;
  }

  .conversation-content {
    width: 100%;
  }

  .conversation-timestamp {
    width: 100px;
  }

  .conversation:hover {
    background-color: rgba(0, 0, 0, .05);
  }

  .conversation.unread {
    font-weight: bold;
  }

  .cell {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
<div class="container">
  <h1>Messages privés</h1>

  <div style="margin-bottom: 15px">
    <div class="btn-group btn-group-sm">
      <%=
        link_to(
          "Tous",
          @params.except(:filter),
          class: "btn btn-#{params.key?(:filter) ? :default : :primary}"
        )
      %>
      <%=
        link_to(
          "Non-lus",
          @params.merge(filter: :unread),
          class: "btn btn-#{params[:filter] == 'unread' ? :primary : :default}"
        )
      %>
    </div>
    <%=
      link_to(
        "Archivés",
        @params.merge(filter: :archived),
        class: "btn btn-#{params[:filter] == 'archived' ? :primary : :default} btn-sm"
      )
    %>
  </div>

  <div class="row">
    <table class="table custom-table">
      <thead>
        <th>Envoyé par</th>
        <th>Dernier message</th>
        <th>Date</th>
      </thead>
      <% @conversations.each do |conversation| %>
        <% last_message = @last_message[conversation.id] %>
        <% recipient_ids = @recipient_ids[conversation.id] %>
        <%
          def display_name user
            [user.first_name, user.last_name].map(&:presence).compact.join(' ')
          end
        %>
          <% unless last_message.nil? %>
            <tr class="<%= :unread if conversation.unread %> clickable-row" data-href="<%= admin_conversation_path(conversation) %>">
              <td>
                <%
                  n = 3
                  recipient_names =
                    recipient_ids.first(n).map { |id| display_name @users[id] }
                  if recipient_ids.count == (n + 1)
                    recipient_names.push "1 autre personne"
                  elsif recipient_ids.count > (n + 1)
                    recipient_names.push "#{recipient_ids.count - n} autres personnes"
                  end
                %>
                <%= recipient_names.join(', ') %>
              </td>
              <td>
                <% if last_message.user_id == @user.id %>
                  Vous :
                <% elsif recipient_ids.count > 1 %>
                  <%= display_name @users[last_message.user_id] %> :
                <% end %>

                <% if last_message.deleted? %>
                  <p style="color: red;"> Ce message a été supprimé : </p>
                  <em><%= simple_format last_message.content(true) %></em>
                <% else %>
                  <%= simple_format last_message.content %>
                <% end %>
              </td>

              <td>
                <% timestamp = last_message&.created_at || conversation.created_at %>
                <% if timestamp.today? %>
                  <%= l timestamp, format: "%H:%M" %>
                <% elsif timestamp >= 7.days.ago.midnight %>
                  <%= l timestamp, format: "%A" %>
                <% else  %>
                  <%= l timestamp, format: "%-d %b" %>
                <% end %>
              </td>
            </tr>
          <% end %>
      <% end %>
    </table>
  </div>

  <div class="container">
    <%= paginate @conversations %>
  </div>

  <script>
    $(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.location = $(this).data("href");
      });
    });
  </script>
</div>
