<style>
  .conversation:hover {
    background-color: rgba(0, 0, 0, .05);
  }

  .conversation.unread {
    font-weight: bold;
  }

  .conversation-link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    transition: background-color 0.3s;
  }

  .conversation-link:hover {
    background-color: #f0f0f0; /* Changez la couleur d'arrière-plan au survol */
    text-decoration: none;
  }

  .conversation {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
  }

  .conversation-avatar {
    flex: 0 0 auto;
    margin-right: 10px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .conversation-details {
    flex: 1;
  }

  .conversation-recipients {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .conversation-message {
    color: #666;
  }

  .conversation-date {
    flex: 0 0 auto;
    font-size: 0.8em;
    color: #999;
  }

</style>
<div class="container">
  <h1>Messages privés</h1>

  <div style="margin-bottom: 15px">
    <div class="btn-group btn-group-sm">
      <%= link_to "Tous", @params.except(:filter), class: "btn btn-#{params.key?(:filter) ? :default : :primary}" %>
      <%= link_to "Non-lus", @params.merge(filter: :unread), class: "btn btn-#{params[:filter] == 'unread' ? :primary : :default}" %>
      <%= link_to "POC multiple", @params.merge(filter: :multiple), class: "btn btn-#{params[:filter] == 'multiple' ? :primary : :default}" %>
    </div>

    <%= link_to "Archivés", @params.merge(filter: :archived), class: "btn btn-#{params[:filter] == 'archived' ? :primary : :default} btn-sm" %>

    <%= form_tag admin_conversations_path, remote: true, method: :get, html: { role: "form" } do |f| %>
      <%= text_field_tag :search, nil, class: "form-control", style: "width: 200px;", placeholder: "Recherche par membre", required: true %>
    <% end %>
  </div>

  <div class="conversations-list">
    <%= render partial: 'conversations', locals: { conversations: @conversations } %>
  </div>
</div>
