<div class="container">
  <%= render 'show_header', tab: :show_members %>

  <table class="table">
    <th>Id</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Téléphone</th>
    <th>Statut</th>
    <th>Membre depuis</th>

    <% @conversation.join_requests.each do |join_request| %>
      <% user = join_request.user %>

      <tr>
        <td><%= user.id %></td>
        <td>
          <%= link_to user.full_name, edit_admin_user_path(user.id) %>
          <% if user == @conversation.user %><i>(administrateur)</i><% end %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.status %></td>
        <td><%= l join_request.created_at, format: :date_long %></td>
      </tr>
    <% end %>
  </table>
</div>
