<div class="container">
  <%= render 'show_header', tab: :show_members %>

  <table class="table">
    <th>Id</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Téléphone</th>
    <th>Membre</th>
    <th>Membre depuis</th>
    <th></th>

    <% @conversation.join_requests.each do |join_request| %>
      <% user = join_request.user %>

      <tr>
        <td><%= user.id %></td>
        <td>
          <%= link_to user.full_name, edit_admin_user_path(user.id) %>
          <% if user == @conversation.user %><i>(administrateur)</i><% end %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td>
          <span class="badge" style="<%= join_request.accepted? ? 'background: green' : "" %>">
            <%= join_request.status %>
          </span>
        </td>
        <td><%= l join_request.created_at, format: :date_long %></td>
        <td>
          <% if join_request.accepted? %>
            <%= button_to "Supprimer", unjoin_admin_conversation_path(@conversation.id, user_id: user.id), method: :post, class: "btn btn-default btn-sm", form: { style: "display: inline-block" } %></td>
          <% else %>
            <%= button_to "Rejoindre", invite_admin_conversation_path(@conversation.id, user_id: user.id), method: :post, class: "btn btn-default btn-sm", form: { style: "display: inline-block" } %></td>
          <% end %>
      </tr>
    <% end %>
  </table>
</div>
