<div class="container">
  <div style="width: 750px; margin: auto">
    <ol class="breadcrumb">
      <li><%= link_to "Photos de groupe de voisinage", admin_neighborhood_images_path %></li>
      <li><%= link_to @neighborhood_image.title, edit_admin_neighborhood_image_path(@neighborhood_image) %></li>
      <li class="active">Image</li>
    </ol>

    <h1>Modifier l'image</h1>

    <% size = controller.action_name.to_s == 'edit_portrait' ? '300x492' : '1125x375' %>

    <div class="margin-bottom: 15px">
      <p><i><%= size %> px</i></p>
      <%= image_tag(@image, size: size) if @image.present? %>
    </div>

    <form class="form-inline" id="upload-form" action="#" method="post" enctype="multipart/form-data">
      <div>PNG ou JPEG, <% size %></div>
      <div class="form-group">
        <input type="file" class="btn btn-default" name="file" accept="<%= @form.content_types %>"/>
      </div>
      <input type="submit" value="Enregistrer" class="btn btn-success" disabled/>
    </form>
  </div>
</div>

<script>
  (function() {
    var $form = $('#upload-form'),
        $fileInput = $form.find('input[type=file]'),
        $submit = $form.find('[type=submit]');

    $fileInput.on('change', function() {
      var file = this.files[0],
          $field = null;

      // Check file size
      if (file.size > 2 * 1024 * 1024) {
        return alert("L'image ne peut excéder 2Mo");
      }

      // Upload
      $submit.prop('disabled', true);

      $.ajax(
        '<%= new_admin_upload_path %>', {
        data: {
          uploader: '<%= @form.name.underscore %>',
          neighborhood_image_id: '<%= @neighborhood_image.id %>',
          redirect_url: '<%= @redirect_url %>',
          filetype: file.type
        }
      })
      .done(function(data) {
        $form.attr('action', data.url);
        Object.keys(data.fields).forEach(function(key) {
          $field = $form.find('input[name=' + key + ']');
          if ($field.length === 0) {
            $field = $('<input>', {name: key, type: 'hidden'})
                     .insertBefore($fileInput); // 'file' must be the last field
          }
          $field.val(data.fields[key]);
        });
        $submit.prop('disabled', false);
      });
    });
  })();
</script>
