<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #07123a; color: #07123a;">
    <table style="width: 600px; margin: 15px auto; background-color: #eee; padding: 10px;">
      <tr>
        <td colspan="2">
          <p>Bonjour <%= @user.first_name %></p>
          <p>
           Bravo, vous avez maintenant une nouvelle maraude &agrave; votre actif !
           Voici un r&eacute;sum&eacute; que vous pourrez ensuite transf&eacute;rer &agrave; votre coordinateur.
          </p>
          <h2 style="text-align: center;">Votre parcours</h2>
        </td>
      </tr>
      <tr>
        <td style="width:300px;">
          <img src="<%= raw @tour.static_path_map.url %>" alt="parcours"/>
          <% if @tour.encounters.count > 0 %>
          <img src="<%= raw @tour.static_encounters_map.url %>" alt="rencontres"/>
          <% end %>
        </td>
        <td style="width:300px; padding: 10px; vertical-align: top;">
          <% if @tour.tour_points.count > 0 %>
          <p>D&eacute;part &agrave; <%= @tour.tour_points.first.passing_time.strftime('%H:%M')  %></p>
          <p>Arriv&eacute;e &agrave; <%= @tour.tour_points.last.passing_time.strftime('%H:%M') %></p>
          <p><%= meters_to_printable_km @tour.length %> km parcourus</p>
          <% end %>
          <% if @tour.encounters.count > 0 %>
          <ul>
            <% @tour.encounters.each_with_index do |encounter, index| %>
            <li>
              <%= marker_index index %> - Rencontre de <%= encounter.street_person_name %>
            </li>
            <% end %>
          </ul>
          <% end %>
        </td>
      </tr>
      <% if @tour.encounters.count > 0 %>
      <tr>
        <td colspan="2" style="padding: 10px;">
          <ul>
            <% @tour.encounters.each_with_index do |encounter, index| %>
            <li>
              <p>
                <%= marker_index index %> - <%= encounter.street_person_name %> &agrave; <%= encounter.date.strftime('%H:%M') %>
              </p>
              <p>
                <%= encounter.message %>
              </p>
            </li>
            <% end %>
          </ul>
        </td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
