<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #07123a; color: #07123a;">
    <table style="width: 600px; margin: 15px auto; background-color: #eee; padding: 10px;">
      <tr>
        <td colspan="2">
          <p>Bonjour <%= @user.first_name %></p>
          <p>
           Bravo, vous avez maintenant une nouvelle maraude &agrave; votre actif !
           Voici un r&eacute;sum&eacute; que vous pourrez ensuite transf&eacute;rer &agrave; votre coordinateur.
          </p>
          <h2 style="text-align: center;">Votre parcours</h2>
        </td>
      </tr>
      <% if @tour.tour_points.count > 0 %>
      <tr>
        <td style="width:300px;">
          <img src="<%= raw @tour.static_path_map.url %>" alt="parcours"/>
        </td>
        <td style="width:300px; padding: 10px; vertical-align: top;">
          <p><strong>D&eacute;part</strong> &agrave; <%= @tour.created_at.try(:strftime, '%H:%M')  %></p>
          <p><strong>Arriv&eacute;e</strong> &agrave; <%= @tour.closed_at.try(:strftime, '%H:%M') %></p>
          <p><%= @tour_presenter.distance %> parcourus</p>
        </td>
      </tr>
      <tr>
        <td style="padding: 10px;">>
          <p><%= link_to "Cliquez ici", tour_url(@tour) %> pour retrouver votre maraude sur le web </p>
        </td>
      </tr>
      <% end %>
      <% if @tour.encounters.count > 0 %>
      <tr>
        <td colspan="2" style="width:300px;">
          <h3  style="text-align: center;">Vos rencontres</h3>
        </td>
      </tr>
      <tr>
        <td style="width:300px;">
          <img src="<%= raw @tour.static_encounters_map.url %>" alt="rencontres"/>
        </td>
        <td style="width:300px; padding: 10px; vertical-align: top;">
          <ul>
            <% @tour.encounters.each_with_index do |encounter, index| %>
              <li style="padding: 10px;">
                <%= marker_index index %> - Rencontre de <%= encounter.street_person_name %>
              </li>
              <% if encounter.answers.count>0 %>
                <br>
                <p>Réponses aux questions posées :</p>
                <li>
                  <% encounter.answers.includes(:question).each do |answer| %>
                    <ul><%= answer.question.title %> : <%= answer.value %> </ul>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <p> (attention une rencontre peut en cacher une autre)</p>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding: 10px;">
          <p><strong>Description</strong></p>
          <ul>
            <% @tour.encounters.each_with_index do |encounter, index| %>
            <li>
              <p>
                <%= marker_index index %> - <%= encounter.street_person_name %> &agrave; <%= encounter.date.strftime('%H:%M') %> - <%= encounter.address %>
              </p>
              <p>
                <%= encounter.message %>
              </p>
            </li>
            <% end %>
          </ul>
        </td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
