<div class="container">
  <div style="margin: auto">
    <h1>openai_assistant_configuration</h1>

    <div class="row">
      <% unless @openai_assistant_configurations.none? %>
        <table class="table custom-table">
          <thead>
            <th>Version</th>
            <th>Prompt</th>
            <th>poi_from_file</th>
            <th>resource_from_file</th>
            <th>days_for_actions</th>
            <th>days_for_outings</th>
          </thead>
          <% @openai_assistant_configurations.each_with_index do |openai_assistant_configuration, i| %>
            <% parite = i.even? ? 'pair' : 'impair' %>

            <tr class="above-row row-<%= parite %>">
              <td><%= link_to openai_assistant_configuration.version, edit_admin_openai_assistant_configuration_path(openai_assistant_configuration) %></td>
              <td><%= link_to openai_assistant_configuration.prompt, edit_admin_openai_assistant_configuration_path(openai_assistant_configuration) %></td>
              <td><%= openai_assistant_configuration.poi_from_file %></td>
              <td><%= openai_assistant_configuration.resource_from_file %></td>
              <td><%= openai_assistant_configuration.days_for_actions %></td>
              <td><%= openai_assistant_configuration.days_for_outings %></td>
          <% end %>
        </table>
      <% end %>
    </div>

    <%= page_entries_info @openai_assistant_configurations, entry_name: 'openai_assistant_configurations' %>
    <div class="container">
      <%= paginate(@openai_assistant_configurations) %>
    </div>
  </div>
</div>
