<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
  <%= render 'common/errors', obj: @user %>

  <div class="field form-group required">
    <label class='control-label'>Prénom</label>
    <%= f.text_field :first_name, class: 'form-control', required: true %>
  </div>

  <div class="field form-group required">
    <label class='control-label'>Nom</label>
    <%= f.text_field :last_name, class: 'form-control', required: true %>
  </div>

  <div class="field form-group required">
    <label class='control-label'>Téléphone</label>
    <%= f.text_field :phone, class: 'form-control', required: true %>
  </div>

  <div class="field form-group required">
    <label class='control-label'>Email</label>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>

  <%= f.hidden_field :send_sms, name: "send_sms", value: "0" %>

  <% if current_manager %>
    <div class="field form-group">
      <label>Administrateur</label>
      <%= f.check_box :manager %>
    </div>
  <% end %>
  <% if current_admin %>
    <div class="field form-group">
      <label>Snap to road (points collés à la route)</label>
      <%= check_box_tag "user[snap_to_road]", 'true', @user_presenter.snap_to_road %>
    </div>

    <div class="field form-group">
      <label>Points simplifiés (affichage des maraudes plus rapide)</label>
      <%= check_box_tag "user[simplified_tour]", 'true', @user_presenter.simplified_tour %>
    </div>
  <% end %>

  <div class="actions form-group">
    <%= f.submit "Sauvegarder", class: "btn btn-primary", id: "save_user" %>
  </div>
<% end %>