<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Utilisateurs <%= link_to '', '#add-user', class: 'btn btn-default fa fa-user-plus' %></h2>
      <ul class="list-inline" id="user-list">
        <% @users.each do |user| %>
          <li class="user-card">
            <i class="fa fa-user fa-5x"></i>
            <h4><%= user.last_name %></h4>
            <h5><%= user.first_name %></h5>
            <%= link_to '', edit_user_path(user), class: 'btn btn-default fa fa-pencil' %>
            <%= link_to '', user_path(user), method: :delate, data: {confirm: 'Etes-vous sûr ?'}, class: 'btn btn-default fa fa-trash' %>
            <button type="button" class="btn btn-default fa fa-envelope send_sms" data-toggle="modal" data-target="#sendSMSUserModal" data-user-id="<%= user.id %>"></button>
            <%= hidden_field_tag 'url_template', send_sms_user_url("{user_id}") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h2 id="add-user">Nouvel utilisateur</h2>
      <%= render "users/form" %>
    </div>
  </div>
</div>
<%= render partial: "users/create_user_modal_confirm" %>
<%= render partial: "users/send_sms_user_modal" %>