<% #layout_options(menu: false, partner_name: false, exit_admin: false) %>

<div class="container-s mt-6 mb-2 px-3">
  <div class="text-large mb-2">Finalisons la création de votre compte !</div>
  <%= form_for current_user, method: :post, url: good_waves_onboarding_path do |f| %>
    <% if flash[:error_type] == 'unknown' %>
      <div class="color-danger mb-2">
        Une erreur s'est produite. Veuillez vérifier vos réponses et réessayer. Si le problème persiste, écrivez-nous à <a href="mailto:lesbonnesondes@entourage.social" target="_blank">lesbonnesondes@entourage.social</a>.
      </div>
    <% end %>

    <div class="mb-2">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, required: true, autocomplete: 'given-name', class: 'form-control' %>
    </div>
    <div class="mb-2">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, required: true, autocomplete: 'family-name', class: 'form-control' %>
      <div class="text-small mt-05">Seule l'initiale de votre nom sera affichée.</div>
    </div>
    <div class="mb-2">
      <%= f.label :email, "Adresse e-mail" %>
      <%= f.email_field :email, required: true, autocomplete: 'email', class: 'form-control' %>
    </div>
    <% unless current_user.has_password? %>
      <div class="mb-2">
        <%= f.label :password, "Mot de passe" %>
        <%= f.password_field :password, required: true, minlength: 8, maxlength: 256, autocomplete: 'new-password', class: 'form-control' %>
        <div class="text-small mt-05">Les mots de passe doivent comporter au moins 8 caractères et ne doivent pas être faciles à deviner. « Motdepasse », « 123456 » ou « abcdef » sont par exemple à éviter.</div>
      </div>
    <% end %>
    <div class="text-right mb-2">
      <%= f.submit "Continuer", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="text-small">En continuant, vous acceptez les <a href="https://www.entourage.social/cgu/" target="_blank">Conditions Générales d'Utilisation</a> d'Entourage</div>
</div>
