<style>
  .overlay-container {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .overlay-container a:not(.overlay) {
    position: relative;
    z-index: 2;
  }

  .has-fixed-footer {
    margin-bottom: 70px;
  }

  .fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
</style>

<%
  method, path, confirm, cancel_path =
    if @neighborhood.new_record?
      [
        :post, community_admin_neighborhoods_path,
        "Créer le voisinage",
        community_admin_neighborhoods_path
      ]
    else
      [
        :put, community_admin_neighborhood_path(@neighborhood),
        "Enregister les modifications",
        community_admin_neighborhood_path(@neighborhood)
      ]
    end
%>
<div class="container mt-5 has-fixed-footer">
  <div class="row justify-content-md-center">
    <%= form_for @neighborhood, url: path, method: method,
            html: {class: "col-8"} do |f| %>
      <div class="d-flex flex-nowrap mb-4">
        <div class="flex-grow-1">
          <div class="form-group">
            <%= f.label :title, "Nom" %>
            <%= f.text_field :title, class: "form-control", required: true %>
          </div>
        </div>
      </div>

      <div class="fixed-footer p-3 bg-light d-flex justify-content-end">
        <a href="<%= cancel_path %>" class="btn btn-outline-secondary mr-3">Annuler</a>
        <button type="submit" class="btn btn-success"><%= confirm %></button>
      </div>
    <% end %>
  </div>
</div>
