<style>
  .overlay-container {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .overlay-container a:not(.overlay),
  .overlay-container .btn {
    position: relative;
    z-index: 2;
  }

  .btn-ellipsis {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
  }

  .btn-ellipsis:before {
    content: "•••";
    display: block;
    height: 1em;
    position: relative;
    top: -0.3em;
  }

  .btn-ellipsis:hover {
    border-color: #6c757d;
  }

  form.button_to input[type="submit"] {
    cursor: pointer;
  }
</style>

<%= render 'nav', active: :neighborhoods %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12">
      <div class="mb-4">
        <div class="h2 d-flex flex-nowrap">
          <span class="flex-grow-1"><%= @neighborhood.title %></span>
          <a href="<%= edit_community_admin_neighborhood_path(@neighborhood) %>"
             class="btn btn-outline-secondary">Modifier</a>
        </div>
        <% if @neighborhood.metadata[:address].present? %>
          <div>
            Autour de
            <%= link_to @neighborhood.metadata[:address],
                  "https://www.google.com/maps/search/?api=1&query=#{@neighborhood.metadata[:address]}&query_place_id=#{@neighborhood.metadata[:google_place_id]}", target: :_blank %>
          </div>
        <% end %>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="4" class="p-0 border-top-0">
              <h4>Animateurs</h4>
            </td>
          </tr>
          <% if @users[:coordinators].empty? %>
            <td colspan="4" class="text-muted text-center">
              Il n'y a pas d'animateur dans ce voisinage.
            </td>
          <% end %>
        </thead>
        <% @users[:coordinators].each do |user| %>
          <tr class="overlay-container">
            <%= render 'community_admin/users/list_item', user: user %>
            <td class="text-right">
              <div class="dropdown">
                <span class="btn-sm btn btn-ellipsis" data-toggle="dropdown"></span>
                <div class="dropdown-menu dropdown-menu-right">
                  <% role = user.role.to_sym %>
                  <%= button_to "Retirer le rôle d'animateur",
                        community_admin_user_group_role_path(user,
                          group_id: @neighborhood.id, role: :member),
                        method: :post,
                        class: "dropdown-item" %>
                  <%= button_to "Retirer du voisinage",
                        community_admin_user_groups_path(user,
                          group_id: @neighborhood.id, redirect: :group),
                        method: :delete,
                        class: "dropdown-item text-danger" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>

        <thead>
          <tr>
            <td colspan="4" class="text-right px-0">
              <a href="<%= community_admin_users_path(for_group: @neighborhood.id, for_role: :coordinator, roles: [:coordinator]) %>" class="btn btn-outline-secondary">
                Ajouter un animateur
              </a>
            </td>
          </tr>
        </thead>

        <thead>
          <tr>
            <td colspan="4" class="p-0 pt-4 border-top-0">
              <h4>Membres</h4>
            </td>
          </tr>
          <% if @users[:members].empty? %>
            <td colspan="4" class="text-muted text-center">
              Il n'y a pas de membre pour le moment.
            </td>
          <% end %>
        </thead>
        <% @users[:members].each do |user| %>
          <tr class="overlay-container">
            <%= render 'community_admin/users/list_item', user: user %>
            <td class="text-right">
              <div class="dropdown">
                <span class="btn-sm btn btn-ellipsis" data-toggle="dropdown"></span>
                <div class="dropdown-menu dropdown-menu-right">
                  <% role = user.role.to_sym %>
                  <%= button_to "Attribuer le rôle d'animateur",
                        community_admin_user_group_role_path(user,
                          group_id: @neighborhood.id, role: :coordinator),
                        method: :post,
                        class: "dropdown-item" %>
                  <%= button_to "Retirer du voisinage",
                        community_admin_user_groups_path(user,
                          group_id: @neighborhood.id, redirect: :group),
                        method: :delete,
                        class: "dropdown-item text-danger" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>

        <thead>
          <tr>
            <td colspan="4" class="text-right px-0">
              <a href="<%= community_admin_users_path(for_group: @neighborhood.id, for_role: :member) %>" class="btn btn-outline-secondary">
                Ajouter un membre
              </a>
            </td>
          </tr>
        </thead>

      </table>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    var $filters = $('#filters')
    $filters.on('show.bs.collapse hide.bs.collapse', function(e) {
      $filters.find('[data-target="#' + e.target.id + '"]')
              .toggleClass('active', e.type === 'show')
    })
    $('[data-toggle="checkbox"]').on('click', function(e) {
      e.preventDefault()
      var data = $(e.target).data()
      $('#' + data.target + ' input[type=checkbox]')
        .attr('checked', data.type === 'all')
    })
  </script>
<% end %>
