<style>
  .field_with_errors { display: inline-block }
</style>

<%= render partial: 'common/errors', locals: { obj: @user_message_broadcast } %>
<%= form_for [:admin, @user_message_broadcast], html: { role: "form" } do |f| %>

  <% if @user_message_broadcast.archived? %>
    <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Archivé</b><br>
        Cette diffusion de MP est archivée. Vous pouvez la dupliquer pour planifier une diffusion similaire.
      </div>
      <%= link_to("Dupliquer", clone_admin_user_message_broadcast_path, method: :post, class: "btn btn-success") %>
    </div>
  <% elsif @user_message_broadcast.sending? %>
    <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>En cours d'envoi</b><br>
        Cette diffusion de MP est en cours d'envoi. La diffusion sera archivée une fois les envois effectués.
      </div>
      <%= link_to("Rafraîchir", edit_admin_user_message_broadcast_path(@user_message_broadcast), class: "btn btn-success") %>
    </div>
  <% elsif @user_message_broadcast.sent? %>
    <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Envoyé</b><br>
        Votre message a été :
        <ul>
          <li>diffusé à <%= @user_message_broadcast.sent_count %> utilisateurs</li>
          <li>lus par <%= @user_message_broadcast.read_count %> utilisateurs</li>
          <li>le <%= l @user_message_broadcast.sent_at %>.</li>
        </ul>
        Si vous souhaitez le renvoyer, vous pouvez dupliquer cette diffusion.
      </div>
      <%= link_to("Dupliquer", clone_admin_user_message_broadcast_path, method: :post, class: "btn btn-success") %>
    </div>
  <% elsif @user_message_broadcast.persisted? %>
    <div class="alert alert-success" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Brouillon</b><br>
        Cette diffusion de MP est configurable avant envoi.<br>
        Vous pouvez également choisir de l'archiver mais cette action n'est pas réversible.
      </div>
      <%= f.submit "Archiver", name: :archive, class: "btn btn-default" %>
    </div>
    <div class="alert alert-danger" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Envoyer</b><br>
        L'envoi sera effectué auprès de <%= @user_message_broadcast.recipient_ids.count %> utilisateurs correspondants aux filtres configurés.

        <br> <br>

        ⚠️ Les utilisateurs associés aux groupes que vous sélectionnerez recevront une notification. Si un utilisateur appartient à plusieurs groupes alors il recevra autant de notifications que de groupes dans lesquels il est.
      </div>
        <%= link_to("Envoyer", broadcast_admin_user_message_broadcast_path, method: :post, class: "btn btn-danger", data: {
          confirm: "Êtes vous sûr de vouloir diffuser ces MP à #{@user_message_broadcast.recipient_ids.count} utilisateurs ?"
        }) %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Titre", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 form-group">
      <% area_types = UserMessageBroadcast::AREA_TYPES.map {|area_type| [t("activerecord.attributes.user_message_broadcast.area_types.#{area_type}"), area_type]} %>
      <%= f.label :area_type %>
      <%= f.select :area_type, options_for_select(area_types, @user_message_broadcast.area_type), { include_blank: false }, class: "form-control" %>

      <div id="user_message_broadcast_areas_container">
        <%= f.label :areas %><br/>
        <select multiple data-role="tagsinput" name="user_message_broadcast[areas][]" id="user_message_broadcast_areas">
          <% @user_message_broadcast.areas.each do |area| %>
            <option value="<%= area %>"><%= area %></option>
          <% end %>
        </select>
        <p><i>doit contenir 2 chiffres (pour cibler un département) <br>ou 5 chiffres (pour cibler une ville)</i></p>
      </div>
    </div>

    <div class="col-xs-6 form-group">
      <% goals = UserGoalPresenter.all_with_any(current_user.community).map {|goal| [goal.name, goal.slug]} %>
      <%= f.label :goal %>
      <%= f.select :goal, options_for_select(goals, @user_message_broadcast.goal), { include_blank: false }, class: "form-control" %>
    </div>
  </div>

  <%= f.fields_for :specific_filters, OpenStruct.new(@user_message_broadcast.specific_filters) do |specific_filters_form| %>
    <div>
      <%= specific_filters_form.label :has_engagement %>
      <%= specific_filters_form.select :has_engagement, options_for_select([['Indéfini', ''], ['Non', false], ['Oui', true]], selected: specific_filters_form.object.has_engagement), {} %>
    </div>

    <div>
      <% last_engagement_date = @user_message_broadcast.specific_filters['last_engagement_date'] %>

      <%= specific_filters_form.label :last_engagement_date %>
      <%= specific_filters_form.date_field :last_engagement_date, value: last_engagement_date, class: 'form-control' %>
    </div>

    <div>
      <% user_creation_date = @user_message_broadcast.specific_filters['user_creation_date'] %>

      <%= specific_filters_form.label :user_creation_date %>
      <%= specific_filters_form.date_field :user_creation_date, value: user_creation_date, class: 'form-control' %>
    </div>

    <div>
      <%= specific_filters_form.label :interests %>
      <%= specific_filters_form.collection_select :interests, Tag.interest_list, :to_s, :to_s, {}, { multiple: true, id: :interests } %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", rows: 5, required: true %>
  </div>

  <% if @user_message_broadcast.draft? %>
    <%= f.submit 'Enregistrer', class: "btn btn-primary" %>
    <%= link_to "Annuler", admin_user_message_broadcasts_path, class: "btn btn-default" %>
  <% else %>
    <%= link_to "Retour", admin_user_message_broadcasts_path, class: "btn btn-default" %>
  <% end %>
<% end %>

<script>
  $(document).on('turbolinks:load', function() {
    let $areaType = $('#user_message_broadcast_area_type');
    let $areasContainer = $('#user_message_broadcast_areas_container');
    let $areas = $('#user_message_broadcast_areas');

    function toggleAreaType() {
      $areasContainer.toggle($areaType.val() == 'list');
    }

    toggleAreaType();

    $areas.tagsinput({
      maxChars: 5,
      trimValue: true,
      size: 0
    });

    $areas.on('beforeItemAdd', function(event) {
      if (!/^([0-9]{2}|[0-9]{5})$/.test(event.item)) {
        event.cancel = true;
      }
    });

    $areaType.on('change', function(event) {
      toggleAreaType();
    });

    $('select#interests, select#user_message_broadcast_specific_filters_has_engagement').select2({ width: '100%' });
  })
</script>
