  <div class="row">
    <ol class="breadcrumb">
      <li>
        <% if @entourage.action? %>
          <%= link_to "Liste des actions", admin_actions_path(@params) %>
        <% else %>
          <%= link_to "Liste des événements", admin_outings_path(@params) %>
        <% end %>
      </li>
      <li class="active">Modifier</li>
      <li style="float: right;">
        <%= link_to nil, @entourage.share_url, target: :_blank %>
      </li>
    </ol>

    <h2>
      <span class="text-muted">#<%= @entourage.id %></span>
      <%= @entourage.name %>
    </h2>
    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= :active if params[:action] == 'show' %>">
        <%= link_to "Informations générales", admin_entourage_path(@entourage, @params) %>
      </li>
      <li role="presentation" class="<%= :active if params[:action] == 'show_members' %>">
        <%= link_to "Membres", show_members_admin_entourage_path(@entourage, @params) %>
      </li>
      <li role="presentation" class="<%= :active if params[:action] == 'show_messages' %>">
        <%= link_to "Messages", show_messages_admin_entourage_path(@entourage, @params) %>
      </li>
      <% if params[:action] == 'show_comments' %>
        <li role="presentation" class="active">
          <%= link_to "Commentaires", "#" %>
        </li>
      <% end %>

      <% if @entourage.outing? %>
        <li role="presentation" class="<%= :active if params[:action] == 'show_neighborhoods' %>">
          <%= link_to "Groupes de voisins", show_neighborhoods_admin_entourage_path(@entourage, @params) %>
        </li>
      <% else %>
        <li role="presentation" class="<%= :active if params[:action] == 'show_matchings' %>">
          <%= link_to "Matchings", show_matchings_admin_entourage_path(@entourage, @params) %>
        </li>
      <% end %>

      <% if @entourage.recurrent? %>
        <li role="presentation" class="<%= :active if params[:action] == 'show_siblings' %>">
          <%= link_to "Récurrences", show_siblings_admin_entourage_path(@entourage, @params) %>
        </li>
      <% end %>
    </ul>
  </div>
