<style>
  .adress-maps {
    margin-top: 10px;
  }
  .adress-maps img+img {
    margin-left: 10px;
  }
</style>

<% url = @entourage.new_record? ? admin_entourages_path(@entourage) : admin_entourage_path(@entourage) %>
<% method = @entourage.new_record? ? :post : :patch %>

<%= form_for(@entourage, as: :entourage, url: url, :method => method, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: "layouts/errors", locals: {obj: @entourage} %>

  <% if @entourage.new_record? %>
    <%= f.hidden_field :user_id %>
  <% end %>

  <%= f.hidden_field :group_type %>

  <div class="control-group">
    <%= f.label :title, "Titre", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, "Description", class: "control-label" %>
    <div class="controls">
      <%= f.text_area :description, rows: 6, class: "form-control" %>
    </div>
  </div>

  <% if @entourage.outing? %>
    <div class="control-group">
      <label class="control-label">Événement à places limitées</label>
      <div class="controls">
        <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
          <%= f.radio_button :place_limited, true, required: true, checked: @entourage.place_limited %>
          Oui
        </label>
        <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
          <%= f.radio_button :place_limited, false, required: true, checked: !@entourage.place_limited %>
          Non
        </label>
      </div>
    </div>

    <div class="control-group" id="place_limit_section">
      <%= f.label :place_limit, class: "control-label" %>
      <div class="controls">
        <%= text_field_tag "entourage[metadata][place_limit]", @entourage.metadata[:place_limit], placeholder: "Nombre entier positif ou laisser vide", class: "form-control" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :sf_category, class: "control-label" %>
      <div class="controls" style="max-width: 400px">
        <%= select_tag 'entourage[sf_category]', options_for_select(Tag.sf_categories.to_a.map { |key, value| [value, key] }, @entourage.sf_category), include_blank: true, required: true, class: "form-control update-select" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :outing_image_url, class: "control-label" %>
      <% if @entourage.new_record? %>
        <div class="text-muted">
          Vous pourrez ajouter une image une fois que l'événement sera crée.
        </div>
      <% else %>
        <% if @entourage.outing_image_url %>
          <div style="margin-bottom: 15px">
            <%= image_tag(@entourage.outing_image_url, size: '300x100') if @entourage.outing_image_url.present? %>
          </div>
        <% end %>

        <div>
          <%= link_to "Modifier", edit_image_admin_entourage_path, class: "btn btn-default btn-sm" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :status, "Status", class: "control-label" %>
    <div class="controls">
      <%= f.select :status, @entourage.status_list - ['cancelled'], include_blank: false %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Public (pas de join request)</label>
    <div class="controls">
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :public, true, required: true %>
        Oui
      </label>
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :public, false, required: true %>
        Non
      </label>
    </div>
  </div>

  <% if @entourage.outing? %>
    <%
      timestamps = {
        starts_at: "Date et heure de début",
        ends_at:   "Date et heure de fin"
      }
      minute_step = 5
    %>
    <% timestamps.each do |timestamp, label| %>
      <% datetime = @entourage.metadata[timestamp] %>
      <div class="control-group">
        <label class="control-label"><%= label %></label>
        <div class="controls">
          <%= date_field_tag(
                "entourage[metadata][#{timestamp}][date]",
                datetime&.to_date&.to_s,
                required: true) %>
          <%= select_hour(
                datetime&.hour,
                {include_blank: true},
                name: "entourage[metadata][#{timestamp}][hour]",
                required: true) %>
          <% minutes = datetime ? (datetime.min / minute_step.to_f).round * minute_step : nil %>
          <%= select_minute(
                minutes,
                {minute_step: 5},
                name: "entourage[metadata][#{timestamp}][min]",
                required: true) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @entourage.group_type == 'action' %>
    <% if Entourage::DEPRECATED_DISPLAY_CATEGORIES.include? @entourage.display_category %>
      <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
        <div style="flex-grow: 1">
          L'action est liée à une ancienne catégorie (<%= @entourage.display_category %>). Merci d'en choisir une autre.
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :display_category, "Catégorie affichée", class: "control-label" %>
      <div class="controls">
        <%= f.select :entourage_type, [["Demande", :ask_for_help], ["Contribution", :contribution]], {include_blank: true}, required: true %>
        <%= f.select :display_category, Entourage::DISPLAY_CATEGORIES, {include_blank: true}, required: true %>
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :entourage_type %>
    <%= f.hidden_field :display_category if @entourage.display_category.present? %>
  <% end %>

  <% if @entourage.online_setting_options.many? %>
    <div class="control-group">
      <label class="control-label">En ligne (pas d'adresse physique, visible partout)</label>
      <div class="controls">
        <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
          <%= f.radio_button :online, true, required: true %>
          Oui
        </label>
        <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
          <%= f.radio_button :online, false, required: true %>
          Non
        </label>
      </div>
    </div>

    <div class="control-group <%= :hide unless @entourage.online %>" id="url-block">
      <%= f.label :event_url, "Lien de la visioconférence", class: "control-label" %>
      <div class="controls">
        <%= f.url_field :event_url, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <% if @entourage.group_type.in?(['action', 'group']) %>
    <%= render partial: 'edit_action_address', locals: { entourage: @entourage, f: f } %>
  <% end %>
  <% if @entourage.group_type == 'outing' %>
    <%= render partial: 'edit_outing_address', locals: { entourage: @entourage } %>
  <% end %>

  <br>
  <%= f.submit "Enregistrer", class: "btn btn-success" %>
  <% if @entourage.action? %>
    <%= link_to "Annuler", admin_actions_path(@params), class: "btn btn-default" %>
  <% else %>
    <%= link_to "Annuler", admin_outings_path(@params), class: "btn btn-default" %>
  <% end %>
<% end %>

<% if @entourage.group_type == 'outing' %>
<!--   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_FRONTEND_API_KEY'] %>&libraries=places&region=fr&language=fr"></script> -->

  <script>
    var input = document.getElementById('metadata_address');
    var $input = $(input);
    var options = {
      fields: ['name', 'place_id', 'geometry.location', 'formatted_address', 'address_components']
    };

    autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.addListener('place_changed', function() {
      var place = this.getPlace();

      if (typeof place.place_id === 'undefined') {
        $input.removeClass('is-valid').addClass('is-invalid');
        $input.siblings('input[type=hidden]').prop('disabled', true);
      }
      else {
        $input.data('last-valid', $input.val());
        $input.removeClass('is-invalid').addClass('is-valid');
        $input.siblings('input[type=hidden]').prop('disabled', true);
        var details = {
          google_place_id: place.place_id,
          latitude: place.geometry.location.lat(),
          longitude: place.geometry.location.lng(),
          place_name: place.name,
          street_address: place.formatted_address,
        };
        var component;
        for (var i in place.address_components) {
          component = place.address_components[i];

          if (component.types.indexOf('country') !== -1) {
            details.country = component.short_name;
          }
          else if (component.types.indexOf('postal_code') !== -1) {
            details.postal_code = component.short_name;
          }
        }
        for (var attribute in details) {
          $input.siblings('input[type=hidden][name*="[' + attribute + ']"]')
            .prop('disabled', false)
            .val(details[attribute]);
        }
      }
    });

    $input.on('blur', function() {
      $input.val($input.data('last-valid'));
      $input.removeClass('is-invalid is-valid');
    });

    $input.on('keydown', function(e) {
      if (e.keyCode === 13) {
        e.preventDefault();
      }
    })

    $('#metadata_starts_at_date').on('blur', function() {
      var $endsAt = $('#metadata_ends_at_date')
      if ($endsAt.val() === '') $endsAt.val(this.value)
    })

    var place_limit_visibility = function() {
      if ($('input[name="entourage[place_limited]"]:checked').val() === 'true') {
        $("#place_limit_section").show();
      } else {
        $("#place_limit_section").hide();
      }
    }

    $("input[name='entourage[place_limited]']").change(place_limit_visibility);

    place_limit_visibility();
  </script>
<% end %>

<% if @entourage.group_type.in?(['action', 'group']) %>
<script>
  var autocomplete;

  function initAutocomplete() {
    var $autocomplete = $('#autocomplete');
    autocomplete = new google.maps.places.Autocomplete(
      $autocomplete[0],
      {
        types: ['geocode']
      }
    );

    autocomplete.addListener('place_changed', fillInLocation);
    $autocomplete.on('keypress', function(e) {
      if ((e.keyCode || e.which || e.charCode) === 13) {
        e.preventDefault();
      }
    });
  }

  function fillInLocation() {
    var location = autocomplete.getPlace().geometry.location,
        lat = location.lat(),
        lng = location.lng();

    $('#entourage_latitude').val(lat).prop('disabled', false);
    $('#entourage_longitude').val(lng).prop('disabled', false);
    $('#addressMaps img').each(function(_, map) {
      map.src = map.src.replace(/markers=[^&]*/, 'markers=' + lat + ',' + lng);
    })
  }

  initAutocomplete();
</script>
<% end %>

<% if @entourage.online_setting_options.many? %>
  <script>
    function toggleOnlineFields() {
      var online = $('input[name="entourage[online]"]:checked').val() === 'true'
      var $block

      $block = $('#url-block')
      $block.toggleClass('hide', !online)
      $block.find('input').attr('disabled', !online)

      $block = $('#address-block')
      $block.toggleClass('hide', online)
      // only disable inputs that weren't and keep track of them because address metadata uses disabled fields
      if (online) {
        $block.find('input:not([disabled])').attr('online_disabled', true).attr('disabled', true)
      }
      else {
        $block.find('input[online_disabled]').removeAttr('online_disabled').attr('disabled', false)
      }
    }

    $(document).on('change', 'input[name="entourage[online]"]', function() {
      toggleOnlineFields()
    })

    toggleOnlineFields()
  </script>
<% end %>
