<div class='panel panel-default'>
  <div class="panel-body">
    <%= search_form_for [:admin, @q], class: 'form-inline' do |f| %>

      <div class='form-group'>
        <%= f.label :title_cont, 'Titre' %>
        <%= f.search_field :title_cont, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :description_cont, 'Description' %>
        <%= f.search_field :description_cont, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :entourage_type_eq, 'Type' %>
        <%= f.select :entourage_type_eq, Entourage::ENTOURAGE_TYPES, { include_blank: true, class: 'form-control'} %>
      </div>

      <div class='form-group'>
        <%= f.label :status_eq, 'Status' %>
        <%= f.select :status_eq, Entourage::ENTOURAGE_STATUS, { include_blank: true, class: 'form-control'} %>
      </div>

      <div class='form-group'>
        <%= f.label :display_category_eq, 'Catégorie' %>
        <%= f.select :display_category_eq, Entourage::DISPLAY_CATEGORIES + [EntouragesHelper::NO_CATEGORY], { include_blank: true, class: 'form-control'} %>
      </div>

      <%= f.hidden_field :country_eq if @q.country_eq %>
      <% (@q.postal_code_start_any || []).each do |value| %>
        <%= hidden_field_tag 'q[postal_code_start_any][]', value %>
      <% end %>

      <%= f.submit 'Rechercher', class: 'btn btn-default' %>
    <% end %>

  </div>
</div>
<div style="display: flex; margin: -10px 0 10px">
  <div class="btn-group btn-group-sm" style="flex-grow: 1">
    <%
      q = params[:q] || {}
      presets = {
        "Partout" => {},
        "Paris" => {
          country_eq: 'FR', postal_code_start: '75'
        },
        "Hauts-de-Seine" => {
          country_eq: 'FR', postal_code_start: '92'
        },
        "Lyon" => {
          country_eq: 'FR', postal_code_start: '69'
        },
        "Grenoble" => {
          country_eq: 'FR',postal_code_start: '38'
        },
        "Rhône-Alpes" => {
          country_eq: 'FR',
          postal_code_start_any: ['01', '07', '26', '38', '42', '69', '73', '74']
        },
        "Bretagne" => {
          country_eq: 'FR',
          postal_code_start_any: ['22', '29', '35', '44', '56']
        },
        "Lille" => {
          country_eq: 'FR', postal_code_start: '59'
        },
        "Hors zone" => {
          postal_code_not_start_all: ['75', '92', '69', '35', '59']
        },
        "Épinglées" => {
          pin_eq: 'true'
        },
        "Actions" => {
          group_type_eq: 'action', pin_eq: 'false'
        },
        "Événements" => {
          group_type_eq: 'outing', pin_eq: 'false'
        }
      }
      location_keys = [:country_eq, :postal_code_start_any, :postal_code_start, :postal_code_not_start_all, :pin_eq, :group_type_eq]

      active = presets.key q.slice(*location_keys).compact.symbolize_keys
    %>
    <% presets.each do |name, options| %>
      <%=
        link_to(
          name,
          params.merge(q: q.except(*location_keys).merge(options)),
          class: "btn btn-#{active == name ? :primary : :default}",
            style: options[:pin_eq] == 'true' ? "margin-left: 10px;" : ""
        )
      %>
    <% end %>
  </div>
  <form action="<%= admin_entourages_path %>" class="form-inline" id="moderator_form">
    <%
      current_value = params[:moderator_id]
      options = current_user.community.users.moderators.map { |u| [u.first_name, u.id] }
      options.unshift ['', :any],
                      ['Non assigné', :none]
    %>
    <%= label_tag :moderator_id, t("activerecord.attributes.entourage_moderation.moderator_id") %>
    <%= select_tag :moderator_id, options_for_select(options, params[:moderator_id]), class: "form-control" %>
  </div>
</div>
<script>
  $(function(){
    $('#moderator_id').on('change', function() {
      $('#moderator_form').submit()
    })
  })
</script>
