<ol class="breadcrumb">
  <li>
    <% if @entourage.action? %>
      <%= link_to "Liste des actions", admin_actions_path %>
    <% else %>
      <%= link_to "Liste des événements", admin_outings_path %>
    <% end %>
  </li>
  <li><%= link_to @entourage.title, admin_entourage_path(@entourage) %></li>
  <li class="active">Changer le créateur</li>
</ol>

<h2>Changer le créateur</h2>

<%= form_for(@entourage, as: :entourage, url: update_owner_admin_entourage_path(@entourage), :method => :post, html: { role: "form" }) do |f| %>
  <%= render partial: "layouts/errors", locals: { obj: @entourage } %>

  <div class="form-group">
    <%= f.label :user_id, "Créateur actuel", class: "control-label" %>
    <input class="form-control" required="required" type="text" value="<%= @entourage.user.full_name %>" disabled="disabled">

    <%= f.label :user_id, "Créateur à associer", class: "control-label" %>
    <%= f.select :user_id, options_for_select(moderators_for_select, nil), { include_blank: false }, class: "form-control" %>
  </div>

  <br>
  <%= f.submit "Enregistrer", class: "btn btn-success" %>
  <%= link_to "Annuler", admin_entourage_path(@entourage), class: "btn btn-default" %>
<% end %>
