<div class="row">
  <%= link_to("<- Retourner à l'entourage", admin_entourage_path(@entourage, @params)) unless @entourage.new_record? %>
  <div class="h1">
    <span>
      <% verb = @entourage.new_record? ? 'Créer' : 'Éditer' %>

      <% if @entourage.action? %>
        <%= verb %> l'action
      <% elsif @entourage.outing? %>
        <%= verb %> l'événement
      <% else %>
        <%= verb %> l'Entourage
      <% end %>
    </span>
  </div>
</div>

<%= render partial: "form" %>
