<h1>Liste des entourages</h1>

<br><br>

<div class="row">
  <table class="table admin-table">
    <!-- <th>id</th>
    <th>Status</th>
    <th>Titre</th>
    <th>Type</th> -->
    <th style="width:15%">Titre</th>
    <th>Créé le</th>
    <th style="width:20%">Description</th>
    <th>Location</th>
    <th>Auteur</th>
    <th>Organisation</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Membres</th>
    <th>Invit. en attente</th>
    <th>Invit. acceptées</th>
    <th>Invit. rejetées</th>
    <th>#Messages</th>

    <% @entourages.each do |entourage| %>
      <tr>
        <td><%= link_to_entourage_with_infos(entourage) %></td>
        <td><%= entourage.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= entourage_description_excerpt(entourage.description) %></td>
        <td><%= entourage.approximated_location %></td>
        <td><%= link_to("#{entourage.user.full_name} (##{entourage.user.id})", admin_user_path(entourage.user)) %></td>
        <td><%= entourage.user.organization.try(:name) %></td>
        <td><%= entourage.user.email %></td>
        <td><%= entourage.user.phone %></td>
        <td><span class="badge"><%= entourage.members.count %></span></td>
        <td><span class="badge"><%= entourage.entourage_invitations.status('pending').count %></span></td>
        <td><span class="badge"><%= entourage.entourage_invitations.status('accepted').count %></span></td>
        <td><span class="badge"><%= entourage.entourage_invitations.status('rejected').count %></span></td>
        <td><span class="badge"><%= entourage.chat_messages.count %></span></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="row">
  <%= paginate @entourages %>
</div>
