<div class="container">
  <h1>Liste des entourages</h1>
  <%= render 'search_form' %>
</div>

<table class="table admin-table" style="table-layout: auto">
  <!-- <th>id</th>
  <th>Status</th>
  <th>Titre</th>
  <th>Type</th> -->
  <th></th>
  <th></th>
  <th></th>
  <th>id</th>
  <th>Titre</th>
  <th>Description</th>
  <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span></th>
  <th><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></th>

  <% @entourages.each do |entourage| %>
    <% unread_count = @message_count[entourage.id].unread %>
    <tr class="<%= 'not-open' if entourage.status != 'open' %>">
      <td>
        <% if !entourage.moderated %>
          <span class="badge" style="background: #f0ad4e">●</span>
        <% end %>
      </td>
      <td>
        <% if entourage.unread %>
          <span class="badge" style="background: #d9534f">●</span>
        <% elsif unread_count > 0 %>
          <span class="badge" style="background: #d9534f"><%= unread_count %></span>
        <% end %>
      </td>
      <td>
        <% case entourage.sensitive_words_check&.status&.to_sym %>
        <% when :require_moderation %>
          <span class="badge" style="background: #d9534f" title="contient des mots sensibles">!</span>
        <% end %>
      </td>
      <td><%= entourage.id %></td>
      <td><%= link_to entourage.title, [:admin, entourage] %></td>
      <td><%= entourage_description_excerpt(entourage.description) %></td>
      <td><span class="badge"><%= @member_count[entourage.id] %></span></td>
      <td><span class="badge"><%= @message_count[entourage.id].total %></span></td>
    </tr>
  <% end %>
</table>

<div class="container">
  <%= paginate @entourages %>
</div>
