<h1>Liste des entourages</h1>

<br><br>
<%= render 'search_form' %>

<div class="row">
  <table class="table admin-table">
    <!-- <th>id</th>
    <th>Status</th>
    <th>Titre</th>
    <th>Type</th> -->
    <th></th>
    <th style="width:15%">Titre</th>
    <th>Créé le</th>
    <th style="width:20%">Description</th>
    <th>Location</th>
    <th>Auteur</th>
    <th>Organisation</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Membres</th>
    <th>Invit. en attente</th>
    <th>Invit. acceptées</th>
    <th>Invit. rejetées</th>
    <th>#Messages</th>

    <% @entourages.each do |entourage| %>
      <% unread_count = @message_count[entourage.id].unread %>
      <tr>
        <td>
          <% if unread_count > 0 %>
            <span class="badge" style="background: #d9534f"><%= unread_count %></span>
          <% end %>
        </td>
        <td><%= link_to_entourage_with_infos(entourage) %></td>
        <td><%= entourage.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= entourage_description_excerpt(entourage.description) %></td>
        <td><%= entourage.approximated_location %></td>
        <td><%= link_to("#{entourage.user.full_name} (##{entourage.user.id})", admin_user_path(entourage.user)) %></td>
        <td><%= entourage.user.organization.try(:name) %></td>
        <td><%= entourage.user.email %></td>
        <td><%= entourage.user.phone %></td>
        <td><span class="badge"><%= @member_count[entourage.id] %></span></td>
        <td><span class="badge"><%= @invitation_count[[entourage.id, 'pending']] %></span></td>
        <td><span class="badge"><%= @invitation_count[[entourage.id, 'accepted']] %></span></td>
        <td><span class="badge"><%= @invitation_count[[entourage.id, 'rejected']] %></span></td>
        <td><span class="badge"><%= @message_count[entourage.id].total %></span></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="row">
  <%= paginate @entourages %>
</div>
