<div class="container">
  <h1>Liste des entourages</h1>
  <%= render 'search_form' %>
</div>

<table class="table admin-table" style="table-layout: auto">
  <!-- <th>id</th>
  <th>Status</th>
  <th>Titre</th>
  <th>Type</th> -->
  <th></th>
  <th></th>
  <th></th>
  <th>id</th>
  <th>Titre</th>
  <th>Description</th>
  <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span></th>
  <th><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></th>
  <th><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></th>

  <% @entourages.each do |entourage| %>
    <% unread_count = @message_count[entourage.id].unread %>
    <tr class="<%= 'not-open' if entourage.status != 'open' %>">
      <td>
        <% if entourage.admin_pin? %>
          <i class="fa fa-star" title="Prioritaire"></i>
        <% end %>
      </td>
      <td>
        <% if !entourage.moderated %>
          <span class="badge" style="background: #f0ad4e" title="Non modéré">●</span>
        <% end %>
      </td>
      <td>
        <% if entourage.unread %>
          <span class="badge" style="background: #d9534f" title="Non lu">●</span>
        <% elsif unread_count > 0 %>
          <span class="badge" style="background: #d9534f" title="Non lus"><%= unread_count %></span>
        <% end %>
      </td>
      <td><%= entourage.id %></td>
      <td><%= link_to entourage.title, [:admin, entourage] %></td>
      <td><%= entourage_description_excerpt(entourage.description) %></td>
      <td><span class="badge" title="Membres"><%= @member_count[entourage.id] %></span></td>
      <td><span class="badge" title="Messages"><%= @message_count[entourage.id].total %></span></td>
      <td>
        <% requests_count = @requests_count[entourage.id] %>
        <% if requests_count[:total] > 0 %>
          <%
            highlight =
              requests_count[:late] > 0 &&
              !@reminded_users.include?(entourage.user_id)
          %>
          <%= link_to requests_count[:total],
                url_for([:admin, entourage]) + "?join_requests",
                class: "badge",
                style: ('background: #d9534f' if highlight) %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% if @entourages.none? && @entourages.current_page == 1 &&
        params[:moderator_id].present? && params[:moderator_id].to_i != 0 %>
    <% filtered_moderator = current_user.community.users.find(params[:moderator_id]) %>
    <tr>
      <td colspan="8" style="text-align: center">
        <h4>
          <% if filtered_moderator == current_user %>
            Aucune action ne vous est assignée pour le moment.
          <% else %>
            Aucune action n'est assignée à <%= filtered_moderator.first_name %> pour le moment.
          <% end %>
        </h4>
        <h4>
          <%= link_to "Voir toutes les actions", admin_entourages_path(moderator_id: :any) %>
        </h4>
      </td>
    </tr>
  <% end %>
</table>

<div class="container">
  <%= paginate @entourages %>
</div>
