<%= stylesheet_link_tag 'chat_messages' %>

<style>
  .highlight {
    background: #fdb8c0;
    border-radius: 0.2em;
  }
</style>

<div class="container">
  <%= link_to('<- Retourner à la liste des entourages', admin_entourages_path(@params)) %>
  <div class="pull-right">
    <%= link_to nil, @entourage.share_url, target: :_blank %>
  </div>
  </br>
  </br>

  <% if ['show', 'show_messages'].include?(params[:action]) && @moderator_read.nil? %>
    <div class="conversation-unread-status">
      Nouvel entourage créé le
      <%= l @entourage.created_at, format: "%-d %B %Y" %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= :active if params[:action] == 'show' %>">
          <%= link_to "Informations générales", admin_entourage_path(@entourage, @params) %>
        </li>
        <li role="presentation" class="<%= :active if params[:action] == 'show_members' %>">
          <%= link_to "Membres", show_members_admin_entourage_path(@entourage, @params) %>
        </li>
        <li role="presentation" class="<%= :active if params[:action] == 'show_messages' %>">
          <%= link_to "Messages", show_messages_admin_entourage_path(@entourage, @params) %>
        </li>
        <% if params[:action] == 'show_comments' %>
          <li role="presentation" class="active">
            <%= link_to "Commentaires", "#" %>
          </li>
        <% end %>

        <% if @entourage.outing? %>
          <li role="presentation" class="<%= :active if params[:action] == 'show_neighborhoods' %>">
            <%= link_to "Groupes de voisins", show_neighborhoods_admin_entourage_path(@entourage, @params) %>
          </li>
        <% else %>
          <li role="presentation" class="<%= :active if params[:action] == 'show_matchings' %>">
            <%= link_to "Matchings", show_matchings_admin_entourage_path(@entourage, @params) %>
          </li>
        <% end %>

        <% if @entourage.recurrent? %>
          <li role="presentation" class="<%= :active if params[:action] == 'show_siblings' %>">
            <%= link_to "Récurrences", show_siblings_admin_entourage_path(@entourage, @params) %>
          </li>
        <% end %>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class='col-sm-8'>
              <h3 class="panel-title">
                <%= entourage_category_image @entourage, style: "position: relative; top: -2px;" %>
                <%= @entourage.title %>
              </h3>
              <div>
                <%= entourage_type_name @entourage %> par
                <span style="font-weight: bold">
                  <%= user_avatar_image @entourage.user, size: '24x24', style: "border-radius: 50%; display: inline-block; background-image: url('#{asset_path "user/default_avatar.png"}'); background-size: contain; background-color: #fff;", alt: '' %>
                  <%= link_to UserPresenter.new(user: @entourage.user).display_name, admin_user_path(@entourage.user), style: "color: inherit" %>
                </span>
                —
                Créée il y a <%= time_ago_in_words @entourage.created_at %>
              </div>
              <%= link_to "Changer le créateur", edit_owner_admin_entourage_path(@entourage) if @entourage.outing? %>
            </div>

            <% if params[:action] == 'show' %>
              <div class='col-sm-4 '>
                <div class='pull-right'>
                  <% if @moderator_read %>
                    <div class="dropdown" style="display: inline-block">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <li>
                          <%= link_to "Marquer comme non lu",
                            moderator_unread_admin_entourage_path(@entourage),
                            method: :post %>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                  <%- if !@entourage.members.include?(current_user) &&
                         current_user.roles.include?(:moderator) %>
                    <%= link_to "Rejoindre", admin_join_requests_path(joinable_id: @entourage), class: "btn btn-info", method: :post %>
                  <% end %>

                  <br>
                  <br>
                  <% if @entourage.outing? %>
                    <%= link_to "Renouveler l'événement", renew_admin_entourage_path(@entourage), class: "btn btn-primary" %>
                  <% end %>

                  <% if @entourage.outing? && Outing.find(@entourage.id).recurrence.present? %>
                    <%= link_to "Générer un nouvel événement", duplicate_outing_admin_entourage_path(@entourage), method: :post, class: "btn btn-primary" %>
                  <% end %>
                  <%= link_to "Modifier", edit_admin_entourage_path(@entourage, @params), class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <% if params[:action] == 'show' %>
          <div class="panel-body">
            <%= render partial: "admin/entourages/show/details", entourage: @entourage %>
          </div>
        <% end %>
      </div>

      <%= render "admin/entourages/show/#{params[:action]}" %>
    </div>
  </div>
</div>
