<% @highlighted = SensitiveWordsService.highlight_entourage @entourage %>

<style>
  .highlight {
    background: #fdb8c0;
    border-radius: 0.2em;
  }
</style>

<div class="container">
  <%= link_to('<- Retourner à la liste des entourages', admin_entourages_path) %>
  </br>
  </br>

  <% if @moderator_read.nil? %>
    <div class="conversation-unread-status">
      Nouvel entourage créé le
      <%= l @entourage.created_at, format: "%-d %B à %H h %M" %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class='col-sm-8'>
          <h3 class="panel-title">
            <%= entourage_category_image @entourage, style: "position: relative; top: -2px;" %>
            <%= @highlighted[:title] %>
          </h3>
          <div>
            <%= entourage_type_name @entourage %> par
            <span style="font-weight: bold">
              <%= user_avatar_image @entourage.user, size: '24x24', style: "border-radius: 50%; display: inline-block; background-image: url('#{asset_path "user/default_avatar.png"}'); background-size: contain; background-color: #fff;", alt: '' %>
              <%= UserPresenter.new(user: @entourage.user).display_name %>
            </span>
            —
            Créée il y a <%= time_ago_in_words @entourage.created_at %>
          </div>
        </div>
        <div class='col-sm-4 '>
          <div class='pull-right'>
            <% if @moderator_read %>
              <div class="dropdown" style="display: inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                  <li>
                    <%= link_to "Marquer comme non lu",
                      moderator_unread_admin_entourage_path(@entourage),
                      method: :post %>
                  </li>
                </ul>
              </div>
            <% end %>
            <%- unless @entourage.members.include?(current_user)%>
              <%= link_to "Rejoindre", admin_join_requests_path(joinable_id: @entourage), class: "btn btn-info", method: :post %>
            <% end %>
            <%= link_to "Modifier", edit_admin_entourage_path(@entourage), class: "btn btn-success" %>
          </div>
        </div>
      </div>


    </div>

    <div class="panel-body">
      <%= render partial: "admin/entourages/show/details", entourage: @entourage %>
    </div>
  </div>

    <%= render "admin/entourages/show/moderation", entourage: @entourage %>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= render "admin/entourages/show/members_list", requests: @join_requests.find_all(&:is_accepted?) %>
      <%= render "admin/entourages/show/join_requests_list",
                 requests: @join_requests.reject { |r| r.is_accepted? || r.entourage_invitation_id } %>
      <%= render "admin/entourages/show/invitations_list", invitations: @invitations %>
      <%= render partial: "admin/entourages/show/chat_messages_list", chat_messages: @chat_messages %>

      <% if @unread_content %>
        <div class="text-center">
          <%= link_to "Marquer comme lu",
                      moderator_read_admin_entourage_path(@entourage),
                      method: :post,
                      class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
    <!-- <div class="panel-footer"></div> -->
  </div>
</div>
