<%= render 'nav', active: :dashboard %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12">
      <div class="mb-4">
        <h2>Gestion des membres</h2>
        <div>
          <%= link_to community_admin_users_path(roles: [:not_validated]) do %>
            <% case @not_validated_count %>
            <% when 0 %>
              <span class="badge badge-pill badge-success">‎✓</span>
              aucun membre à valider
            <% when 1 %>
              <span class="badge badge-pill badge-primary">1</span>
              membre à valider
            <% else %>
              <span class="badge badge-pill badge-primary">
                <%= @not_validated_count %>
              </span>
              membres à valider
            <% end %>
          <% end %>
        </div>

        <div>
          <%= link_to community_admin_users_path(
                roles: [:visitor], has_private_circle: false) do %>
            <% case @visitors_without_visited_count %>
            <% when 0 %>
              <span class="badge badge-pill badge-success">‎✓</span>
              aucun voisineur sans voisiné
            <% when 1 %>
              <span class="badge badge-pill badge-primary">1</span>
              voisineur sans voisiné
            <% else %>
              <span class="badge badge-pill badge-primary">
                <%= @visitors_without_visited_count %>
              </span>
              voisineurs sans voisiné
            <% end %>
          <% end %>
        </div>

        <div>
          <%= link_to community_admin_users_path(
                roles: [:visited], has_private_circle: false) do %>
            <% case @visited_without_visitor_count %>
            <% when 0 %>
              <span class="badge badge-pill badge-success">‎✓</span>
              aucun voisiné sans voisineur
            <% when 1 %>
              <span class="badge badge-pill badge-primary">1</span>
              voisiné sans voisineur
            <% else %>
              <span class="badge badge-pill badge-primary">
                <%= @visited_without_visitor_count %>
              </span>
              voisinés sans voisineur
            <% end %>
          <% end %>
        </div>

        <div>
          <%= link_to community_admin_neighborhoods_path do %>
            <% case @neighborhoods_requests_count %>
            <% when 0 %>
              <span class="badge badge-pill badge-success">‎✓</span>
              aucune demande en attente pour rejoindre un voisinage de quartier
            <% when 1 %>
              <span class="badge badge-pill badge-primary">1</span>
              demande en attente pour rejoindre un voisinage de quartier
            <% else %>
              <span class="badge badge-pill badge-primary">
                <%= @neighborhoods_requests_count %>
              </span>
              demandes en attente pour rejoindre un voisinage de quartier
            <% end %>
          <% end %>
        </div>

        <div>
          <%= link_to community_admin_private_circles_path do %>
            <% case @private_circles_requests_count %>
            <% when 0 %>
              <span class="badge badge-pill badge-success">‎✓</span>
              aucune demande en attente pour rejoindre un voisinage de personne
            <% when 1 %>
              <span class="badge badge-pill badge-primary">1</span>
              demande en attente pour rejoindre un voisinage de personne
            <% else %>
              <span class="badge badge-pill badge-primary">
                <%= @private_circles_requests_count %>
              </span>
              demandes en attente pour rejoindre un voisinage de personne
            <% end %>
          <% end %>
        </div>

        <% if @without_neighborhood != nil %>
          <div>
            <%= link_to community_admin_users_path(
                  neighborhoods: [:none]) do %>
              <% case @without_neighborhood %>
              <% when 0 %>
                <span class="badge badge-pill badge-success">‎✓</span>
                aucun membre sans voisinage de quartier
              <% when 1 %>
                <span class="badge badge-pill badge-primary">1</span>
                membre sans voisinage de quartier
              <% else %>
                <span class="badge badge-pill badge-primary">
                  <%= @without_neighborhood %>
                </span>
                membres sans voisinage de quartier
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <h2>Sorties à venir</h2>
        <% if @upcoming_outings.empty? %>
          <div>Aucune sortie planifiée dans les 7 prochains jours</div>
        <% end %>
        <% @upcoming_outings.each do |outing| %>
          <div class="mb-2">
            <div><b><%= outing.title %></b></div>
            <div>
              <%= l outing.metadata[:starts_at], format: "%A %-d %B à %Hh%M" %>
              &ndash;
              <%= link_to outing.metadata[:display_address], "https://www.google.com/maps/search/?api=1&query=#{outing.metadata[:display_address]}&query_place_id=#{outing.metadata[:google_place_id]}" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
