<br>
<div class="container-fluid">
  <div class="col-md-4">
    <h3>Informations sur cette maraude :</h3>
    <h4><%= l(@tour_presenter.created_at, format: "%A %e %B %Y").capitalize %></h4>
    <h4>Distance parcourue : <%= @tour_presenter.distance %></h4>
    <h4>heure de début : <%= @tour_presenter.start_time %></h4>
    <h4>heure de fin : <%= @tour_presenter.end_time %></h4>
    <h4>Durée : <%= @tour_presenter.duration %></h4>
    <p>
      <%= link_to "Retour à la liste des maraudes", dashboard_organizations_path %>
    </p>
    <% if current_admin.present? %>
      <p>
        <%= link_to "Supprimer cette maraude", @tour, method: :delete, data: { confirm: "Supprimer cette maraude ? Cette action est irréversible." } %>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="cette option est disponible uniquement pour les administrateurs"></span>
      </p>
    <% end %>
  </div>
  <div class="col-md-8">
    <div id="map-maraudes"></div>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
