<p>Bonjour l'équipe de <%= @tour_area.area %>,</p>

<p>
  Un utilisateur souhaite avoir des informations à propos des maraudes dans votre zone
  <%= "#{@tour_area.area} (#{@tour_area.departement})" %>
</p>

<p>Vous trouverez ci-après les informations relatives à l'utilisateur <%= @user.full_name %>.</p>

<p><b>Informations</b></p>
<p>
  <ul>
    <li><%= link_to 'Lien vers sa fiche', edit_admin_user_url(@user.id, host: ENV['ADMIN_HOST']) %></li>
    <li>Email <%= @user.email %></li>
    <li>Téléphone <%= @user.phone %></li>
  </ul>
</p>

<p>Cordialement,</p>
<p>L'équipe Entourage</p>
