<%= tinymce %>

<style>
  .field_with_errors { display: inline-block }
</style>

<%= render partial: 'common/errors', locals: { obj: @resource } %>
<%= form_for [:admin, @resource], html: { role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <div class="controls">
      <%= f.select :category, options_for_select(Resource::CATEGORIES, @resource.category), class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <div class="controls">
      <%= f.text_area :description, rows: 10, :class => "form-control tinymce" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <div class="controls">
      <%= f.text_field :url, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_video %>
    <div class="controls">
      <%= f.check_box :is_video, { :checked => @resource.is_video }, 0, 1 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :duration %>
    <div class="controls">
      <%= f.number_field :duration, class: "form-control" %>
    </div>
  </div>

  <%= f.submit 'Enregistrer', class: "btn btn-primary" %>
  <%= link_to "Retour", admin_resources_path, class: "btn btn-default" %>
<% end %>

<script>
  $('select#resource_category').select2({ width: '100%' });
</script>
