<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Contenus pédagogiques", admin_resources_path %></li>
    <li class="active">Modifier</li>
    <li style="float: right;">
      <%= link_to nil, @resource.share_url, target: :_blank %>
    </li>
  </ol>

  <h2>
    <span class="text-muted">#<%= @resource.id %></span>
    <%= @resource.name %>
  </h2>

  <%= render partial: 'form' %>
</div>
