<div class="container">
  <div style="margin: auto">
    <div style="float: right">
      <%= link_to "Ajouter un contenu pédagogique", new_admin_resource_path, class: "btn btn-default" %>
    </div>

    <h1>Contenus pédagogiques</h1>

    <div class="row">
      <% unless @resources.none? %>
        <table class="custom-table">
          <thead>
            <th>Id</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Tag</th>
            <th>Vues</th>
            <th>Traductions</th>
          </thead>
          <% @resources.each do |resource| %>
            <tr>
              <td><%= resource.id %></td>
              <td><%= link_to resource.name, edit_admin_resource_path(resource) %></td>
              <td><%= category_label resource.category %></td>
              <td><%= tag_label resource.tag %></td>
              <td><%= views_for resource %></td>
              <td><%= resource.completed_translations %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <%= page_entries_info @resources, entry_name: 'contenus pédagogiques' %>
    <div class="container">
      <%= paginate(@resources) %>
    </div>
  </div>
</div>
