<style>
  .field_with_errors { display: inline-block }
</style>

<%= render partial: 'common/errors', locals: {obj: @announcement} %>

<%= form_for [:admin, @announcement], html: { id: "announcement_form" } do |f| %>
  <% case @announcement.status %>
  <% when 'draft'  %>
    <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Brouillon</b><br>
        Cette carte n'est pas encore visible dans le feed.
      </div>
      <%= f.submit "Publier cette carte", name: :publish, class: "btn btn-success" %>
    </div>
  <% when 'active'  %>
    <div class="alert alert-success" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Active</b><br>
        Cette carte est visible dans le feed.
      </div>
      <%= f.submit "Archiver cette carte", name: :archive, class: "btn btn-danger" %>
    </div>
  <% when 'archived'  %>
    <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Archivée</b><br>
        Cette carte n'est plus visible dans le feed.
      </div>
      <%= f.submit "Republier cette carte", name: :publish, class: "btn btn-success" %>
    </div>
  <% end if @announcement.persisted? %>

  <div class="row">
    <div class="col-xs-3 form-group">
      <%
       icons = [
        ["haut-parleur", :megaphone],
        ["message", :chat],
        ["coeur", :heart],
        ["info", :info],
        ["pin lieu", :pin],
        ["question", :question],
        ["texte", :text],
        ["coupe", :trophy],
        ["vidéo", :video]]
      %>
      <%= f.label :icon %>
      <%= f.select :icon,
          options_for_select(icons, @announcement.icon),
          class: "form-control",
          required: !@announcement.draft?, disabled: @announcement.archived? %>
    </div>
    <div class="col-xs-9 form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", required: true, readonly: @announcement.archived? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: 2, required: !@announcement.draft?, readonly: @announcement.archived? %>
  </div>

  <div class="form-group">
    <%= f.label :image_url %>
    <% if @announcement.new_record? %>
      <div class="text-muted">
        Vous pourrez ajouter une image une fois que la carte sera créée.
      </div>
    <% else %>
      <% if @announcement.image_url %>
        <div style="margin-bottom: 15px">
          <%= image_tag(@announcement.image_url, size: '750x320') if @announcement.image_url.present? %>
        </div>
      <% end %>
      <% unless @announcement.archived? %>
        <div>
          <%= link_to "Modifier", edit_image_admin_announcement_path, class: "btn btn-default btn-sm" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :image_portrait_url %>
    <% if @announcement.new_record? %>
      <div class="text-muted">
        Vous pourrez ajouter une image portrait une fois que la carte sera créée.
      </div>
    <% else %>
      <% if @announcement.image_portrait_url %>
        <div style="margin-bottom: 15px">
          <%= image_tag(@announcement.image_portrait_url, size: '600x792') if @announcement.image_portrait_url.present? %>
        </div>
      <% end %>
      <% unless @announcement.archived? %>
        <div>
          <%= link_to "Modifier", edit_image_portrait_admin_announcement_path, class: "btn btn-default btn-sm" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :action %>
    <%= f.text_field :action, class: "form-control", required: !@announcement.draft?, readonly: @announcement.archived? %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.url_field :url, class: "form-control", required: !@announcement.draft?, readonly: @announcement.archived? %>
    <div class="alert alert-info" role="alert">
      <p>Le lien URL peut être de différents types :</p>
      <ul>
        <li>
          <b>Vers une conversation donnée : </b>
          <mark>entourage://entourage/1_list_me-[id]</mark> (remplacer [id] par l'id d'un utilisateur
        </li>

        <li>
          <b>Vers une conversation avec un modérateur : </b>
          <mark>entourage://entourage/1_list_me-moderator</mark>
        </li>

        <li>
          <b>Vers une page spécifique de l'appli : </b>
          <mark>entourage://guidemap</mark> (ici, le guide de solidarité)
        </li>

        <li>
          <b>Vers une action spécifique (url) : </b>
          <mark>entourage://entourage/eIURtNV7nEUs</mark> (remplacer l'élément de fin par l'identifiant d'une action)
        </li>

        <li>
          <b>Vers une action spécifique (webapp url) : </b>
          <mark>https://app.entourage.social/actions/eIURtNV7nEUs</mark> (remplacer l'élément de fin par l'identifiant d'une action)
        </li>

        <li>
          <b>Vers une page HTML : </b>
          <mark>https://blog.entourage.social</mark>
        </li>

        <li>
          <b>Envoyer un email : </b>
          <mark>mailto:barbara@entourage.social</mark>
        </li>
      </ul>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label">Ouvrir</label>
    <div class="controls">
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :webview, true, required: !@announcement.draft?, disabled: @announcement.archived? %>
        dans l'app (ex : webview)
      </label>
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :webview, false, required: !@announcement.draft?, disabled: @announcement.archived? %>
        hors de l'app (ex : navigateur)
      </label>
    </div>
  </div>

  <div class="form-group" id="webapp_url"
    <% unless @announcement.webview %>style="display: none;"<% end %>
  >
    <%= f.label :webapp_url %>
    <%= f.url_field :webapp_url, class: "form-control", readonly: @announcement.archived? %>
  </div>

  <div class="form-group">
    <%= f.label :areas, style: "margin-right: .7em" %>
    <a href="#" data-role="select-areas" data-select="all">Tout sélectionner</a> ·
    <a href="#" data-role="select-areas" data-select="ours">Nos zones</a> ·
    <a href="#" data-role="select-areas" data-select="none">Tout désélectionner</a>
    <div style="margin-bottom: 5px" data-checkbox-required="Sélectionnez au moins une zone">
      <%=
        collection_check_boxes(:announcement, :areas,
                               ModerationArea.all_with_no_zone,
                               :departement_slug, :name_with_departement) do |b|
          b.label(class: "checkbox-inline") { b.check_box + b.text }
        end
      %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_goals, style: "margin-right: .7em" %>
    <div style="margin-bottom: 5px" data-checkbox-required="Sélectionnez au moins un profil">
      <%=
        collection_check_boxes(:announcement, :user_goals,
                               UserGoalPresenter.all(current_user.community),
                               :slug, :name) do |b|
          b.label(class: "checkbox-inline") { b.check_box + b.text }
        end
      %>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label">Catégorie</label>
    <div class="controls">
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :category, '', disabled: @announcement.archived? %>
        Aucune
      </label>
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :category, :online, disabled: @announcement.archived? %>
        Événement en ligne
      </label>
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :category, :ambassador, disabled: @announcement.archived? %>
        Programme animateur Entourage
      </label>
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :category, :poi_map, disabled: @announcement.archived? %>
        Lieux solidaires
      </label>
    </div>
  </div>


  <%
    action = @announcement.new_record? ? :create : :update
    status = @announcement.status.to_sym
    submit_text =
      case
      when [action, status] == [:create, :draft]
        "Créer un brouillon"
      when [action, status] == [:update, :draft]
        "Modifier le brouillon"
      when action == :update
        "Modifier la carte"
      when action == :create
        "Créer une carte"
      end
  %>

  <% unless @announcement.archived? %>
    <%= f.submit submit_text, class: "btn btn-primary" %>
  <% end %>
<% end %>

<script>
  //
  // collection checkboxes validation

  $('#announcement_form').on('submit', function(e) {
    var isDraft = '<%= @announcement.draft? %>' === 'true',
        preventSubmit = false

    if (isDraft) return;

    $('[data-checkbox-required]').each(function() {
      var $wrapper = $(this),
          $boxes = $wrapper.find('[type=checkbox]'),
          errorMessage = $wrapper.data('checkbox-required')

      if ($boxes.filter(':checked').length === 0) {
        $boxes.each(function() { this.setCustomValidity(errorMessage) })
        preventSubmit = true
      }
      else {
        $boxes.each(function() { this.setCustomValidity('') })
      }
    })

    if (preventSubmit)
      e.preventDefault()
  })

  // reset validations on change
  $(document).on('change', '[data-checkbox-required]', function() {
    $(this).find('[type=checkbox]').each(function() { this.setCustomValidity('') })
  })

  $(document).on('change', '[name="announcement[webview]"]', function() {
    $('#webapp_url').toggle(
      $('#announcement_webview_true').is(':checked')
    );
  })

  //
  // areas presets

  var areasSelector = '[type="checkbox"][name="announcement[areas][]"]',
      $areas = $(areasSelector)

  $(document).on('click', '[data-role="select-areas"]', function(e) {
    e.preventDefault()
    var select = $(this).data('select'),
        check = {
          'all': function() { return true },
          'ours': function(v) { return ['sans_zone', 'hors_zone'].indexOf(v) === -1 },
          'none': function() { return false },
        }[select]

    $areas.each(function() {
      var $box = $(this)
      $box.prop('checked', check($box.val()))
      this.setCustomValidity('') // reset validations
    })
  })
</script>
