<ol class="breadcrumb">
  <li><%= link_to "Groupes de voisinage", admin_neighborhoods_path %></li>
  <li class="active">Modifier</li>
</ol>

<h2>
  <span class="text-muted">#<%= @neighborhood.id %></span>
  <%= @neighborhood.name %>
</h2>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= :active if tab == :edit %>">
    <%= link_to "Modifier", edit_admin_neighborhood_path(@neighborhood) %>
  </li>
  <li role="presentation" class="<%= :active if tab == :show_members %>">
    <%= link_to "Membres (#{@neighborhood.members_count})", show_members_admin_neighborhood_path(@neighborhood) %>
  </li>
  <li role="presentation" class="<%= :active if tab == :show_posts %>">
    <%= link_to "Publications (#{@neighborhood.posts_count})", show_posts_admin_neighborhood_path(@neighborhood) %>
  </li>
  <% if tab == :show_post_comments %>
    <li role="presentation" class="active">
      <%= link_to "Commentaires (#{@post.children.count})", show_posts_admin_neighborhood_path(@neighborhood) %>
    </li>
  <% end %>
</ul>
