<%= form_tag [path, :admin, :neighborhoods], class: 'form-inline', method: :get do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
        <div class='input-group'>
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Nom, description..." %>
          <span class="input-group-btn">
            <%= submit_tag "Chercher", class: "btn btn-default" %>
          </span>
        </div>
    </div>
    <div class="panel-body">
      <div class="input-group">
        <div class="btn-group btn-group-sm">
          <%= link_to("Tous", params.merge(area: :all), class: "btn btn-#{area == :all ? :primary : :default}") %>
          <%= link_to("National", params.merge(area: :national), class: "btn btn-#{area == :national ? :primary : :default}") %>
          <% ModerationArea.by_slug_without_no_zone.sort.each do |slug, moderation_area| %>
            <%= link_to(moderation_area.short_name, params.merge(area: slug), class: "btn btn-#{area.to_s == slug.to_s ? :primary : :default}") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
