<%# Expected variables -%>

<%# Case: outing -%>
<%# 1. record: outing -%>
<%# 1. record_type: outing -%>
<%# 1. recipient_ids: neighborhood_ids -%>

<%# Case: neighborhood_message_broadcast -%>
<%# 2. record: neighborhood_message_broadcast instance -%>
<%# 2. record_type: neighborhood_message_broadcast string -%>
<%# 2. recipient_ids: recipient_ids -%>

<%
  @params = params.permit(:tab).to_h
  @departements = record.departements
%>

<%= render partial: "admin/neighborhoods/show_selection" %>

<h4>Changer les groupes de voisins</h4>

<div style="margin-bottom: 15px; display: flex">
  <div class="btn-group btn-group-sm" id="departements-choices">
    <% ModerationArea.no_hz.pluck(:departement).each do |departement| %>
      <%= link_to(departement, "#", class: "btn btn-#{record.departements.include?(departement) ? :primary : :default} department") %>
    <% end %>
  </div>
</div>

<div style="margin-bottom: 15px; display: flex">
  <div class="btn-group btn-group-sm" id="area-type-choice">
    <%= link_to("Département", "", "data-value": "departement", class: "btn btn-#{record.area_type == "departement" ? :primary : :default}") %>
    <%= link_to("Ville", "", "data-value": "ville", class: "btn btn-#{record.area_type == "ville" ? :primary : :default}") %>
    <%= link_to("Thématique", "", "data-value": "no_zone", class: "btn btn-#{record.area_type == "no_zone" ? :primary : :default}") %>
    <%= link_to("Tous", "", "data-value": "zone_all", class: "btn btn-#{record.area_type == "zone_all" ? :primary : :default}") %>
  </div>
</div>

<div class="alert alert-info" role="alert" style="display: flex; align-items: center">
  <div style="flex-grow: 1">
    <b>Notifications</b><br>
    Une notification sera envoyée aux utilisateurs des groupes que vous associerez.
  </div>
</div>

<a href="#" data-role="select-departments" data-select="all">Tout sélectionner</a> ·
<a href="#" data-role="select-departments" data-select="none">Tout désélectionner</a>

<%= form_for record, url: path, method: :put do |f| %>
  <%= hidden_field_tag "#{record_type}[departements][]", '' %>

  <div id="departements-selected">
    <% @departements.each do |departement| %>
      <%= hidden_field_tag "#{record_type}[departements][]", departement %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :area_type %>
    <div class="controls">
      <% area_types = { "Département": :departement, "Ville": :ville, "Thématique": :no_zone, "Tous": :zone_all } %>

      <%= f.select :area_type, options_for_select(area_types, record.area_type), { include_blank: false }, class: "form-control" %>
    </div>
  </div>

  <%= f.submit 'Valider', class: "btn btn-primary" %>
<% end %>

<script>
  $(document).ready(function () {
    var inputName = "neighborhood_message_broadcast[departements][]";

    // Fonction pour gérer le clic sur un élément
    function toggleDepartment(element, shouldSelect) {
      if (shouldSelect === undefined) {
        // Toggle si la valeur n'est pas spécifiée
        element.toggleClass("btn-primary btn-default");
      } else if (shouldSelect) {
        element.addClass("btn-primary").removeClass("btn-default");
      } else {
        element.addClass("btn-default").removeClass("btn-primary");
      }

      if (element.hasClass("btn-primary")) {
        if (!$("#departements-selected").find("input[value='" + element.text() + "']").length) {
          $("#departements-selected").append(
            '<input type="hidden" name="' + inputName + '" value="' + element.text() + '">'
          );
        }
      } else {
        $("#departements-selected")
          .find("input[value='" + element.text() + "']")
          .remove();
      }
    }

    // Gestion du clic sur les départements individuels
    $("#departements-choices a").on("click", function (e) {
      e.preventDefault();
      toggleDepartment($(this));
    });

    // Gestion du clic sur les actions globales
    $(document).on("click", '[data-role="select-departments"]', function (e) {
      e.preventDefault();

      var action = $(this).data("select");
      var shouldSelect = action === "all"; // Sélectionner tous les départements pour "all"

      $("#departements-choices a").each(function () {
        toggleDepartment($(this), shouldSelect);
      });
    });

    function toggleAreaType() {
      var selectedType = $('select[name="neighborhood_message_broadcast[area_type]"]').val();

      $("#area-type-choice a").each(function () {
        var typeValue = $(this).data("value");
        if (typeValue === selectedType) {
          $(this).addClass("btn-primary").removeClass("btn-default");
        } else {
          $(this).addClass("btn-default").removeClass("btn-primary");
        }
      });
    }

    // Gestion du changement de type de zone
    $("#area-type-choice a").on('click', function (e) {
      e.preventDefault();

      var value = $(this).data("value");

      $('select[name="neighborhood_message_broadcast[area_type]"]').val(value);

      toggleAreaType();
    });
  });
</script>
