<div class="container">
  <div style="margin: auto">
    <h1>Groupes de voisinage</h1>

    <%= form_tag admin_neighborhoods_path, class: 'form-inline', method: :get do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
            <div class='input-group'>
              <%= text_field_tag :search, @params[:search], class: "form-control", placeholder: "Nom, description..." %>
              <span class="input-group-btn">
                <%= submit_tag "Chercher", class: "btn btn-default" %>
              </span>
            </div>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <div class="btn-group btn-group-sm">
              <%= link_to("Tous", @params.merge(area: :all), class: "btn btn-#{@area == :all ? :primary : :default}") %>
              <%= link_to("National", @params.merge(area: :national), class: "btn btn-#{@area == :national ? :primary : :default}") %>
              <% ModerationArea.by_slug_without_no_zone.sort.each do |slug, area| %>
                <%= link_to(area.short_name, @params.merge(area: slug), class: "btn btn-#{@area == slug ? :primary : :default}") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>


    <div class="row">
      <% unless @neighborhoods.none? %>
        <table class="table custom-table">
          <thead>
            <th>Nom du groupe</th>
            <th>Admin</th>
            <th>Lieu</th>
            <th>Date de création</th>
            <th>Membres</th>
            <th>Statut</th>
            <th></th>
          </thead>
          <% @neighborhoods.each_with_index do |neighborhood, i| %>
            <% parite = i.even? ? 'pair' : 'impair' %>
            <% unread_count  = @message_count[neighborhood.id].unread %>
            <% unread_images_count = @message_count[neighborhood.id].unread_images || 0 %>
            <tr class="above-row row-<%= parite %>">
              <td>
                <span class="custom-badge <%= neighborhood.public? ? "info" : "warning" %>" title="<%= neighborhood.public? ? "public" : "privé" %>">
                  <%= link_to neighborhood.name, edit_admin_neighborhood_path(neighborhood) %>
                </span>
              </td>
              <td><%= link_to neighborhood.user.full_name, admin_user_path(neighborhood.user) %></td>
              <td>
                <% if neighborhood.place_name %>
                  <%= link_to neighborhood.place_name, "https://www.google.com/maps/search/?api=1&query=#{neighborhood.place_name}&query_place_id=#{neighborhood.google_place_id}" %>
                <% end %>
              </td>
              <td><%= l neighborhood.created_at, format: :date_short %></td>
              <td>
                <%= "#{neighborhood.members_count}" %></td>
              <td><%= status_label neighborhood %></td>
              <td>
                <% if neighborhood.unread_images %>
                  <span class="badge" style="background: #19534f" title="Images non lues">●</span>
                <% elsif unread_count > 0 %>
                  <span class="badge" style="background: #19534f" title="Images non lues"><%= unread_images_count %></span>
                <% end %>
              </td>
            </tr>
            <tr class="underneath-row row-<%= parite %>">
              <td></td>
              <td colspan="4">
                <% neighborhood.interests.each do |interest| %>
                    <span class="custom-badge"><%= interest.name %></span>
                  <% end %>
              </td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <%= page_entries_info @neighborhoods, entry_name: 'groupes de voisinage' %>
    <div class="container">
      <%= paginate(@neighborhoods) %>
    </div>
  </div>
</div>
