<%= stylesheet_link_tag 'chat_messages' %>

<div class="container">
  <div style="width: 750px; margin: auto">
    <%= render 'edit_header', tab: :show_post_comments %>

    <div class="row">
      <% color = {} %>
      <% color[current_user.id] || (color.count * 0.381966011 * 360).round %>
      <div class="conversation-message is-message-form">
        <div class="conversation-gutter">
          <div style="background-color: hsl(<%= color[current_user.id] %>, 70%, 75%)" class="conversation-icon">
            <%= [current_user.first_name.try(:first), current_user.last_name.try(:first)].compact.join.upcase %>
          </div>
        </div>
        <div class="conversation-content">
          <div>
            <%= link_to UserPresenter.new(user: current_user).display_name, admin_user_path(current_user), class: "conversation-sender" %>
          </div>

          <%= form_for ChatMessage.new, url: message_admin_neighborhood_path(@neighborhood.id) do |f| %>
            <%= f.hidden_field :parent_id, value: @post.id %>

            <%= f.text_area :content, class: "conversation-message-box", rows: 5 %>
            <%= f.submit 'Envoyer', class: "btn btn-primary", disabled: true %>
          <% end %>
        </div>
      </div>

      <% if @comments.empty? %>
        Il n'y a pas encore de message.
      <% else %>
        <% date = nil %>

        <% @comments.each do |message| %>
          <% if date.nil? || date != message.created_at.to_date %>
            <% date = message.created_at.to_date %>
            <div class="conversation-day-divider">
              <div class="conversation-day-divider-label">
                <% if date == Date.today %>
                  aujourd'hui
                <% else %>
                  <%= l date, format: "%A %-d %B %Y" %>
                <% end %>
              </div>
            </div>
          <% end %>

          <% color[message.user_id] ||= (color.count * 0.381966011 * 360).round %>

          <div class="conversation-message">
            <div class="conversation-gutter">
              <div style="background-color: hsl(<%= color[message.user_id] %>, 70%, 75%)" class="conversation-icon">
                <%= [message.user.first_name.try(:first), message.user.last_name.try(:first)].compact.join.upcase %>
              </div>
            </div>
            <div class="conversation-content">
              <div>
                <%= link_to message.user.full_name, admin_user_path(message.user), class: "conversation-sender" %>
                <span class="conversation-timestamp"><%= l message.created_at, format: "%H h %M" %></span>
              </div>

              <%= simple_format message.content %>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="row">
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</div>

<script>
  $('[data-toggle="tooltip"]').tooltip()

  $(function(){
    var chatMessageSubmit = $('#new_chat_message [type=submit]')[0]
    $('#chat_message_content').on('input', function() {
      chatMessageSubmit.disabled = this.textLength === 0;
    })
  })
</script>
