<div class="container">
  <%= render 'header', tab: :unread_posts %>

  <div style="margin: auto">
    <h1>Groupes de voisinage : publications sans commentaire</h1>
    <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        Seules les publications <b>sans commentaire</b>, <b>récentes</b> (moins de trois mois) et <b>dans les groupes auxquels le modérateur appartient</b> sont listées ci-après.
      </div>
    </div>

    <%= render 'search_form', params: @params, area: @area, path: :unread_posts %>

    <div class="row">
      <% unless @posts.none? %>
        <table class="table custom-table">
          <thead>
            <th>Nom du groupe</th>
            <th>Utilisateur</th>
            <th>post</th>
            <th>Créée le</th>
            <th>Supprimer</th>
          </thead>
          <% @posts.each_with_index do |post, i| %>
            <% parite = i.even? ? 'pair' : 'impair' %>
            <tr class="above-row row-<%= parite %>" id="comment-<%= post.id %>">
              <%= render 'unread_post_row', post: post %>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <%= page_entries_info @posts, entry_name: 'publications sans commentaire' %>
    <div class="container">
      <%= paginate(@posts) %>
    </div>
  </div>
</div>
