<h1>Liste des associations</h1>
<br>
<div class="row">
  <table class="table">
    <th>id</th>
    <th>Nom</th>
    <th>Date d'adhésion</th>
    <th>Maraudeurs</th>
    <th>Actifs <span class="glyphicon glyphicon-info-sign" aria-hidden="true"  data-toggle="tooltip" data-placement="top" title="Mauraudeurs actifs sur les 30 derniers jours."></span></th>
    <th>Maraudes</th>
    <th>Rencontres</th>
    <th>Date de la dernière maraude</th>
    <th>Actions</th>

    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.id %></td>
        <td><%= organization.name %></td>
        <td><%= organization.created_at.strftime('%d/%m/%Y') %></td>
        <td><span class="badge"><%= organization.users.count %></span></td>
        <td><span class="badge"><%= organization.active_members_last_month %></span></td>
        <td><span class="badge"><%= organization.tours_count %></span></td>
        <td><span class="badge"><%= organization.meetings_count %></span></td>
        <td><%= organization.last_tour_date %></td>
        <td><%= link_to "Modifier", edit_admin_organization_path(organization), class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="row">
  <%= paginate @organizations %>
</div>
