<ol class="breadcrumb">
  <li><%= link_to "Maraudes - Liste des associations", admin_organizations_path %></li>
  <li><%= @organization.name %></li>
</ol>

<div class="row">
  <h1>Éditer l'association</h1>
</div>

<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 2rem">
  <li role="presentation" class="active"><%= link_to "Membres", admin_organization_path(@organization) %></li>
  <li role="presentation"><%= link_to "Description", edit_admin_organization_path(@organization) %></li>
</ul>

<table class="table">
  <% if @members.empty? %>
    <tr>
      <td>Cette organisation n'a pas de membres.</td>
    </tr>
  <% end %>

  <% @members.each do |user| %>
    <tr>
      <td><%= link_to UserPresenter.full_name(user), admin_user_path(user) %></td>
      <td><%= link_to user.phone %></td>
    </tr>
  <% end %>
</table>
