<div class="container">
  <%= link_to "aquatic_animals", aquatic_animals_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "climacode", climacode_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "curly_editor", curly_editor_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "day_night", day_night_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "falling_words", falling_words_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "galaxy", galaxy_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "maze", maze_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "milk", milk_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "responsive_carousel", responsive_carousel_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "timeline_slider", timeline_slider_fun_home_index_path, class: "btn btn-default btn-sm" %>
  <%= link_to "tube_clock", tube_clock_fun_home_index_path, class: "btn btn-default btn-sm" %>
</div>
