<div class="row">
  <div class='col-sm-8'>
    <% if @entourage.group_type == 'outing' %>
      <b>Date :</b> <%= @entourage.metadata_datetimes_formatted %><br/>
      <b>Lieu :</b>
      <% if @entourage.online? %>
        <% if @entourage.event_url.present? %>
          <%= link_to @entourage.event_url %> (<%= @entourage.metadata[:display_address] %>)
        <% else %>
          <%= @entourage.metadata[:display_address] %> (pas de lien actuellement)
        <% end %>
      <% else %>
        <%= link_to @entourage.metadata[:display_address], "https://www.google.com/maps/search/?api=1&query=#{@entourage.metadata[:display_address]}&query_place_id=#{@entourage.metadata[:google_place_id]}" %>
      <% end %><br>
    <% end %>
    <% if @entourage.public_accessibility_options.count > 1 %>
      <% if @entourage.public? %>
        <b>Ce groupe est public</b> (pas de validation nécessaire pour le rejoindre)<br/>
      <% else %>
        <b>Ce groupe est privé</b> (validation nécessaire pour le rejoindre)<br/>
      <% end %>
    <% end %>
    <% if @entourage.group_type == 'outing' || @entourage.public_accessibility_options.count > 1 %>
      <br/>
    <% end %>
    <%= simple_format @highlighted[:description] %>
    <hr>
    <div class="small text-muted">
      Mots sensibles :
      <% case @entourage.sensitive_words_check&.status&.to_sym %>
      <% when nil %>
        <span class="text-warning">pas encore vérifiés</span>
      <% when :validated %>
        <span class="text-success">contenu validé</span>
        –
        <%= link_to "Signaler des mots sensibles", sensitive_words_check_admin_entourage_path(@entourage, status: :require_moderation), method: :post %>
      <% when :require_moderation %>
        <span class="text-danger">détectés</span>
        –
        <%= link_to "Valider le contenu", sensitive_words_check_admin_entourage_path(@entourage, status: :validated), method: :post %>
        |
        <%= link_to "Détails", sensitive_words_admin_entourage_path(@entourage) %>
      <% end %>
    </div>
  </div>

  <div class='col-sm-4 '>
    <div class='pull-right'>
      <div>
        <% if @entourage.online? %>
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          En ligne
        <% else %>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <%= @entourage.approximated_location %>
        <% end %>
      </div>
      <div>
        <%= l @entourage.created_at, format: "%A %-d %B %Y à %H h %M" %>
      </div>
      <div>
        <span style="font-weight: bold">id :</span>
        #<%= @entourage.id %>
      </div>
      <div>
        <span style="font-weight: bold">statut :</span>
        <%= entourage_state_label(@entourage) %>
      </div>

      <% if @entourage.outing? && @entourage.ongoing? %>
        <div>
          <%= link_to "Annuler l'événement", cancellation_admin_entourage_path(@entourage) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
