<% status_order = %w(pending rejected cancelled) %>

<h3>Invitations <span class="badge"><%= invitations.count(&:is_pending?) %></span></h3>

<% if @invitations.empty? %>
  Il n'y a pas encore d'invitation.
<% else %>
  <table id="invitations-list" class="table table-striped">
    <thead>
      <tr>
        <th>Prénom / Nom</th>
        <th>Status</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>

    <tbody>
      <% invitations.sort_by { |i| [status_order.index(i.status), i.created_at] }.each do |invitation| %>
        <tr>
          <td><%= link_to "#{invitation.invitee.full_name} (##{invitation.invitee.id})", admin_user_path(invitation.invitee) %></td>
          <td><%= user_state_label(invitation.status) %></td>
          <td><%= invitation.invitee.email %></td>
          <td><%= invitation.invitee.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
