<style>
  .unread-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #d9534f;
    border-radius: 50%;
    margin-top: 5px;
  }
</style>

<% status_order = %w(pending rejected cancelled) %>

<%
  unread = requests.find_all { |r| @moderator_read && r.created_at >= @moderator_read.read_at }
  @unread_content = true if unread.any?
%>

<h3 id="join_requests">Demandes <span class="badge"><%= requests.count(&:is_pending?) %><span></h3>

<% if unread.count > 0 %>
  <div class="conversation-unread-status">
    <%= pluralize(unread.count, "nouvelle demande", "nouvelles demandes") %>
    depuis le <%= l unread.map(&:created_at).min, format: "%-d %B à %H h %M" %>
  </div>
<% end %>

<% if requests.empty? %>
  Il n'y a pas encore de demande.
<% else %>
  <table id="members-list" class="table table-striped">
    <thead>
      <tr>
        <th style="width: 10px"></th>
        <th>Prénom / Nom</th>
        <th></th>
        <th>Status</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Attente</th>
      </tr>
    </thead>

    <tbody>
      <% requests.sort_by { |r| [status_order.index(r.status), r.created_at] }.each do |request| %>
        <% member = request.user %>
        <tr>
          <td>
            <% if @moderator_read && request.created_at >= @moderator_read.read_at %>
              <span class="unread-circle"></span>
            <% end %>
          </td>
          <td>
            <%= link_to "#{member.full_name} (##{member.id})", admin_user_path(member) %>
            <%- if member.id == @entourage.user.id %>
              <span class="label label-info">créateur</span>
            <% end %>
          </td>
          <td>
            <% if request.entourage_invitation_id.present? %>
              <span class="label label-default">invitation</span>
            <% end %>
            <% unless request.is_accepted? %>
              <%= user_state_label(request.entourage_invitation_status) %>
            <% end %>
          </td>
          <td><%= entourage_invitation_type_label(request) %></td>
          <td><%= member.email %></td>
          <td><%= member.phone %></td>
          <td>
            <% if request.is_pending? %>
              <span class="text-<%= request.updated_at <= 48.hours.ago ? :danger : :muted %>">
                <%= time_ago_in_words request.updated_at %>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-right">
    <span id="experimental_pending_request_reminder_label">
      <b>Demandes en attente :</b>
      <%
        user = @entourage.user
        reminders = user.experimental_pending_request_reminders
        count = reminders.count
        last_at = reminders.maximum(:created_at)
      %>
      <%= UserPresenter.new(user: user).display_name %>
      <% case count %>
      <% when 0 %>
        n'a jamais reçu de relance par SMS.
      <% when 1 %>
        a reçu une relance par SMS, il y a <%= time_ago_in_words last_at %>.
      <% else %>
        a reçu <%= count %> relances par SMS. Dernière relance il y a <%= time_ago_in_words last_at %>.
      <% end %>
    </span>
    <%= link_to "Relance envoyée",
          experimental_pending_request_reminder_admin_user_path(user), method: :post,
          class: "btn btn-primary", data: { disable_with: "Relance envoyée" }
    %>
  </div>
<% end %>
<script>
  $(function(){
    var scrollTarget = location.search.slice(1),
        pendingRequestReminderSent = <%= flash.key?(:_experimental_pending_request_reminder_created) %>;

    if (pendingRequestReminderSent) {
      scrollTarget = 'join_requests'
    }

    if (scrollTarget.length > 0) {
      setTimeout(function(){
        $('body, html').scrollTop($('#' + scrollTarget).position().top - $('#navbar').outerHeight())
      }, 0)
    }

    if (pendingRequestReminderSent) {
      $('#experimental_pending_request_reminder_label')
        .css({backgroundColor: '#ffc'})
    }
  })
</script>
