<h4>Liste des événements récurrents <span class="badge"><%= @siblings.count %><span></h4>

<% if @outing.recurrence %>
  <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
    <div style="flex-grow: 1">
      Un événement récurrent continuer de générer de nouveaux événements tant que :
      <ul>
        <li>On n'a pas arrêté les récurrences dans le backoffice</li>
        <li>Ou tant qu'il y a au moins un événement actif à venir</li>
      </ul>
      Si vous souhaitez arrêter les récurrences, vous avez donc deux moyens possibles :
      <ul>
        <li>Arrêter les récurrences dans le backoffice</li>
        <li>Ou annuler tous les événements à venir</li>
      </ul>
    </div>
  </div>

  <%= link_to("Arrêter les récurrences", stop_recurrences_admin_entourage_path(@outing), method: :post, class: "btn btn-primary", data: { confirm: "Cette action est irréversible. Êtes-vous sûr d'arrêter la récurrence de cet événement ?" }) %>

<% else %>
  <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
    <div style="flex-grow: 1">
      Cet événement n'a pas de récurrence active
    </div>
  </div>
<% end %>

<table id="siblings-list" class="table table-striped">
  <% if @siblings.any? %>
    <thead>
      <tr>
        <th>id</th>
        <th>date de création</th>
        <th>date d'événement (début)</th>
        <th>date d'événement (fin)</th>
      </tr>
    </thead>

    <tbody>
      <% @siblings.each do |sibling| %>
        <tr>
          <td><%= link_to sibling.id, admin_entourage_path(sibling) %></td>
          <td><%= l sibling.created_at %></td>
          <td><%= l sibling.metadata[:starts_at] %></td>
          <td><%= l sibling.metadata[:ends_at] %></td>
        </tr>
      <% end %>
    </tbody>

  <% else %>
    <caption><%= "Il n'y a pas encore d'événements récurrents."%></caption>
  <% end %>
</table>
