<%
  unread = @requests.find_all { |r| @moderator_read && r.created_at >= @moderator_read.read_at }
%>

<h3>Participants <span class="badge"><%= @requests.count %><span></h3>

<% if unread.count > 0 %>
  <div class="conversation-unread-status">
    <%= pluralize(unread.count, "nouveau participant", "nouveaux participants") %>
    depuis le <%= l unread.map(&:created_at).min, format: "%-d %B à %H h %M" %>
  </div>
<% end %>

<table id="members-list" class="table table-striped">
  <thead>
    <tr>
      <th style="width: 10px"></th>
      <th>Prénom / Nom</th>
      <th></th>
      <th>Statut</th>
      <th>Profil</th>
      <th>Email</th>
      <th>Téléphone</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.sort_by(&:created_at).each do |request| %>
      <% member = request.user %>
      <tr>
        <td>
          <% if @moderator_read && request.created_at >= @moderator_read.read_at %>
            <span class="unread-circle"></span>
          <% end %>
        </td>
        <td>
          <%= link_to "#{member.full_name} (##{member.id})", admin_user_path(member) %>
          <%- if member.id == @entourage.user.id %>
            <span class="label label-info">créateur</span>
          <% end %>
        </td>
        <td>
          <% if request.entourage_invitation_id.present? %>
            <span class="label label-default">invitation</span>
          <% end %>
        </td>
        <td><%= user_state_label(member.validation_status) %></td>

        <td>
          <% if member.targeting_profile.present? %>
            <span class="custom-badge info" title="Profil renseigné par la modération">
              <%= t "community.entourage.targeting_profiles.#{member.targeting_profile}" %>
            </span>
          <% elsif member.goal.present? %>
            <span class="custom-badge info" title="Profil renseigné par l'utilisateur">
              <%= t "community.entourage.goals_compact.#{member.goal}" %>
            </span>
          <% end %>
        </td>

        <td><%= member.email %></td>
        <td><%= member.phone %></td>
      </tr>
    <% end %>

  </tbody>
</table>
