<h4>Liste des join request <span class="badge"><%= @join_requests.count %><span></h4>

<table id="join-requests-list" class="table table-striped">
  <%- if @join_requests.any? %>

    <thead>
      <tr>
        <th>Prénom / Nom</th>
        <th>Status</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>

    <tbody>
      <% @join_requests.each do |join_request| %>
        <tr>
          <td><%= link_to "#{join_request.user.full_name} (##{join_request.user.id})", admin_user_path(join_request.user) %></td>
          <td><%= user_state_label(join_request.status) %></td>
          <td><%= join_request.user.email %></td>
          <td><%= join_request.user.phone %></td>
        </tr>
      <% end %>

    </tbody>

  <%- else %>
    <caption><%= "Il n'y a pas encore de requêtes."%></caption>
  <% end %>
</table>
