<%
  entourage = @entourage
  moderation = entourage.moderation || entourage.build_moderation
  user_moderation = entourage.user_moderation || entourage.build_user_moderation

  values = EntourageModeration::VALUES
  column_type = Hash[EntourageModeration.columns_hash.map { |n, c| [n.to_sym, c.type] }]

  user_values = UserModeration::VALUES
  user_column_type = Hash[UserModeration.columns_hash.map { |n, c| [n.to_sym, c.type] }]

  user_community = entourage.user.community
  targeting_profile_values = user_community.targeting_profiles.map do |key|
    [t("community.#{user_community.slug}.targeting_profiles.#{key}"), key]
  end

  if moderation.action_author_type.nil? && entourage.user.targeting_profile.present?
    moderation.action_author_type ||= t("community.#{user_community.slug}.targeting_profiles.#{entourage.user.targeting_profile}")
  end

  # moderation.moderator = "Guillaume" if moderation.moderator.blank?

  def safe_options standard_values, current_value
    if current_value.blank? || current_value.in?(standard_values)
      return standard_values, false
    end

    safe_options = standard_values + [
      ['Non-standard :', disabled: true],
      current_value
    ]
    return safe_options, true
  end
%>

<style>
  /* TODO: find a better way to do this */
  .unsafe-overlay-on-header {
    position: fixed;
    top: 15px;
    right: 149px;
    z-index: 1030;
  }

  .panel-row {
    display: flex;
    overflow: hidden;
  }

  .panel-row + .panel-row {
    border-top: 1px solid #ddd;
  }

  .panel-row .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    border-radius: 0;
    flex: 0 0 140px;
  }

  .panel-row .panel-body {
    padding-top: 10px;
    flex-grow: 1;
  }
</style>
<%= form_for moderation,
             method: :post, url: admin_entourage_moderations_path,
             remote: true,
             html: { id: :moderation } do |f| %>

  <%= f.hidden_field :entourage_id %>

  <div class="js-save-status text-right text-muted unsafe-overlay-on-header">
    <span class="js-save-status-default">&nbsp;</span>
    <span class="js-save-status-unsaved hidden">Certains changements ne sont pas enregistrés</span>
    <span class="js-save-status-saved hidden">Enregistré</span>
    <span class="js-save-status-saving hidden">Enregistrement...</span>
    <span class="js-save-status-error text-danger hidden">
      Erreur lors de l'enregistrement des changements
      <a href="#" class="js-save-retry">Réessayer</a>
    </span>
  </div>

  <div class="panel panel-default">
    <div class="panel-row" style="overflow: visible;">
      <div class="panel-heading">
        Nature de l’action
      </div>
      <div class="panel-body row">
        <% [:action_author_type, :action_type].each do |field| %>
          <div class="col-md-3">
            <% current_value = f.object[field] %>
            <% options, non_standard = safe_options(values[field], current_value) %>

            <%= f.label field do %>
              <%= f.object.class.human_attribute_name(field) %>
              <% if non_standard %>
                <span class="glyphicon glyphicon-warning-sign text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="la valeur &quot;<%= current_value %>&quot; n'est pas standard"></span>
              <% end %>
            <% end %>
            <%= f.select field, options, { include_blank: true }, { class: "form-control" } %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel-row">
      <div class="panel-heading">
        Modération
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 form-group">
            <%= f.label :moderated_at %>
            <%= f.date_field :moderated_at, class: "form-control js-datepicker" %>
          </div>
          <div class="col-md-3 form-group">
            <%
              current_value = f.object[:moderator_id]
              options = user_community.users.moderators.map { |u| [u.first_name, u.id] }
              non_standard = false
              if current_value.present? &&
                !current_value.in?(Hash[options].values) &&
                (missing_user = User.find_by(id: current_value)).present?
                options.unshift [missing_user.first_name, missing_user.id]
                non_standard = true
              end
            %>
            <%= f.label :moderator_id do %>
              <%= f.object.class.human_attribute_name(:moderator_id) %>
              <% if non_standard %>
                <span class="glyphicon glyphicon-warning-sign text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="cet utilisateur n'est pas modérateur actuellement"></span>
              <% end %>
            <% end %>
            <%= f.select :moderator_id, options, { include_blank: true }, { class: "form-control" } %>
          </div>
        </div>

        <div>
          <%= f.label :moderation_comment %>
          <%= f.text_area :moderation_comment, class: "form-control vresize" %>
        </div>
      </div>
    </div>

    <div class="panel-row">
      <div class="panel-heading">
        Informations de l'utilisateur
      </div>
      <div class="panel-body">
        <div class="row" style="margin-bottom: 2px;">
          <div class="col-md-3 form-inline">
            <label>Actions créées :</label> <%= entourage.user.groups.count %>
            <%= link_to '(Voir)', admin_entourages_path(q: { user_id_eq: entourage.user_id }), target: :_blank %>
          </div>
          <div class="col-md-3 form-inline">
            <label>Actions rejointes :</label> <%= entourage.user.joined_groups(exclude_created: true, status: [:pending, :accepted]).count %>
          </div>
          <div class="col-md-3 form-inline">
            <label>Conversations :</label> <%= entourage.user.conversations.count %>
          </div>
          <div class="col-md-3 form-inline">
            <label>Messages :</label> <%= entourage.user.chat_messages.count %>
          </div>
        </div>
        <div class="row">
          <%= fields_for :user, entourage.user do |uf| %>
            <div class="col-md-3">
              <%= uf.label :targeting_profile %>
              <%= uf.select :targeting_profile, targeting_profile_values, { include_blank: true }, { class: "form-control" } %>
            </div>
            <% is_partner = entourage.user.targeting_profile == 'partner' %>
            <div class="col-md-3 <%= :hide unless is_partner %>" id="partner-fieldset">
              <%= uf.label :partner %>
              <%= uf.collection_select :partner_id, Partner.all, :id, :name, { include_blank: true }, { required: true, disabled: !is_partner, class: "form-control" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel-row">
      <div class="panel-heading">
        Finalité de l’action
      </div>
      <div class="panel-body">
        <div class="row">
          <% [:action_outcome_reported_at, :action_outcome].each do |field| %>
            <div class="col-md-3 form-group">
              <%= f.label field %>
              <% case column_type[field] %>
              <% when :date %>
                <%= f.date_field field, class: "form-control js-datepicker" %>
              <% else %>
                <%= f.select field, values[field], { include_blank: true }, { class: "form-control" } %>
              <% end %>
            </div>
          <% end %>

          <div class="col-md-3 form-group" style="padding-top: 25px">
            <% if entourage.closed? %>
              <%= link_to 'Clôturé', close_admin_entourage_path(entourage), method: :post, class: "btn btn-default disabled" %>
            <% else %>
              <%= link_to 'Clôturer', close_admin_entourage_path(entourage), method: :post, class: "btn btn-success" %>
            <% end %>
          </div>
        </div>

        <% unless @entourage.outing? %>
          <div>
            <%= label_tag :entourage_metadata_close_message, "Commentaire du créateur lors de la clôture" %>
            <%= text_field_tag :close_message, @entourage[:metadata][:close_message], class: 'form-control' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
  var $moderation = $('#moderation'),
      moderationSaveTimeout = null,
      contentVersion = 0,
      savedVersion = 0,
      pendingSave = null

  function setSaveModerationStatus(status) {
    $moderation.find('[class^=js-save-status-]').addClass('hidden')
    $moderation.find('.js-save-status-'+status).removeClass('hidden')
  }

  function saveModeration() {
    if (pendingSave !== null) {
      setTimeout(saveModeration, 1000) // retry in 1 second
      return
    }
    $moderation.submit()
  }

  $moderation
    .on('change input', function(e) {
      // require a save after 2 seconds of inactivity
      clearTimeout(moderationSaveTimeout)
      moderationSaveTimeout = setTimeout(saveModeration, 2000)

      // hide the "saved" message
      submittedVersion = pendingSave || savedVersion
      if (contentVersion <= submittedVersion) {
        setSaveModerationStatus('unsaved')
        contentVersion = submittedVersion + 1
      }
    })
    .on('ajax:before', function() {
      $('.has-error').removeClass('has-error')
      setSaveModerationStatus('saving')
      pendingSave = contentVersion
    })
    .on('ajax:error', function(e, jqXHR){
      var errors = jqXHR.responseJSON;
      var invalidForms = [];

      Object.keys(errors).forEach(function(object) {
        Object.keys(errors[object]).forEach(function(attribute) {
          var fieldName = object + '[' + attribute + ']',
              $field = $('[name="' + fieldName + '"]')

          if ($field.length === 0) {
            return
          }

          var field = $field[0],
              message = errors[object][attribute].join(', '),
              form = field.form;

          $field.parent().addClass('has-error')
          field.setCustomValidity(message)
          if (invalidForms.indexOf(form) === -1) {
            invalidForms.push(form)
          }
        })
      })
      invalidForms.forEach(function(f) { f.reportValidity() })

      setSaveModerationStatus('error')
      contentVersion = pendingSave
      pendingSave = null
    })
    .on('ajax:success', function() {
      savedVersion = pendingSave
      pendingSave = null

      // if no more usaved changes exist,
      // display the message and reset the version counter
      if (contentVersion > savedVersion) {
        setSaveModerationStatus('unsaved')
      }
      else {
        setSaveModerationStatus('saved')
        contentVersion = 0
        savedVersion = 0
      }
    })

  $moderation.find('.js-save-retry').on('click', function(e) {
    e.preventDefault()
    saveModeration()
  })

  var $profileField = $('#user_targeting_profile'),
      $partnerField = $('#user_partner_id'),
      $partnerFieldset = $('#partner-fieldset');

  function togglePartnerFieldset() {
    if ($profileField.val() === 'partner') {
      $partnerFieldset.removeClass('hide')
      $partnerField.prop('disabled', false)
    }
    else {
      $partnerFieldset.addClass('hide')
      $partnerField.prop('disabled', true)
    }
  }

  $profileField.on('change', togglePartnerFieldset)

  window.onbeforeunload = function (e) {
    var message = "Are you sure?"
    if (contentVersion > savedVersion) {
      if (e) { e.returnValue = message }
      return message
    }
  }
</script>
