<h4>Liste actions recommandées</h4>

<% unless @entourage.lexical_transformation.present? %>
  <%#= link_to("Calculer des rapprochements lexicaux", lexical_transformations_admin_entourage_path(@entourage), method: :post, class: "btn btn-primary") %>
  Pas de rapprochement calculé
<% else %>
  <table id="lexical_transformations-list" class="table table-striped">
    <thead>
      <tr>
        <th>type</th>
        <th>id</th>
        <th>name</th>
        <th>distance</th>
        <th>date de création</th>
        <th>Score de similarité</th>
        <th>Inapp</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @similars.each do |similar| %>
        <% instance_match = similar.instance_type.constantize.find(similar.instance_id) %>
        <tr id="lexical-matching-<%= similar.id %>">
          <td><%= instance_match.class.name %></td>
          <td><%= link_to instance_match.id, [:admin, instance_match] %></td>
          <td><%= instance_match.name %></td>
          <td><%= EntourageServices::GeocodingService.distance_rounded(@entourage.latitude, @entourage.longitude, instance_match.latitude, instance_match.longitude) %> km</td>
          <td><%= l instance_match.created_at, format: "%A %-d %B %Y" %></td>
          <td><%= similar.similarity_score.round(3) %></td>
          <td class="inapp-notification">
            <%= render partial: 'admin/entourages/show/show_lexical_transformation_matching_inapp_notification', :locals => { entourage: @entourage, instance_match: instance_match } %>
          </td>
          <td>
            <%= link_to "Envoyer", send_lexical_transformation_matching_admin_entourage_path(@entourage, lexical_transformation_id: similar.id), method: :post, remote: true, class: "btn btn-default btn-sm", data: { confirm: "Etes-vous sûr de vouloir générer une notification pour l'utilisateur ?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
