<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Photos d'événements</div>
        <%= link_to "Ajouter une photo", new_admin_entourage_image_path, class: "btn btn-default" if current_user.super_admin? %>
      </div>

      <% if @entourage_images.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucune photo n'est encore spécifiée.</h3>
          </div>
        </div>
      <% else %>
        <table class="custom-table">
          <thead>
            <th>Titre</th>
            <th>Photos</th>
          </thead>
          <% @entourage_images.each do |entourage_image| %>
            <tr>
              <td>
                <%= link_to entourage_image.title, edit_admin_entourage_image_path(entourage_image) %>
              </td>
              <td>
                <%= image_tag(EntourageImage::image_url_for(entourage_image.landscape_url_medium_or_default), size: '288x96') if entourage_image.landscape_url_medium_or_default.present? %>
              </td>
              <td>
                <%= image_tag(EntourageImage::image_url_for(entourage_image.portrait_url_medium_or_default), size: '59x96') if entourage_image.portrait_url_medium_or_default.present? %>
              </td>
              <td>
                <%= link_to "Modifier", edit_admin_entourage_image_path(entourage_image), class: "custom-button custom-primary-inverted" if current_user.super_admin? %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
