<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Photos d'événements</div>
        <%= link_to "Ajouter une photo", new_admin_entourage_image_path, class: "btn btn-default" %>
      </div>

      <% if @entourage_images.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucune photo n'est encore spécifiée.</h3>
          </div>
        </div>
      <% else %>
        <table class="table">
          <th>Titre</th>
          <th>Photos</th>
          <% @entourage_images.each do |entourage_image| %>
            <tr>
              <td>
                <%= link_to entourage_image.title, edit_admin_entourage_image_path(entourage_image) %>
              </td>
              <td>
                <%= image_tag(entourage_image.landscape_url, size: '288x96') if entourage_image.landscape_url.present? %>
                <%= image_tag(entourage_image.portrait_url, size: '59x96') if entourage_image.portrait_url.present? %>
              </td>
              <td>
                <%= link_to "Modifier", edit_admin_entourage_image_path(entourage_image), class: "btn btn-default" %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
