<title><%= @resource.name %></title>
<em><%#= @resource.duration %></em>
<p><%= @resource.description %></p>
<img src="<%= @resource.image_url %>">
<a href="<%= @resource.url %>"><%= @resource.url %></a>
