<div class="container">
  <div style="margin: auto">
    <h1>Demandes de papotages</h1>

    <div style="margin-bottom: 15px; display: flex">
      <div class="btn-group btn-group-sm">
        <%= link_to("Non matchés", url_for(@params.merge(matched: false)), class: "btn btn-#{@matched == false ? :primary : :default}") %>
        <%= link_to("Matchés", url_for(@params.merge(matched: true)), class: "btn btn-#{@matched == true ? :primary : :default}") %>
      </div>
      <div style="margin-left: 15px">
        <%= link_to("Nouvelle demande", new_admin_user_smalltalk_path, class: "btn btn-default btn-sm") %>
      </div>
    </div>

    <div class="row">
      <% if @user_smalltalks.any? %>
        <table class="custom-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Utilisateur</th>
              <th>Créée le</th>
              <th>match_format</th>
              <th>match_locality</th>
              <th>match_gender</th>
              <th>match_interest</th>
              <th>matched</th>
              <th>Papotage matché</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @user_smalltalks.each do |user_smalltalk| %>
              <tr>
                <td><%= link_to user_smalltalk.id, admin_user_smalltalk_path(user_smalltalk.id) %></td>
                <td><%= link_to user_smalltalk.user.full_name, edit_admin_user_path(user_smalltalk.user) %></td>
                <td><%= l user_smalltalk.created_at.to_date %></td>
                <td><%= user_smalltalk.match_format %></td>
                <td>
                  <%= boolean_label user_smalltalk.match_locality %>
                  <% if user_smalltalk.user.city %>
                    <p style="font-size: 0.8em"><%= user_smalltalk.user.city %> (utilisateur)</p>
                  <% end %>

                  <% if user_smalltalk.user_latitude && user_smalltalk.user_longitude %>
                    <p style="font-size: 0.8em"><%= "#{user_smalltalk.user_latitude.round(1)}, #{user_smalltalk.user_longitude.round(1)}" %> (demande)</p>
                  <% end %>
                </td>
                <td>
                  <%= boolean_label user_smalltalk.match_gender %>
                  <% if user_smalltalk.user_gender %>
                    <p style="font-size: 0.8em"><%= "#{user_smalltalk.user_gender}" %></p>
                  <% end %>
                </td>
                <td>
                  <%= boolean_label user_smalltalk.match_interest %>
                  <% if user_smalltalk.user_interest_ids.any? %>
                    <p style="font-size: 0.8em"><%= "#{user_smalltalk.interest_names.join(', ')}" %></p>
                  <% end %>
                </td>
                <td><%= boolean_label user_smalltalk.matched_at.present? %></td>
                <td><%= link_to user_smalltalk.smalltalk.uuid_v2, admin_smalltalk_path(user_smalltalk.smalltalk) if user_smalltalk.smalltalk.present? %></td>
                <td><%= link_to "Modifier", edit_admin_user_smalltalk_path(user_smalltalk), class: "btn btn-warning" %></td>
                <td><%= link_to "Matcher", match_admin_user_smalltalk_path(user_smalltalk), method: :post, class: "btn btn-warning" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
          <div style="flex-grow: 1">
            Aucune demande de papotage n'a encore été réalisée.
          </div>
        </div>
      <% end %>
    </div>

    <%= page_entries_info @user_smalltalks, entry_name: 'Demandes de papotages' %>
    <div class="container">
      <%= paginate(@user_smalltalks) %>
    </div>
  </div>
</div>
