<%= form_for([:admin, @marketing_referer], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: "layouts/errors", locals: {obj: @marketing_referer} %>

  <div class="control-group">
    <%= f.label :name,"Nom", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <br>
  <%= f.submit "Sauver", class: "btn btn-success" %>
  <%= link_to "Annuler", admin_marketing_referers_path, class: "btn btn-default" %>
<% end %>