<h1>Liste des marketing referers</h1>
<br><br>

<%= link_to "Ajouter", new_admin_marketing_referer_path, class: "btn btn-success" %>
<br><br>

<div class="row">
  <table class="table">
    <th>id</th>
    <th>Nom</th>
    <th></th>

    <% @marketing_referers.each do |marketing_referer| %>
      <tr>
        <td><%= marketing_referer.id %></td>
        <td><%= marketing_referer.name %></td>
        <td><%= link_to "Modifier", edit_admin_marketing_referer_path(marketing_referer), class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="row">
  <%= paginate @marketing_referers %>
</div>