<style>
  .field_with_errors { display: inline-block }
</style>

<%= render partial: 'common/errors', locals: { obj: @recommandation } %>
<%= form_for [:admin, @recommandation], html: { role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :profile %>
    <div class="controls">
      <%= f.text_field :profile, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :instance %>
    <div class="controls">
      <%= f.text_field :instance, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :action %>
    <div class="controls">
      <%= f.text_field :action, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <div class="controls">
      <%= f.text_field :url, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :areas, style: "margin-right: .7em" %>
    <a href="#" data-role="select-areas" data-select="all">Tout sélectionner</a> ·
    <a href="#" data-role="select-areas" data-select="ours">Nos zones</a> ·
    <a href="#" data-role="select-areas" data-select="none">Tout désélectionner</a>
    <div style="margin-bottom: 5px" data-checkbox-required="Sélectionnez au moins une zone">
      <%=
        collection_check_boxes(:recommandation, :areas,
                               ModerationArea.all_with_no_zone,
                               :departement_slug, :name_with_departement) do |b|
          b.label(class: "checkbox-inline") { b.check_box + b.text }
        end
      %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user_goals, style: "margin-right: .7em" %>
    <div style="margin-bottom: 5px" data-checkbox-required="Sélectionnez au moins un profil">
      <%=
        collection_check_boxes(:recommandation, :user_goals,
                               UserGoalPresenter.all(current_user.community),
                               :slug, :name) do |b|
          b.label(class: "checkbox-inline") { b.check_box + b.text }
        end
      %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image_url %>
    <% if @recommandation.new_record? %>
      <div class="text-muted">
        Vous pourrez ajouter une image une fois que la carte sera créée.
      </div>
    <% else %>
      <% if @recommandation.image_url %>
        <div style="margin-bottom: 15px">
          <%= image_tag(@recommandation.image_url, size: '300x100') if @recommandation.image_url.present? %>
        </div>
      <% end %>

      <div>
        <%= link_to "Modifier", edit_image_admin_recommandation_path, class: "btn btn-default btn-sm" %>
      </div>
    <% end %>
  </div>

  <%= f.submit 'Enregistrer', class: "btn btn-primary" %>
  <%= link_to "Retour", admin_recommandations_path, class: "btn btn-default" %>
<% end %>

<script>
  //
  // areas presets

  var areasSelector = '[type="checkbox"][name="recommandation[areas][]"]',
      $areas = $(areasSelector)

  $(document).on('click', '[data-role="select-areas"]', function(e) {
    e.preventDefault()
    var select = $(this).data('select'),
        check = {
          'all': function() { return true },
          'ours': function(v) { return ['sans_zone', 'hors_zone'].indexOf(v) === -1 },
          'none': function() { return false },
        }[select]

    $areas.each(function() {
      var $box = $(this)
      $box.prop('checked', check($box.val()))
      this.setCustomValidity('') // reset validations
    })
  })
</script>
