<%= simple_form_for @organization do |f| %>
  <%= f.input :name, label: "Nom de l'association" %>
  <%= f.input :description, label: 'Description', as: :text %>
  <div>
  <h3>Informations pratiques</h3>
  <%= f.input :phone, label: 'Téléphone' %>
  <%= f.input :address, label: 'Adresse' %>
  </div>
  <%= f.button :submit, 'Sauvegarder les modifications' %>
<% end %>