<div>
<ul class="nav nav-pills" role="tablist">
<li role="presentation" class="active"><a href="#maraudes" aria-controls="maraudes" role="tab" data-toggle="tab">Carte des maraudes</a></li>
<li role="presentation"><a href="#statistiques" aria-controls="statistiques" role="tab" data-toggle="tab">Statistiques</a></li>
</ul>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="maraudes">
<div class="container-fluid">
<div class="col-md-3">
<div class="left-panel">
<h3>Derniers Evènements</h3>
<% @latest_tours.each do |day, tours| %>
<h4><%= day %></h4>
<% tours.each do |tour| %>
<div><%= tour.user.full_name %> a réalisé une maraude de <%= duration(tour) %><% if tour.encounters.size > 0 %> et a rencontré <%= pluralize tour.encounters.size, 'personne' %><% end %>.</div>
<% end %>
<% end %>
</div>
<div class="left-panel">
<h3>Activité de la semaine</h3>
<h4><%= meters_to_printable_km @total_length %> km parcourus</h4>
<h4><%= pluralize @encounter_count, 'personne rencontrée', 'personnes rencontrées' %></h4>
<h4><%= pluralize @tourer_count, 'maraudeur actif', 'maraudeurs actifs' %></h4>
<h4><%= pluralize @tour_count, 'maraude réalisée', 'maraudes réalisées' %></h4>
</div>
</div>
<div class="col-md-7">
  <div id="map-maraudes"></div>
  <div class="text-center" style="margin: 10px;">
  <button type="button" class="btn btn-lg btn-entourage" data-toggle="modal" data-target="#messageModal">Envoyer un message</button>
  </div>
</div>
<div class="col-md-2">
<h3>Filtres</h3>
<input type="text" id="maraudes-date-filter" class="maraudes-map-filter form-control" placeholder="Sélection de la date" name="daterange"/>
<select id="maraudes-tour-type-filter" class="maraudes-map-filter form-control">
  <option value="">Type de maraude</option>
  <option value="health">Sant&eacute;</option>
  <option value="friendly">Amical</option>
  <option value="social">Social</option>
  <option value="food">Nourriture</option>
  <option value="other">Autre</option>
</select>
<select class="maraudes-map-filter form-control" disabled>
  <option>Zone géographique</option>
</select>
<select class="maraudes-map-filter form-control" disabled>
  <option>Choix de l'association</option>
</select>
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="statistiques">
<div class="col-md-3">
<div class="left-panel">
<h3>Stastistiques de la recherche</h3>
<h4><%= pluralize @encounter_count, 'personne rencontrée', 'personnes rencontrées' %></h4>
<h4><%= pluralize @tourer_count, 'maraudeur actif', 'maraudeurs actifs' %></h4>
<h4><%= pluralize @tour_count, 'maraude réalisée', 'maraudes réalisées' %></h4>
</div>
</div>
<div class="col-md-7">
  <div id="map-rencontres"></div>
  <div class="text-center" style="margin: 10px;">
  <button type="button" class="btn btn-lg btn-entourage" data-toggle="modal" data-target="#messageModal">Envoyer un message</button>
  </div>
</div>
<div class="col-md-2">
<h3>Filtres</h3>
<input type="text" id="rencontres-date-filter" class="maraudes-map-filter form-control" placeholder="Sélection de la date" name="daterange"/>
<select id="rencontres-tour-type-filter" class="rencontres-map-filter form-control">
  <option value="">Type de maraude</option>
  <option value="health">Sant&eacute;</option>
  <option value="friendly">Amical</option>
  <option value="social">Social</option>
  <option value="food">Nourriture</option>
  <option value="other">Autre</option>
</select>
<select class="rencontres-map-filter form-control" disabled>
  <option>Zone géographique</option>
</select>
<select class="rencontres-map-filter form-control" disabled>
  <option>Choix de l'association</option>
</select>
</div>
</div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="messageModalLabel">Envoi de message</h4>
      </div>
      <%= form_tag("/organization/send_message", method: "post", remote: true, id:'send_message_form') do %>
      <div class="modal-body">
        <div class="form-group">
          <label>Destinataires:</label>
          <select class="form-control" disabled>
            <option>Toute l'association</option>
          </select>
        </div>
        <div class="form-group">
          <%= label_tag :object, 'Objet:' %>
          <%= text_field_tag :object, '', class:'form-control', required:true %>
        </div>
        <div class="form-group">
          <%= label_tag :message, 'Message:' %>
          <%= text_area_tag :message, '', class:'form-control', required:true %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <%= submit_tag 'Envoyer', class:'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>