<div>
<ul class="nav nav-pills" role="tablist">
<li role="presentation" class="active"><a href="#maraudes" aria-controls="maraudes" role="tab" data-toggle="tab">Carte des maraudes</a></li>
<li role="presentation"><a href="#statistiques" aria-controls="statistiques" role="tab" data-toggle="tab">Statistiques</a></li>
</ul>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="maraudes">
<div class="container-fluid">
<div class="col-md-2">
<div>
<h3>Derniers Evènements</h3>
<% @latest_tours.each do |day, tours| %>
<h4><%= day %></h4>
<% tours.each do |tour| %>
<div><%= tour.user.full_name %> a réalisé une maraude<% if tour.encounters.size > 0 %> et a rencontré <%= pluralize tour.encounters.size, 'personne' %><% end %>.</div>
<% end %>
<% end %>
</div>
<div>
<h3>Activité de la semaine</h3>
<h4><%= pluralize @encounter_count, 'personne rencontrée', 'personnes rencontrées' %></h4>
<h4><%= pluralize @tourer_count, 'maraudeur actif', 'maraudeurs actifs' %></h4>
<h4><%= pluralize @tour_count, 'maraude réalisée', 'maraudes réalisées' %></h4>
</div>
</div>
<div class="col-md-8" id="map-maraudes">
</div>
<div class="col-md-2">
<h3>Filtres</h3>
<select class="form-control" disabled>
  <option>Type de maraude</option>
</select>
<select class="form-control" disabled>
  <option>Zone géographique</option>
</select>
<select class="form-control" disabled>
  <option>Choix de l'association</option>
</select>
<select class="form-control" disabled>
  <option>Sélection de la date</option>
</select>
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="statistiques">
<div class="col-md-2">
<div>
<h3>Stastistiques de la recherche</h3>
</div>
</div>
<div class="col-md-8" id="map-rencontres">
</div>
<div class="col-md-2">
<h3>Filtres</h3>
<select class="form-control" disabled>
  <option>Type de maraude</option>
</select>
<select class="form-control" disabled>
  <option>Zone géographique</option>
</select>
<select class="form-control" disabled>
  <option>Choix de l'association</option>
</select>
<select class="form-control" disabled>
  <option>Sélection de la date</option>
</select>
</div>
</div>
</div>