  <div class="row">
    <ol class="breadcrumb">
      <li><%= link_to "Bonnes ondes", admin_smalltalks_path %></li>
      <li><%= @smalltalk[:id] %> - <%= @smalltalk.meeting_url %></li>
    </ol>

    <h2>
      <span class="text-muted">#<%= @smalltalk.id %></span>
      <%= @smalltalk.uuid_v2 %>
    </h2>

    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= :active if tab == :show %>">
        <%= link_to "Bonne onde", admin_smalltalk_path(@smalltalk) %>
      </li>

      <li role="presentation" class="<%= :active if tab == :show_members %>">
        <%= link_to "Participants", show_members_admin_smalltalk_path(@smalltalk) %>
      </li>

      <li role="presentation" class="<%= :active if tab == :show_messages %>">
        <%= link_to "Messages", show_messages_admin_smalltalk_path(@smalltalk) %>
      </li>
    </ul>
  </div>
