<p id="notice"><%= notice %></p>

<h1>Demandes comptes maraudeurs</h1>

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="<%= active_class(admin_registration_requests_path(status: "pending"))%>">
    <%= link_to "En attente", admin_registration_requests_path(status: "pending") %>
  </li>
  <li role="presentation" class="<%= active_class(admin_registration_requests_path(status: "validated"))%>">
    <%= link_to "Acceptées", admin_registration_requests_path(status: "validated") %>
  </li>
  <li role="presentation" class="<%= active_class(admin_registration_requests_path(status: "rejected"))%>">
    <%= link_to "Refusés", admin_registration_requests_path(status: "rejected") %>
  </li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Organisation</th>
      <th>status</th>
      <th colspan="3">
    </tr>
  </thead>

  <tbody>
    <% @registration_requests.each do |registration_request| %>
      <tr>
        <td class="vert-align"><%= registration_request.id %></td>
        <td class="vert-align"><%= registration_request.organization_field("name") %></td>
        <td class="vert-align"><%= registration_request.status %></td>
        <td><%= link_to 'Consulter', admin_registration_request_path(registration_request), class: "btn btn-default" %></td>
        <td><%= link_to 'Valider', admin_registration_request_path(registration_request, validate: true), method: "PUT", class: "btn btn-success" %></td>
        <td><%= link_to 'Refuser', [:admin, registration_request], method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @registration_requests %>
