<div class="col-xs-4">
  <h2>Organisation</h2>

  <div class="field form-group">
    <label>Nom</label>
    <%= text_field_tag :name, @registration_request.organization_field("name"), disabled: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <label>Entité local</label>
    <%= text_field_tag :local_entity, @registration_request.organization_field("local_entity"), disabled: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <label>Addresse</label>
    <%= text_field_tag :address, @registration_request.organization_field("address"), disabled: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <label>Téléphone</label>
    <%= text_field_tag :phone, @registration_request.organization_field("phone"), disabled: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <label>Email</label>
    <%= text_field_tag :email, @registration_request.organization_field("email"), disabled: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <label>Site web</label>
    <%= text_field_tag :website_url, @registration_request.organization_field("website_url"), disabled: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <label>Description</label>
    <%= text_field_tag :description, @registration_request.organization_field("description"), disabled: true, class: 'form-control' %>
  </div>
  <div>
    <img src="<%= @image_url %>" alt="">
  </div>

  <h2>Contact</h2>

  <div class="field form-group">
    <label>Prénom</label>
    <%= text_field_tag :first_name, @registration_request.user_field("first_name"), disabled: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <label>Nom</label>
    <%= text_field_tag :last_name, @registration_request.user_field("last_name"), disabled: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <label>Téléphone</label>
    <%= text_field_tag :phone, @registration_request.user_field("phone"), disabled: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <label>Email</label>
    <%= text_field_tag :email, @registration_request.user_field("email"), disabled: true, class: 'form-control' %>
  </div>
</div>

<div class="clearfix"></div>
<br>
<%= link_to 'Valider', admin_registration_request_path(@registration_request, validate: true), method: "PUT", class: "btn btn-success" %>
<%= link_to 'Refuser', [:admin, @registration_request], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back', admin_registration_requests_path, class: "btn btn-default" %>
