<div class="container-m mt-6 mb-2 px-3">
  <div><%= @group.title %></div>
  <div class="text-large mb-2">Ajouter un membre</div>
  <%= form_tag invitation_good_waves_group_path(@group), method: :post do %>
    <div class="mb-2">
      <%= label_tag :name, "Prénom" %>
      <%= text_field_tag :name, nil, required: true, class: "form-control" %>
    </div>
    <div class="mb-2">
      <%= label_tag :phone, "Téléphone" %>
      <%= phone_field_tag :phone, nil, required: true, class: "form-control" %>
    </div>
    <div class="mb-2">
      <%= label_tag :email, "Adresse e-mail (facultatif)" %>
      <%= email_field_tag :email, nil, class: "form-control" %>
    </div>
    <div class="flex">
      <div class="flex-grow">
        <%= link_to "Voir tous les membres du groupe", good_waves_groups_path, class: "color-grey" %>
      </div>
      <%= submit_tag "Ajouter le membre", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
