<div class="container-s mt-6 mb-2 px-3">
  <%= render 'good_waves/flashes' %>

  <div class="text-large mb-2"><%= @group.title %></div>

  <div class="mb-4">
    <div class="flex flex-align-center mb-1">
      <div class="text-medium flex-grow">Membres</div>
      <%= link_to "Ajouter un membre", invitation_good_waves_group_path(@group), class: "btn btn-outline" %>
    </div>
    <% @members.each do |member| %>
      <% can_edit = false # member.id != @group.user_id %>
      <div class="border-bottom" data-role="toggle-context">
        <div class="py-1 flex flex-align-center">
          <div style="width: 3rem; height: 3rem; border-radius: 50%; background-image: url('<%= asset_path "user/default_avatar.png" %>'); background-size: contain; background-color: #fff"
               class="mr-2">
            <% if member.avatar_key %>
              <img style="width: 3rem; height: 3rem; border-radius: 50%;" alt=""
                 src="<%= UserServices::Avatar.new(user: member).thumbnail_url %>"/>
            <% end %>
          </div>
          <div class="flex-grow">
            <div class="flex">
              <div class="flex-grow">
                <%= UserPresenter.display_name(member) %>
              </div>
            </div>
            <div class="color-grey">
              <span><%= Phonelib.parse(member.phone).national %></span>
              <% if member.email.present? %>
                • <span><%= member.email %></span>
              <% end %>
            </div>
          </div>
          <% if can_edit %>
            <div data-role="toggle-trigger" class="flex flex-align-center color-grey color-black-hover cursor-pointer" style="height: 3rem">
              <i class="material-icons text-medium" data-role="toggle-icon" data-toggle-on="keyboard_arrow_up" data-toggle-off="more_horiz">more_horiz</i>
            </div>
          <% end %>
        </div>
        <% if can_edit %>
          <div class="mb-1 hide text-right" data-role="toggle-content">
            <a href="#" class="color-danger">Supprimer du groupe</a>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mb-2">
    <div class="text-medium mb-1">Invitations en attente</div>
    <% if @invitations.none? %>
      <div class="color-grey">
        Aucune invitation en attente
      </div>
    <% else %>
      <div class="gw-ml-line py-1 text-small border-bottom">
        <div class="gw-ml-name">Prénom</div>
        <div class="gw-ml-phone">Téléphone</div>
        <div class="gw-ml-email">Adresse e-mail</div>
      </div>
      <% @invitations.each do |invitation| %>
        <% can_edit = false %>
        <div class="border-bottom" data-role="toggle-context">
          <div class="gw-ml-line py-1 <%= 'cursor-pointer' if can_edit %>" data-role="toggle-trigger">
            <div class="gw-ml-name"><%= invitation.metadata[:name] %></div>
            <div class="gw-ml-phone color-grey"><%= Phonelib.parse(invitation.phone_number).national %></div>
            <div class="gw-ml-email color-grey"><%= invitation.metadata[:email] || "&mdash;".html_safe %></div>
            <% if can_edit %>
              <i class="material-icons" data-role="toggle-icon" data-toggle-on="keyboard_arrow_down" data-toggle-off="keyboard_arrow_right">keyboard_arrow_right</i>
            <% end %>
          </div>
          <% if can_edit %>
            <div class="mb-1 hide text-right" data-role="toggle-content">
              <a href="#" class="color-danger">Révoquer l'invitation</a>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Voir tous mes groupes", good_waves_groups_path, class: "color-grey" %>
</div>

<% layout_options(jquery: true) %>
<% content_for :scripts do %>
  <script>
    $(document).on('click', '[data-role="toggle-trigger"]', function() {
      var $context = $(this).closest('[data-role=toggle-context]'),
          $icon    = $context.find('[data-role="toggle-icon"]'),
          $content = $context.find('[data-role="toggle-content"]'),
          state    = $content.hasClass('hide') === false;

      console.log($context[0], $icon[0], $content[0])

      $content.toggleClass('hide', state);
      $icon.text($icon.data('toggle-' + (state ? 'off' : 'on')));
    });

    $(document).on('focus, click', '[data-role="invite-url"]', function() {
      this.setSelectionRange(0, this.value.length, 'backward');
    });
  </script>
<% end %>
