<%= form_for([:admin, @user], url: {action: action, controller: :ambassadors}, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: "layouts/errors", locals: {obj: @user} %>

  <div class="control-group">
    <%= f.label :first_name,"Prénom", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :first_name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name,"Nom", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :last_name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email,"Email", class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone,"Téléphone", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :phone, class: "form-control", required: true %>
    </div>
  </div>

  <% if @user.new_record? %>
    <div class="control-group">
      <%= f.label :sends, "Envoi SMS", class: "control-label" %>
      <div class="controls">
        <%= check_box_tag :send_sms %>
      </div>
    </div>
  <% else %>
    <div class="control-group">
      <%= f.label :sms_code,"Code SMS", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :sms_code, class: "form-control", required: true %>
      </div>
    </div>
  <% end %>


  <hr>
  <h2>Relations</h2>

  <ul class="list-group">
    <% @user.relations.each do |user| %>
      <li class="list-group-item relation_cell">
        <%= user.full_name %>
        <%= link_to "Supprimer", "#", class: "btn btn-danger pull-right" %>
      </li>
    <% end %>
  </ul>

  <div class="control-group">
    <label class="control-label">Ajouter une relation <small>(Chercher par prénom, nom, téléphone)</small></label>
    <div class="controls">
      <%= text_field_tag "relations", "", class: "form-control", id: "user_relations" %>
      <%= hidden_field_tag 'user_relation_id' %>
    </div>
  </div>

  <br>
  <%= f.submit "Sauver", class: "btn btn-success" %>
  <%= link_to "Annuler", admin_ambassadors_path, class: "btn btn-default" %>
<% end %>