<h1>Liste des ambassadeurs</h1>

<div class="row">
  <%= form_tag(admin_public_user_search_path, method: :get, html: { class: "form-horizontal", role: "form" }) do %>
    <div class="col-lg-4 pull-right">
      <div class="input-group">
        <%= text_field_tag :search, nil, class: "form-control", placeholder: "nom, prénom, email..." %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-default") do %>Chercher<% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>
<br><br>

<%= link_to "Ajouter", new_admin_ambassador_path, class: "btn btn-success" %>
<br><br>

<div class="row">
  <table class="table">
    <th>id</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Date de création</th>
    <th></th>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.created_at.to_formatted_s(:long) %></td>
        <td><%= link_to "Modifier", edit_admin_ambassador_path(user), class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="row">
  <%= paginate @users %>
</div>