<style>
  .field_with_errors { display: inline-block }
</style>

<%= render partial: 'common/errors', locals: { obj: @tour_area } %>

<%= form_for [:admin, @tour_area], html: { role: "form" } do |f| %>
  <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
    <div style="flex-grow: 1">
      Les champs "Département" et "Zone" seront utilisés dans les applications mobiles pour présenter les zones de maraudes aux utilisateurs. Merci de les renseigner précisément.
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 form-group">
      <%= f.label :departement, "Département" %>
      <%= f.text_field :departement, class: "form-control", required: true, maxlength: 5 %>
    </div>
    <div class="col-xs-9 form-group">
      <%= f.label :area, "Zone" %>
      <%= f.text_field :area, class: "form-control", required: true, maxlength: 50 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", required: true, maxlength: 50 %>
  </div>

  <div class="form-group">
    <%= f.label 'État' %>
    <%= f.check_box :status, { checked: @tour_area.active? }, :active, :inactive %>
  </div>

  <%= f.submit 'Enregistrer', class: "btn btn-primary" %>

  <% unless @tour_area.new_record? %>
    <%= link_to "Supprimer", admin_tour_area_path(@tour_area), method: :DELETE, class: "btn btn-danger", style: 'float: right;', data: {
      confirm: 'Êtes-vous sûr de vouloir supprimer cette zone de maraude ?'
    } %>
  <% end %>
<% end %>
