<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Zones de maraudes</div>
        <%= link_to "Ajouter une ville", new_admin_tour_area_path, class: "btn btn-default" %>
      </div>

      <% if @tour_areas.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucune zone de maraude n'est encore spécifiée.</h3>
          </div>
        </div>
      <% else %>
        <table class="table">
          <th></th>
          <th></th>
          <th>Activation de la maraude</th>
          <th>Email associé</th>
          <th></th>
          <% @tour_areas.each do |tour_area| %>
            <tr>
              <td style="width: 3em">
                <%= tour_area.departement %>
              </td>
              <td>
                <%= link_to tour_area.area, edit_admin_tour_area_path(tour_area) %>
              </td>
              <td>
                <div class="btn btn-<%= tour_area.active? ? 'success' : 'danger' %>">
                  <%= I18n.t "activerecord.attributes.tour_area.statuses.#{tour_area.status}" %>
                </div>
              </td>
              <td>
                <%= tour_area.email %>
              </td>
              <td>
                <%= link_to "Modifier", edit_admin_tour_area_path(tour_area), class: "btn btn-default" %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
