<%= form_for(@organization, html: {class: 'form-horizontal'}) do |f| %>

  <%= render 'common/errors', obj: @organization %>

  <div class="field form-group">
    <label>Nom de l'association</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <label>Description</label>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <h3>Informations pratiques</h3>

  <div class="field form-group">
    <label>Téléphone</label>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <label>Adresse</label>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <label>URL du Logo</label>
    <%= f.text_field :logo_url, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <label>Mon association apparaîtra dans les statistiques sur le site entourage</label>
    <%= f.check_box :test_organization, {:checked => !@organization.test_organization}, 0, 1 %>
  </div>

  <div class="row">
    <h3>Comptes rendus de maraude</h3>

    <style>
      .delete-email:hover,
      .add-email:hover {
        text-decoration: none;
      }
      .delete-email:not(:hover) {
        color: inherit;
      }
      .delete-email:not(:hover) .delete-email-title {
        display: none;
      }
      .add-email:hover .add-email-title {
        text-decoration: underline;
      }
    </style>
    <label>Envoyer une copie de chaque compte rendu aux adresses email suivantes :</label>
    <ol class="form-horizontal" id="report-cc">
      <% a = @organization.tour_report_cc %>
      <% a = a + [nil] * [2 - a.length, 0].max %>
      <% a.each do |email| %>
        <li class="report-cc-entry" style="margin-bottom: 15px; line-height: 34px;">
          <%= email_field_tag 'organization[tour_report_cc][]', email,
              class: 'form-control', style: "display: inline; width: 350px; margin: 0 8px;",
              placeholder: "exemple@association.org" %>
          <a href="#"
              class="text-danger delete-email"
              style="text-align: left; padding-left: 0;">
            <span class="fa fa-trash"></span>
            <span class="delete-email-title">Supprimer</span>
          </a>
        </li>
      <% end %>
      <li style="margin-bottom: 15px; line-height: 34px; list-style: none;">
          <a href="#" class="add-email" style="margin: 0 8px;">
            <span class="fa fa-plus-circle text-success"></span> <span class="add-email-title">Ajouter une adresse email supplémentaire</span>
          </a>
      </li>
    </ol>
  </div>

  <div class="actions form-group">
    <%= f.submit "Sauvegarder les modifications", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  function clearEntry($entry) {
    $entry.find('input').val(null);
  }

  function removeEntry($entry) {
    $entry.remove();
  }

  function addEntry() {
    var $entries = $cc.find('.report-cc-entry'),
        $template = $entries.first(),
        $entry = $template.clone();

    clearEntry($entry);
    $entries.last().after($entry);
  }

  var $cc = $('#report-cc');

  $cc
    .on('click', 'a.delete-email', function(e) {
      e.preventDefault()

      var $entry = $(this).closest('.report-cc-entry'),
          $entries = $cc.find('.report-cc-entry');

      if ($entries.length === 1) {
        clearEntry($entry);
      }
      else {
        removeEntry($entry);
      }
    })
    .on('click', 'a.add-email', function(e) {
      e.preventDefault();
      addEntry();
    })
</script>
