<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="messageModalLabel">Envoi de message</h4>
      </div>
      <%= form_tag(send_message_organizations_path(@current_user.organization), method: "post", remote: true, id:'send_message_form') do %>
        <div class="modal-body">
          <div class="form-group">
            <label>Destinataires:</label>
            <select class="form-control" disabled>
              <option>Toute l'association</option>
            </select>
          </div>
          <div class="form-group">
            <%= label_tag :object, 'Objet:' %>
            <%= text_field_tag :object, '', class:'form-control', required:true %>
          </div>
          <div class="form-group">
            <%= label_tag :message, 'Message:' %>
            <%= text_area_tag :message, '', class:'form-control', required:true %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <%= submit_tag 'Envoyer', class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>