<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active">
    <%= link_to "Carte des maraudes", '#' %>
  </li>
</ul>
<div class="container-fluid">
  <div class="col-md-3">
    <div class="left-panel">
      <h3>Derniers Evènements</h3>
      <% @tours_presenter.latest_tours.each do |day, tours| %>
        <h4><%= day %></h4>
        <% tours.each do |tour| %>
            <%= TourPresenter.new(tour: tour).tour_summary(current_user) %><br>
        <% end %>
      <% end %>
    </div>
    <div class="left-panel">
      <h3>Activité de la semaine</h3>
      <h4><%= @tours_presenter.total_length %> km parcourus</h4>
      <h4><%= pluralize @tours_presenter.encounter_count, 'personne rencontrée', 'personnes rencontrées' %></h4>
      <h4><%= pluralize @tours_presenter.tourer_count, 'maraudeur actif', 'maraudeurs actifs' %></h4>
      <h4><%= pluralize @tours_presenter.week_tours.count, 'maraude réalisée', 'maraudes réalisées' %></h4>
    </div>
  </div>
  <div class="col-md-7">
    <div class="text-center" style="margin: 10px;">
      <button type="button" class="btn btn-lg btn-entourage" data-toggle="modal" data-target="#messageModal">Envoyer
        un message
      </button>
    </div>
    <div id="map-maraudes"></div>
  </div>
  <%= render partial: "organizations/tour_filters" %>

  <input type="radio" name="tour_display_type" value="points" checked> Parcours
  <br>
  <input type="radio" name="tour_display_type" value="heatmap"> Heatmap

  <br><br>
  <div class="row spinner hidden">
    <i class="fa fa-spinner fa-spin"></i> <strong>Chargement des maraudes</strong>
  </div>
</div>
<input type="hidden" id="snapbox" value="<%= @user_presenter.snap_to_road %>">
<input type="hidden" id="simplifiedbox" value="<%= @user_presenter.simplified_tour %>">

<%= render partial: 'send_message' %>