<div class="container">
  <h1><%= @organization.name %></h1>
  <%= render 'form' %>

  <h3>Ajout d'utilisateur <%= link_to '', users_path+'#add-user', class:'btn btn-default fa fa-user-plus' %></h3>

  <% if current_admin %>
    <h3>Ajout d'une nouvelle association <%= link_to '', new_organization_path, class:'btn btn-default fa fa-user-plus' %></h3>
  <% end %>

  <% if current_admin %>
    <br><br>
    <p>Liste des questions posées lors d'une rencontre :</p>
    <% @organization.questions.each do |question| %>
      <div class="row">
        <input type="text" value="<%= question.title %>" class="form-control" style="width: 450px; float: left; margin-right: 30px; margin-bottom: 5px" disabled>
        <input type="text" value="<%= question.answer_type %>" class="form-control" style="width: 95px; float: left; margin-right: 30px; margin-bottom: 5px" disabled>
        <%= button_to "-", question_path(question), method: :delete, class: "btn btn-danger", data: { confirm: "Êtes vous sûr de supprimer cette question ?" } %>
      </div>
    <% end %>
    <br>
    <p>Ajouter une question à poser lors d'une rencontre :</p>
    <%= form_for([Question.new], html: { class: "form-horizontal" }) do |f| %>
      <div class="form-inputs">
        <div class="form-field form-field--string">
          <%= f.text_field :title, style: "width: 450px;"  %>
          <%= f.select :answer_type, options_for_select(["Valeur", "Checkbox"]) %>
          <%= f.submit "+", class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
    <br>
  <% end %>
</div>
