<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Nouvelle organization</h1>
      <%= form_for(@organization, html: {class: 'form-horizontal'}) do |f| %>

        <%= render 'common/errors', obj: @organization %>

        <div class="field form-group">
          <label>Nom de l'association</label>
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>

        <div class="field form-group">
          <label>Description</label>
          <%= f.text_area :description, class: 'form-control', required: true %>
        </div>

        <h3>Informations pratiques</h3>

        <div class="field form-group">
          <label>Téléphone</label>
          <%= f.text_field :phone, class: 'form-control', required: true %>
        </div>

        <div class="field form-group">
          <label>Adresse</label>
          <%= f.text_field :address, class: 'form-control', required: true %>
        </div>

        <div class="field form-group">
          <label>URL du Logo</label>
          <%= f.text_field :logo_url, class: 'form-control' %>
        </div>

        <br>
        <h1>Coordinateur de cette association:</h1>
        <%= f.fields_for(:user, html: {class: 'form-horizontal'}) do |u| %>
          <div class="field form-group required">
            <label class='control-label'>Prénom</label>
            <%= u.text_field :first_name, class: 'form-control', required: true %>
          </div>

          <div class="field form-group required">
            <label class='control-label'>Nom</label>
            <%= u.text_field :last_name, class: 'form-control', required: true %>
          </div>

          <div class="field form-group required">
            <label class='control-label'>Téléphone</label>
            <%= u.text_field :phone, class: 'form-control', required: true %>
          </div>

          <div class="field form-group required">
            <label class='control-label'>Email</label>
            <%= u.email_field :email, class: 'form-control', required: true %>
          </div>
        <% end %>


        <div class="actions form-group">
          <%= f.submit "Sauvegarder les modifications", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>