<%= form_for([:admin, @user], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: "layouts/errors", locals: { obj: @user } %>

  <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
    <div style="flex-grow: 1">
      <% if interlocutor = ModerationServices.moderator_for_user(@user) %>
        <b>Interlocuteur : <%= interlocutor.full_name %></b>
      <% else %>
        <b>Pas d'interlocuteur</b>
      <% end %>
    </div>
  </div>

  <div style="display: flex">
    <div style="flex-grow: 1">
      <div class="control-group">
        <%= f.label :first_name,"Prénom", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :first_name, class: "form-control", required: @user.pro? || @user.association? %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :last_name,"Nom", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :last_name, class: "form-control", required: @user.pro? || @user.association? %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :about, class: "control-label" %>
        <div class="controls">
          <%= f.text_area :about, class: "form-control", maxlength: 200 %>
        </div>
      </div>

      <% unless @user.new_record? %>
        <div style="display: flex">
          <div class="control-group">
            <label class="control-label">Zone d'action</label>
            <div class="controls">
              <% if @user.address&.postal_code.present? %>
                <%= @user.address.postal_code %>
                <% if @user.address.country != 'FR' %>
                  (<%= @user.address.country %>)
                <% end %>
              <% else %>
                <span class="text-muted">Non définie</span>
              <% end %>
            </div>
          </div>

          <div class="control-group" style="margin-left: 30px">
            <label class="control-label">Action créées</label>
            <div class="controls">
              <%= @user.groups.count %>
              <%= link_to '(Voir)', admin_entourages_path(q: { user_id_eq: @user.id }), target: :_blank %>
            </div>
          </div>

          <div class="control-group" style="margin-left: 30px">
            <label class="control-label">Actions rejointes</label>
            <div class="controls">
              <%= @user.joined_groups(exclude_created: true, status: [:pending, :accepted]).count %>
            </div>
          </div>

          <div class="control-group" style="margin-left: 30px">
            <label class="control-label">Conversations</label>
            <div class="controls">
              <%= @user.conversations.count %>
            </div>
          </div>

          <div class="control-group" style="margin-left: 30px">
            <label class="control-label">Messages</label>
            <i>de moins d'un an</i>
            <div class="controls">
              <%= @user.chat_messages.where("created_at > ?", 1.year.ago).count %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div style="padding: 27px 0 0 27px;">
      <% if @user.avatar_key.present? %>
        <%= user_avatar_image @user, size: '200x200', alt: '' %>
        <div>
          <%= link_to("Supprimer la photo de profil", destroy_avatar_admin_user_path(@user), method: :put, data: {
            confirm: "Vous allez supprimer la photo de profil, êtes vous sûr ?"
          }) %>
        </div>
      <% else %>
        <%= image_tag "user/default_avatar.png", size: '200x200', alt: '' %>
      <% end %>
    </div>
  </div>

  <div style="display: flex">
    <div class="control-group">
      <%= f.label :goal, class: "control-label" %>
      <div class="controls">
        <%= t "community.entourage.goals_compact.#{f.object.goal || :goal_not_known}" %>
      </div>
    </div>

    <div class="control-group" style="margin-left: 30px">
      <%= f.label :targeting_profile, class: "control-label" %>
      <div class="controls">
        <%= f.select :targeting_profile,
            @user.community.targeting_profiles.map { |key| [t("community.#{@user.community.slug}.targeting_profiles.#{key}"), key] },
            {include_blank: "(Non défini)"}
        %>
      </div>
    </div>

    <% is_partner = @user.targeting_profile == 'partner' %>
    <div class="control-group <%= :hide unless is_partner %>"
         style="margin-left: 30px"
         id="partner-fieldset">
      <%= f.label :partner, class: "control-label" %>
      <div class="controls">
        <%= f.collection_select :partner_id, Partner.no_staff, :id, :name, { include_blank: true }, { required: true, disabled: !is_partner, id: 'partner_id_no_staff' }
        %>
      </div>
    </div>

    <% is_staff = @user.targeting_profile == 'team' %>
    <div class="control-group <%= :hide unless is_staff %>"
         style="margin-left: 30px"
         id="staff-fieldset">
      <%= label_tag :partner, "Équipe", class: "control-label" %>
      <div class="controls">
        <%= f.collection_select :partner_id, Partner.staff, :id, :name, { include_blank: true }, { required: true, disabled: !is_staff, id: 'partner_id_staff' }
        %>
      </div>
    </div>

    <div class="control-group" style="margin-left: 30px">
      <%= f.label :travel_distance, class: "control-label" %>
      <div class="controls">
        <%= f.number_field :travel_distance, class: "form-control" %>
      </div>
    </div>

    <div class="control-group" style="margin-left: 30px">
      <%= f.label :lang, class: "control-label" %>
      <div class="controls">
        <%= f.select :lang,
          Translation::LANGUAGES.map { |key| [t("activerecord.attributes.translation.langs.#{key}"), key.to_s] },
          { include_blank: false }
        %>
      </div>
    </div>
  </div>

  <% unless @user.new_record? %>
    <% @user.moderation || @user.build_moderation %>
    <div style="display: flex">
      <%= fields_for :user_moderation, @user.moderation do |uf| %>
        <% [:skills, :expectations, :acquisition_channel].each.with_index do |field, index| %>
          <div class="control-group" style="<%= 'margin-left: 30px' unless index == 0 %>">
            <%= uf.label field, class: "control-label" %>
            <div class="controls">
              <%= uf.select field, UserModeration::VALUES[field], { include_blank: true } %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= render 'onboarding_fields', user: @user, form: f %>

  <br/>
  <div class="control-group">
    <%= f.label :email,"Email", class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, class: "form-control", required: @user.pro? %>
    </div>
  </div>

  <% unless @user.new_record? %>
    <div class="control-group">
      <label class="control-label">Préférences email</label>
      <table class="table" style="width: auto">
        <% EmailPreferencesService.user_preferences(@user).each do |category| %>
          <tr>
            <td>
              <%= category.description %>
              <i class="text-muted">(<%= category.name %>)</i>
            </td>
            <td style="font-weight: bold">
              <%= check_box_tag(
                    "email_preferences[#{category.name}]", "1",
                    category.subscribed) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :phone,"Téléphone", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :phone, class: "form-control", required: true %>
    </div>
    <% if @user.pending_phone_change_request.present? %>
      <i class="text-muted">L'utilisateur a demandé un nouveau numéro téléphone (<%= @user.pending_phone_change_request.phone %>) &mdash; <%= link_to "Annuler la demande", cancel_phone_change_request_admin_user_path(@user), method: :put, data: { confirm: "Confirmer la demande d'annulation du changement de téléphone" } %></i>
    <% end %>
  </div>
  <br>

  <div class="control-group">
    <%= f.label :subscriptions, class: "control-label" %>
    <% if @user.subscriptions.any? %>
      <% @user.subscriptions.each do |subscription| %>
        <table class="table" style="width: auto">
          <tr>
            <td><%= link_to subscription.name, admin_partner_path(subscription.id) %></td>
          </tr>
        </table>
      <% end %>
    <% else %>
      <div>Aucun</div>
      <br>
    <% end %>
  </div>

  <% unless @user.new_record? %>
    <div class="control-group">
      <label class="control-label">CNIL</label>
      <table class="table" style="width: auto">
        <tr>
          <td>Télécharger l'export de données</td>
          <td>
            <%= link_to "Télécharger", download_export_admin_user_path(@user), method: :get, class: "btn btn-default" %>
          </td>
        </tr>
        <tr>
          <td>Lui envoyer un export de données par mail</td>
          <td>
            <%= link_to "Envoyer par mail", send_export_admin_user_path(@user), method: :get, class: "btn btn-default", data: {
              confirm: "Envoyer à l'utilisateur un export de ses données personnelles ? Vous serez en copie cachée de cet email."
            } %>
          </td>
        </tr>
        <tr>
          <td>
            Anonymiser l'utilisateur
            <i class="text-muted" style="color: red">(attention, action irréversible)</i>
          </td>
          <td>
            <%= link_to "Anonymiser", anonymize_admin_user_path(@user), method: :put, class: "btn btn-default", data: {
              confirm: "Cette action va anonymiser les email, nom, prénom, téléphone de l'utilisateur ainsi que supprimer sa photo de profil, ses adresses. Son compte sera également marqué comme supprimé. Souhaitez-vous continuer ?"
            } %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">Droit d'administration et de modération</label>
    <table class="table" style="width: auto">
      <tr>
        <td>Rôle d'administrateur (permet d'accéder à l'ensemble des fonctionnalités du backoffice)</td>
        <td style="font-weight: bold">
          <%= f.check_box :admin %>
        </td>
      </tr>

      <tr>
        <td>Rôle de modérateur</td>
        <td style="font-weight: bold">
          <%= f.check_box :moderator %>
        </td>
      </tr>

      <% if @user.moderator? %>
        <tr>
          <td><%= f.label :slack_id %></td>
          <td style="font-weight: bold">
            <%= f.text_field :slack_id, class: "form-control", maxlength: 11 %>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="
            Vous pouvez trouver l'identifiant Slack sur le profil Slack de l'utilisateur, bouton '...' (Plus), Copier l'ID de membre
          "></span>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <% if @user.new_record? %>
    <div class="control-group">
      <%= f.label :sends, "Envoi SMS", class: "control-label" %>
      <div class="controls">
        <%= check_box_tag :send_sms %>
      </div>
    </div>
  <% end %>

  <div class="control-group" id="sms_group">
    <%= f.label :sms_code_password,"Nouveau code SMS", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :sms_code_password, class: "form-control", required: false %>
    </div>

    <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b>Attention</b> Une fois le nouveau code enregistré, l'utilisateur recevra automatiquement une confirmation par SMS.
      </div>
    </div>
  </div>

  <%= link_to "Modifier le code SMS", "#", id: "change_password" %>
  <br>

  <br>
  <%= f.submit "Enregistrer", class: "btn btn-success", id: "admin-user-update" %>
  <%= link_to "Annuler", admin_users_path, class: "btn btn-default" %>
<% end %>

<script>
  var $profileField = $('#user_targeting_profile'),
      $partnerFieldset = $('#partner-fieldset'),
      $staffFieldset = $('#staff-fieldset'),
      $partnerUserFields = $('#user_first_name, #user_last_name, #user_email'),
      partnerSelect = 'select[name="user[partner_id]"]';

  function togglePartnerFieldset() {
    var partner = $profileField.val() === 'partner',
        staff = $profileField.val() === 'team';

    $partnerFieldset.toggleClass('hide', !partner)
    $partnerFieldset.find(partnerSelect).prop('disabled', !partner)

    $staffFieldset.toggleClass('hide', !staff)
    $staffFieldset.find(partnerSelect).prop('disabled', !staff)

    $partnerUserFields.prop('required', partner || staff ? true : <%= @user.pro? %>)
  }

  $profileField.on('change', togglePartnerFieldset);

  $("#change_status a").click(function(e) {
    e.preventDefault();
    $("#change_status").hide();
    $("#organization-fieldset").removeClass('hide');
  });

  $('select').select2({ width: 200 });
  $('select#user_interests,select#user_involvements,select#user_concerns').select2({ width: '100%' });

</script>
