<%= form_for([:admin, @user], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: "layouts/errors", locals: {obj: @user} %>

  <div style="display: flex">
    <div style="flex-grow: 1">
      <div class="control-group">
        <%= f.label :first_name,"Prénom", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :first_name, class: "form-control", required: @user.pro? %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :last_name,"Nom", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :last_name, class: "form-control", required: @user.pro? %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :about, class: "control-label" %>
        <div class="controls">
          <%= f.text_area :about, class: "form-control", maxlength: 200 %>
        </div>
      </div>

      <div style="display: flex">
        <div class="control-group">
          <label class="control-label">Zone d'action</label>
          <div class="controls">
            <% if @user.address&.postal_code.present? %>
              <%= @user.address.postal_code %>
              <% if @user.address.country != 'FR' %>
                (<%= @user.address.country %>)
              <% end %>
            <% else %>
              <span class="text-muted">Non définie</span>
            <% end %>
          </div>
        </div>

        <% unless @user.new_record? %>
          <% groups_created_count = @user.groups.count %>
          <div class="control-group" style="margin-left: 30px">
            <label class="control-label">Groupes créés</label>
            <div class="controls">
              <%= groups_created_count %>
              <%= link_to '(Voir)', admin_entourages_path(q: { user_id_eq: @user.id }), target: :_blank %>
            </div>
          </div>

          <div class="control-group" style="margin-left: 30px">
            <label class="control-label">Groupes rejoints</label>
            <div class="controls">
              <%= @user.joined_groups.count - groups_created_count %>
            </div>
          </div>
        <% end %>
      </div>

      <% unless @user.new_record? %>
      <div class="control-group">
        <%= f.label :roles, class: "control-label" %>
        <table class="table" style="width: auto">
          <% @user.community.roles.each do |role| %>
            <tr>
              <td>
                <label class="form-check-label" style="font-weight: normal"
                       for="role<%= role.capitalize %>">
                  <%= t "community.#{@user.community.slug}.roles.#{role}" %>
                </label>
              </td>
              <td>
                <%= check_box_tag(
                      "user[roles][]", role,
                      @user.roles.include?(role),
                      id: "role#{role.capitalize}") %>
              </td>
            </tr>
          <% end %>
        </table>
        <%= hidden_field_tag "user[roles][]", "placeholder" %>
      </div>
      <% end %>

    </div>
    <div style="padding: 27px 0 0 27px;">
      <% if @user.avatar_key.present? %>
        <%= user_avatar_image @user, size: '200x200', alt: '' %>
      <% else %>
        <%= image_tag "user/default_avatar.png", size: '200x200', alt: '' %>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email,"Email", class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, class: "form-control", required: @user.pro? %>
    </div>
  </div>

  <% unless @user.new_record? %>
    <div class="control-group">
      <label class="control-label">Préférences email</label>
      <table class="table" style="width: auto">
        <% EmailPreferencesService.user_preferences(@user).each do |category| %>
          <tr>
            <td>
              <%= category.description %>
              <i class="text-muted">(<%= category.name %>)</i>
            </td>
            <td style="font-weight: bold">
              <%= check_box_tag(
                    "email_preferences[#{category.name}]", "1",
                    category.subscribed) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :phone,"Téléphone", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :phone, class: "form-control", required: true %>
    </div>
  </div>
  <br>

  <div class="control-group">
    <%= f.label :organization, class: "control-label" %>
    <div class="controls">
      <%= f.collection_select :organization_id,
          Organization.order("name ASC"), :id, :name,
          {include_blank: @user.organization_id.present? ? false : "(Aucune)"},
          {id: :pro_user, class: (:hide unless @user.pro?), disabled: !@user.pro?} %>
      <% if !@user.pro? %>
        <div id="change_status">
          Aucune &mdash; <%= link_to "Passer l'utilisateur en pro", "#" %>
        </div>
      <% end %>
    </div>
  </div>
  <br>

  <% if @user.new_record? %>
    <div class="control-group">
      <%= f.label :sends, "Envoi SMS", class: "control-label" %>
      <div class="controls">
        <%= check_box_tag :send_sms %>
      </div>
    </div>
  <% end %>
  <br>

  <div class="control-group" id="sms_group">
    <%= f.label :sms_code,"Code SMS", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :sms_code, class: "form-control", required: true %>
    </div>
  </div>
  <%= link_to "Modifier le code SMS", "#", id: "change_password" %>
  <br>

  <br>
  <%= f.submit "Sauver", class: "btn btn-success" %>
  <%= link_to "Annuler", admin_users_path, class: "btn btn-default" %>
<% end %>
