<%= form_for([:admin, @user], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: "layouts/errors", locals: {obj: @user} %>

  <div class="control-group">
    <%= f.label :first_name,"Prénom", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :first_name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name,"Nom", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :last_name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :about, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :about, class: "form-control", maxlength: 200 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email,"Email", class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :accepts_emails, class: "control-label" %>
    <div class="controls">
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :accepts_emails, true %>
        Oui
      </label>
      <label class="radio-inline" style="padding-top: 0; margin-bottom: 5px;">
        <%= f.radio_button :accepts_emails, false %>
        Non
      </label>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone,"Téléphone", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :phone, class: "form-control", required: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :organization,"Association", class: "control-label" %>
    <div class="controls">
      <%= f.collection_select(:organization_id, Organization.all, :id, :name, {selected: @user.try(:organization).try(:id) }, {class: "organizations-select"}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :coordinated_organizations,"Associations coordonées", class: "control-label" %>
    <div class="controls">
      <%= f.collection_select(:coordinated_organizations, Organization.all, :id, :name, {selected: @user.coordinated_organizations.map(&:id)}, {multiple: true, class: "organizations-select"}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :marketing_referer,"Marketing referer", class: "control-label" %>
    <div class="controls">
      <%= f.collection_select(:marketing_referer_id, MarketingReferer.all, :id, :name, {selected: @user.marketing_referer_id }, {class: "organizations-select"}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :use_suggestions, "Calcul des suggestions", class: "control-label" %>
    <div class="controls">
      <%= f.check_box :use_suggestions %>
    </div>
  </div>

  <% if @user.new_record? %>
    <div class="control-group">
      <%= f.label :sends, "Envoi SMS", class: "control-label" %>
      <div class="controls">
        <%= check_box_tag :send_sms %>
      </div>
    </div>
  <% end %>
  <br>

  <div class="control-group" id="sms_group">
    <%= f.label :sms_code,"Code SMS", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :sms_code, class: "form-control", required: true %>
    </div>
  </div>
  <%= link_to "Modifier le code SMS", "#", id: "change_password" %>
  <br>

  <br>
  <%= f.submit "Sauver", class: "btn btn-success" %>
  <%= link_to "Annuler", admin_users_path, class: "btn btn-default" %>
<% end %>
