<div class="h1">
  <span>
    <% if [@user.first_name, @user.last_name].any?(&:present?) %>
      <%= @user.first_name %> <%= @user.last_name %>
    <% else %>
      Utilisateur #<%= @user.id %>
    <% end %>
  </span>
  <div class="pull-right">
    <%
      uuid = ConversationService.list_for_participants([current_admin.id, @user.id])
    %>
    <%= link_to "Contacter", admin_conversation_path(uuid), class: "btn btn-primary" %>
    <% if @user.blocked? %>
      <%= link_to "Débloquer", unblock_admin_user_path(@user), method: :put, class: "btn btn-success", data: {
        confirm: "Débloquer #{@user.first_name} #{@user.last_name} (#{@user.email}) ?"
      } %>
    <% else %>
      <%= link_to "Bloquer", block_admin_user_path(@user), method: :put, class: "btn btn-danger", data: {
        confirm: "Bloquer #{@user.first_name} #{@user.last_name} (#{@user.email}) ?"
      } %>
    <% end %>
  </div>
</div>
<% if @user.blocked? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      Cet utilisateur est bloqué
    </div>
    <div class="panel-body">
      Les utilisateurs bloqués ne peuvent pas se connecter ou utiliser l'application,<br>
      et leur photo de profil est masquée.
    </div>
  </div>
<% end %>

<% if @user.anonymized? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      Cet utilisateur est anonymisé
    </div>
    <div class="panel-body">
      Les utilisateurs anonymisé ne peuvent pas se connecter ou utiliser l'application,<br>
      et leur photo de profil est supprimée.
    </div>
  </div>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= :active if tab == :edit %>">
    <%= link_to "Modifier", admin_user_path(@user) %>
  </li>
  <li role="presentation" class="<%= :active if tab == :messages %>">
    <%= link_to "Messages", messages_admin_user_path(@user) %>
  </li>
</ul>
