<div class="h1">
  <span>
    <% if [@user.first_name, @user.last_name].any?(&:present?) %>
      <%= @user.first_name %> <%= @user.last_name %>
    <% else %>
      Utilisateur #<%= @user.id %>
    <% end %>
  </span>
  <div class="pull-right">
    <%
      uuid = ConversationService.list_for_participants([current_admin.id, @user.id])
    %>
    <%= link_to "Contacter", admin_conversation_path(uuid), class: "btn btn-primary" %>
    <%= link_to (@user.blocked? ? "Débloquer" : "Bloquer"), edit_block_admin_user_path(@user), class: "btn btn-success" %>
  </div>
</div>

<%= render partial: "block_panel", locals: { user: @user } %>

<% if @user.anonymized? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      Cet utilisateur est anonymisé
    </div>
    <div class="panel-body">
      Les utilisateurs anonymisé ne peuvent pas se connecter ou utiliser l'application,<br>
      et leur photo de profil est supprimée.
    </div>
  </div>
<% elsif @user.deleted? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      Cet utilisateur est supprimé
    </div>
    <div class="panel-body">
      Les utilisateurs supprimés ne peuvent pas se connecter ou utiliser l'application
    </div>
  </div>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= :active if tab == :edit %>">
    <%= link_to "Modifier", admin_user_path(@user) %>
  </li>
  <li role="presentation" class="<%= :active if tab == :messages %>">
    <%= link_to "Messages", messages_admin_user_path(@user) %>
  </li>
  <li role="presentation" class="<%= :active if tab == :engagement %>">
    <%= link_to "Engagement", engagement_admin_user_path(@user) %>
  </li>
  <li role="presentation" class="<%= :active if tab == :neighborhoods %>">
    <%= link_to "Groupes de voisins", neighborhoods_admin_user_path(@user) %>
  </li>
  <li role="presentation" class="<%= :active if tab == :outings %>">
    <%= link_to "Événements", outings_admin_user_path(@user) %>
  </li>
  <li role="presentation" class="<%= :active if tab == :history %>">
    <%= link_to "Historique", history_admin_user_path(@user) %>
  </li>
  <% if current_user.super_admin? %>
    <li role="presentation" class="<%= :active if tab == :rpush_notifications %>">
      <%= link_to "Notifications", rpush_notifications_admin_user_path(@user) %>
    </li>
  <% end %>
</ul>
