<div class="control-group">
  <%= form.label :availability, "Disponibilités", class: "control-label" %>

  <% if @user.availability.present? %>
    <ul>
      <% @user.availability.each do |day, slots| %>
        <li>
          <strong><%= Availabilable.day_name(day) %>:</strong>
          <%= slots.join(', ') %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucune disponibilité renseignée.</p>
  <% end %>
</div>

<div class="control-group">
  <%= form.label :interests, "Centres d'intérêts", class: "control-label" %>
  <div class="controls">
    <%= form.collection_select :interests, Tag.interest_list, :to_s, :to_s, {}, { multiple: true } %>
  </div>
</div>

<div class="control-group">
  <%= form.label :involvements, "Envies d'agir", class: "control-label" %>
  <div class="controls">
    <%= user.involvement_i18n.join(', ') %>
  </div>
</div>

<div class="control-group">
  <%= form.label :concerns, "Catégories d’entraides préférées", class: "control-label" %>
  <div class="controls">
    <%= user.concern_i18n.join(', ') %>
  </div>
</div>
