<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="h1">
      <span>
        <% if [@user.first_name, @user.last_name].any?(&:present?) %>
          <%= @user.first_name %> <%= @user.last_name %>
        <% else %>
          Utilisateur #<%= @user.id %>
        <% end %>
      </span>
    </div>

    <% if @user.blocked? %>
      <%= render partial: "block_panel", locals: { user: @user } %>
    <% else %>
      <div class="panel panel-info">
        <div class="panel-heading">
          Cet utilisateur n'est pas bloqué
        </div>
        <div class="panel-body">
          Vous pouvez choisir de bloquer cet utilisateur ci-après en fournissant les raisons de cette action.
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          Recommandations de la CNIL
        </div>
        <div class="panel-body">
          Ne donner que l'information strictement nécessaire et objective.
          Voir les <a href="https://www.cnil.fr/fr/zones-bloc-note-et-commentaires-les-bons-reflexes-pour-ne-pas-deraper">bonnes pratiques de la CNIL</a>, notamment :
          <ul>
            <li>penser au droit d'accès</li>
            <li>être objectif, jamais excessif ou insultant</li>
            <li>attention aux données sensibles</li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% action = @user.blocked? ? "Débloquer" : "Bloquer" %>
    <% path = @user.blocked? ? unblock_admin_user_path(@user.id) : block_admin_user_path(@user.id) %>

    <%= form_for([:admin, @user], url: path, method: :put, html: { class: "form-horizontal", role: "form" }) do |f| %>
      <%= render partial: "layouts/errors", locals: {obj: @user} %>

      <div class="control-group">
        <%= f.label :cnil_explanation, class: "control-label" %>
        <div class="controls">
          <%= f.text_area :cnil_explanation, class: "form-control", maxlength: 200 %>
        </div>
      </div>

      <br>
      <%= f.submit action, class: "btn btn-danger" %>
      <%= link_to "Annuler", edit_admin_user_path(@user), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
