<div class="container">
  <div class="row">
    <h1>Editer le user</h1>
  </div>

  <%= form_for([:admin, @user], html: { class: "form-horizontal", role: "form" }) do |f| %>
    <%= render partial: "layouts/errors", locals: {obj: @user} %>

    <div class="control-group">
      <%= f.label :first_name,"Prénom", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name, class: "form-control", required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name,"Nom", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name, class: "form-control", required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email,"Email", class: "control-label" %>
      <div class="controls">
        <%= f.email_field :email, class: "form-control", required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :sms_code,"Code SMS", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :sms_code, class: "form-control", required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :organization,"Associations coordonées", class: "control-label" %>
      <div class="controls">
        <%= f.collection_select(:coordinated_organizations, Organization.all, :id, :name, {selected: @user.coordinated_organizations.map(&:id)}, {multiple: true}) %>
      </div>
    </div>

    <br>
    <%= f.submit "Sauver", class: "btn btn-success" %>
    <%= link_to "Annuler", admin_users_path, class: "btn btn-default" %>
  <% end %>
</div>