<%= render 'header', tab: :engagement %>

<div class="alert alert-info" role="alert" style="display: flex; align-items: center">
  <div style="flex-grow: 1">
    Cet utilisateur est considéré comme <b><%= @user.engaged? ? 'engagé' : 'non engagé' %></b>
  </div>
</div>

<% if @user.engaged? %>
  <ul>
    <li>Score : <%= @user.engagement.score %></li>
    <li>Level 1 : <%= @user.engagement.level_1 %></li>
    <li>Level 2 : <%= @user.engagement.level_2 %></li>
    <li>Level 3 : <%= @user.engagement.level_3 %></li>
  </ul>
<% end %>
