<h1>Utilisateurs de tests</h1>

<% if @users %>
  <div class="row">
    <table class="table">
      <th></th>
      <th>Téléphone</th>
      <th>Code SMS</th>
      <tr>
        <td>Utilisateur sans maraude</td>
        <td><%= @users[0].phone %></td>
        <td>123456</td>
      </tr>
      <tr>
        <td>Utilisateur avec 2 maraude (1 fermée, 1 en cours)</td>
        <td><%= @users[1].phone %></td>
        <td>123456</td>
      </tr>
      <tr>
        <td>Utilisateur qui a demandé à rejoindre la maraude en cours</td>
        <td><%= @users[2].phone %></td>
        <td>123456</td>
      </tr>
      <tr>
        <td>Utilisateur qui a été accepté dans la maraude en cours</td>
        <td><%= @users[3].phone %></td>
        <td>123456</td>
      </tr>
      <tr>
        <td>Utilisateur qui a été refusé dans la maraude en cours</td>
        <td><%= @users[4].phone %></td>
        <td>123456</td>
      </tr>
    </table>
  </div>
  <br>
<% else %>
  <br><br>
<% end %>
<div class="row">
  <%= link_to "Générer des utilisateurs de test", generate_admin_users_path, method: :post, class: "btn btn-success" %>
</div>