<%= render 'header', tab: :history %>

<div class="alert alert-info" role="alert" style="display: flex; align-items: center">
  <div style="flex-grow: 1">
    <%= @user.full_name %> a fait <%= @sms_deliveries_count %> demandes de mot de passe.<br/>
    Il a également fait l'objet de <%= @block_count %> blocages.
  </div>
</div>


<div class="row">
  <label class="control-label">Historique de l'utilisateur</label>
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Détails</th>
      <th>Modéré par</th>
    </tr>
    <% @histories.each do |history| %>
      <tr>
        <td><%= l history[:date], format: "%A %-d %B %Y, %H:%M" %></td>
        <td><%= l "activerecord.attributes.user_history.kind.#{history[:kind]}" %></td>
        <td><%= history[:metadata] %></td>
        <td><%= history[:moderator].full_name if history[:moderator].present? %></td>
      </tr>
    <% end %>
  </table>
</div>
