<h1>Liste des utilisateurs</h1>

<div class="row">
  <div style="margin-left: 15px; margin-bottom: 15px; display: flex">
    <div class="btn-group btn-group-sm">
      <%= link_to("Tous", @params.merge(status: :all), class: "btn btn-#{@status == :all ? :primary : :default}") %>
      <%= link_to("Engagés", @params.merge(status: :engaged), class: "btn btn-#{@status == :engaged ? :primary : :default}") %>
      <%= link_to("Non engagés", @params.merge(status: :not_engaged), class: "btn btn-#{@status == :not_engaged ? :primary : :default}") %>
      <%= link_to("Bloqués", @params.merge(status: :blocked), class: "btn btn-#{@status == :blocked ? :primary : :default}") %>
      <%= link_to("Supprimés", @params.merge(status: :deleted), class: "btn btn-#{@status == :deleted ? :primary : :default}") %>
      <%= link_to("Admins", @params.merge(status: :admin), class: "btn btn-#{@status == :admin ? :primary : :default}") %>
      <%= link_to("En attente", @params.merge(status: :pending), class: "btn btn-#{@status == :pending ? :primary : :default}") %>
    </div>

    <div style="margin-left: auto">
      <%= link_to "Ajouter", new_admin_user_path, class: "btn btn-success" %>
    </div>
  </div>

  <div style="margin-left: 15px; margin-bottom: 15px; display: flex">
    <div style="display: flex; margin: -10px 0 10px">
      <div class="btn-group btn-group-sm" style="flex-grow: 1">
        <%
          q = @params[:q] || {}
          presets = {
            "Partout" => {},
            "75" => { postal_code_start: '75' },
            "92" => { postal_code_start: '92' },
            "69" => { postal_code_start: '69' },
            "59" => { postal_code_start: '59' },
            "35" => { postal_code_start: '35' },
            "Hors zone" => { postal_code_in_hors_zone: 'true' },
          }

          location_keys = [:country_eq, :postal_code_start, :postal_code_in_hors_zone]
          active = presets.key q.slice(*location_keys).compact.symbolize_keys
        %>
        <% presets.each do |name, options| %>
          <%= link_to(
            name,
            @params.merge(q: q.except(*location_keys).merge(options)),
            class: "btn btn-#{active == name ? :primary : :default}"
          ) %>
        <% end %>
      </div>
    </div>
  </div>

  <%= form_tag(admin_user_search_path, method: :get, html: { class: "form-horizontal", role: "form" }) do %>
    <div style="margin-left: 15px; display: flex">
      <div class="input-group">
        <%= text_field_tag :search, nil, class: "form-control", placeholder: "nom, prénom, email..." %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-default") do %>Chercher<% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>
<br><br>

<% if @status == :pending %>
  <div class="panel panel-info">
    <div class="panel-heading">
      En attente
    </div>
    <div class="panel-body">
      Les utilisateurs affichés ici ont fait une demande de changement de téléphone qui est en attente de modération.
    </div>
  </div>
<% end %>

<div class="row">
  <table class="table">
    <th>Nom</th>
    <th>Prénom</th>
    <th>Association</th>
    <th>Date de création</th>
    <th>Date de dernière connexion</th>
    <th>Nombre d'entourages</th>
    <th></th>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td>
          <% if user.pro? && user.organization.present? %>
            <%= user.organization.name %>
          <% else %>
            <span class="text-muted">&mdash;</span>
          <% end %>
        </td>
        <td><%= l user.created_at, format: "%-d %B %Y" %></td>
        <td>
          <% if user.last_sign_in_at %>
            <%= l user.last_sign_in_at, format: "%-d %B %Y" %>
          <% else %>
            <span class="text-muted">&mdash;</span>
          <% end %>
        </td>
        <td><%= user.groups.count %></td>
        <td><%= link_to "Modifier", edit_admin_user_path(user), class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="row">
  <%= paginate @users %>
</div>
