<h1>Liste des utilisateurs</h1>

<%= form_tag admin_users_path, class: 'form-inline', method: :get do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div style="float: left">
        <div class='input-group'>
          <%= text_field_tag :search, @params[:search], class: "form-control", placeholder: "nom, prénom, email..." %>
          <span class="input-group-btn">
            <%= submit_tag "Chercher", class: "btn btn-default" %>
          </span>
        </div>
      </div>

      <div style="float: right">
        <%= link_to "Nouvel utilisateur", new_admin_user_path, class: "btn btn-success" %>
      </div>
    </div>

    <div style="padding: 0 0 15px 15px">
      <div class='input-group'>
        <%= select_tag :profile, options_for_select([['Tous les profils', nil]] + user_profiles, @params[:profile]), class: 'form-control' %>
      </div>
      <div class='input-group'>
        <%= select_tag :engagement, options_for_select([['Tous les engagements', nil]] + user_engagements, @params[:engagement]), class: 'form-control' %>
      </div>
      <div class="input-group">
        <%= select_tag :role, options_for_select([['Tous les rôles', nil]] + user_roles, @params[:role]), class: 'form-control' %>
      </div>
      <div class="input-group">
        <%= select_tag :status, options_for_select([['Tous les statuts', nil]] + user_statuses, @params[:status]), class: 'form-control' %>
      </div>
    </div>
  </div>

  <div style="float: left; margin: -10px 0 10px">
    <%
      q = @params[:q] || {}
      locations = moderation_area_filters
    %>

    <%= hidden_field_tag "q[country_eq]", q[:country_eq] if q[:country_eq] %>
    <%= hidden_field_tag "q[postal_code_start]", q[:postal_code_start] if q[:postal_code_start] %>
    <%= hidden_field_tag "q[postal_code_not_start_all]", q[:postal_code_not_start_all] if q[:postal_code_not_start_all] %>
  </div>

  <div style="float: left; margin: -10px 0 10px">
    <div class="btn-group btn-group-sm">
      <% location_keys = [:country_eq, :postal_code_start, :postal_code_not_start_all] %>
      <% active = locations.key q.slice(*location_keys).compact.symbolize_keys %>

      <% locations.each do |name, options| %>
        <%= link_to(name, @params.merge(q: q.except(*location_keys).merge(options)),
          class: "btn btn-#{active == name ? :primary : :default}"
        ) %>
      <% end %>
    </div>
  </div>

  <div style="float: right; margin: -10px 0 10px">
    <%= link_to "Télécharger", download_list_export_admin_users_path(@params), class: "btn btn-default" %>
    <%= link_to "Réinitialiser les filtres", admin_users_path, class: "btn btn-default" %>
  </div>
<% end %>

<% if @status == :pending %>
  <div class="panel panel-info" style="clear: both">
    <div class="panel-heading">
      En attente
    </div>
    <div class="panel-body">
      Les utilisateurs affichés ici ont fait une demande de changement de téléphone qui est en attente de modération.
    </div>
  </div>
<% end %>

<table class="table admin-table" style="table-layout: auto">
  <th>Nom</th>
  <th>Prénom</th>
  <th>Association</th>

  <% if @status == :pending %>
    <th>Email lié au compte</th>
    <th>Date de la demande</th>
  <% elsif @status == :temporary_blocked %>
    <th>Notification de déblocage le</th>
  <% else %>
    <th>Date de création</th>
    <th>Date de dernière connexion</th>
  <% end %>

  <th>Profil</th>

  <% if [:admin, :moderators].include? @role %>
    <th>Rôle modérateur</th>
  <% end %>

  <th>Groupes</th>

  <th><!-- Actions --></th>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.last_name %></td>
      <td><%= user.first_name %></td>
      <td>
        <% if user.pro? && user.organization.present? %>
          <%= user.organization.name %>
        <% else %>
          <span class="text-muted">&mdash;</span>
        <% end %>
      </td>

      <% if @status == :pending %>
        <td><%= user.email %></td>
        <td><%= l user.pending_phone_change_request.created_at, format: "%-d %B %Y" %></td>
      <% elsif @status == :temporary_blocked %>
        <td><%= l user.unblock_at, format: "%-d %B %Y" %></td>
      <% else %>
        <td><%= l user.created_at, format: "%-d %B %Y" %></td>
        <td>
          <% if user.last_sign_in_at %>
            <%= l user.last_sign_in_at, format: "%-d %B %Y" %>
          <% else %>
            <span class="text-muted">&mdash;</span>
          <% end %>
        </td>
      <% end %>

      <td>
        <% if user.targeting_profile.present? %>
          <span class="label label-default" title="Profil renseigné par la modération">
            <%= t "community.entourage.targeting_profiles.#{user.targeting_profile}" %>
          </span>
        <% elsif user.goal.present? %>
          <span class="label label-primary" title="Profil renseigné par l'utilisateur">
            <%= t "community.entourage.goals_compact.#{user.goal}" %>
          </span>
        <% end %>
      </td>

      <% if [:admin, :moderators].include? @role %>
        <td>
          <% if user.moderator %>
            <span class="label label-default" title="moderator">modérateur</span>
          <% end %>
        </td>
      <% end %>

      <td>
        <% if user.neighborhood_memberships.any? %>
          <% names = user.neighborhood_memberships.pluck(:name) %>
          <% names_display = names[0..10].join("\n") + (names.length > 10 ? "\n..." : "") %>

          <span class="badge" style="color: #555; background-color: #ddd;" title="Groupes de voisins : <%= "\n" + names_display %>">
            <%= user.neighborhood_memberships.count %>
          </span>
        <% end %>
      </td>

      <td><%= link_to "Modifier", edit_admin_user_path(user), class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @users, entry_name: 'utilisateurs' %>
<div class="container">
  <%= paginate @users %>
</div>

<script>
  $(function(){
    $('form select').on('change', function(event) {
      $(event.target).closest('form').submit();
    })
  })
</script>
