<h1>Liste des utilisateurs</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div style="float: left; display: flex">
      <%= form_tag(admin_user_search_path, method: :get, html: { class: "form-horizontal", role: "form" }) do %>
        <div class="input-group">
          <%= text_field_tag :search, nil, class: "form-control", placeholder: "nom, prénom, email..." %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', class: "btn btn-default") do %>Chercher<% end %>
          </span>
        </div>

      <% end %>
    </div>

    <div style="float: right">
      <%= link_to "Nouvel utilisateur", new_admin_user_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

<div style="display: flex; margin: -10px 0 10px">
  <div class="btn-group btn-group-sm" style="flex-grow: 0.5">
    <%
      q = @params[:q] || {}
      presets = {
        "Partout" => {},
        "75" => { postal_code_start: '75' },
        "92" => { postal_code_start: '92' },
        "93" => { postal_code_start: '93' },
        "69" => { postal_code_start: '69' },
        "59" => { postal_code_start: '59' },
        "35" => { postal_code_start: '35' },
        "Hors zone" => { postal_code_in_hors_zone: 'true' },
      }

      location_keys = [:postal_code_start, :postal_code_in_hors_zone]
      active = presets.key q.slice(*location_keys).compact.symbolize_keys
    %>
    <% presets.each do |name, options| %>
      <%= link_to(
        name,
        @params.merge(q: q.except(*location_keys).merge(options)),
        class: "btn btn-#{active == name ? :primary : :default}"
      ) %>
    <% end %>
  </div>

  <form action="<%= admin_users_path %>" class="form-inline" id="search_form">
    <% if @params[:q] %>
      <% @params[:q].each do |key, value| %>
        <input type="hidden" name="q[<%= key %>]" value="<%= value %>">
      <% end %>
    <% end %>

    <%= label_tag :profile, 'Statut' %>
    <%= select_tag :profile, options_for_select([
      ['Tous', :all],
      ['Riverain', :offer_help],
      ['SDF', :ask_for_help],
      ['Association', :organization],
      ['Non défini', :unknown],
    ], params[:profile]), class: "form-control" %>

    <%= label_tag :engagement %>
    <%= select_tag :engagement, options_for_select([
      ['Tous', :all],
      ['Engagés', :engaged],
      ['Non engagés', :not_engaged],
    ], params[:engagement]), class: "form-control" %>

    <%= label_tag :status, 'Statut' %>
    <%= select_tag :status, options_for_select([
      ['Tous', :all],
      ['Bloqués', :blocked],
      ['Supprimés', :deleted],
      ['En attente', :pending],
    ], params[:status]), class: "form-control" %>

    <%= label_tag :role, 'Rôle' %>
    <%= select_tag :role, options_for_select([
      ['Tous', :all],
      ['Admins', :admin],
      ['Modérateurs', :moderators],
    ], params[:role]), class: "form-control" %>
  </form>
</div>

<br>

<% if @status == :pending %>
  <div class="panel panel-info">
    <div class="panel-heading">
      En attente
    </div>
    <div class="panel-body">
      Les utilisateurs affichés ici ont fait une demande de changement de téléphone qui est en attente de modération.
    </div>
  </div>
<% end %>

<div class="row">
  <table class="table">
    <th>Nom</th>
    <th>Prénom</th>
    <th>Association</th>

    <% if @status == :pending %>
      <th>Email lié au compte</th>
      <th>Date de la demande</th>
    <% else %>
      <th>Date de création</th>
      <th>Date de dernière connexion</th>
      <th>Profil</th>
    <% end %>

    <% if [:admin, :moderators].include? @role %>
      <th>Rôle modérateur</th>
    <% end %>

    <th><!-- Actions --></th>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td>
          <% if user.pro? && user.organization.present? %>
            <%= user.organization.name %>
          <% else %>
            <span class="text-muted">&mdash;</span>
          <% end %>
        </td>

        <% if @status == :pending %>
          <td><%= user.email %></td>
          <td><%= l user.pending_phone_change_request.created_at, format: "%-d %B %Y" %></td>
        <% else %>
          <td><%= l user.created_at, format: "%-d %B %Y" %></td>
          <td>
            <% if user.last_sign_in_at %>
              <%= l user.last_sign_in_at, format: "%-d %B %Y" %>
            <% else %>
              <span class="text-muted">&mdash;</span>
            <% end %>
          </td>

          <td>
            <% if user.targeting_profile.present? %>
              <span class="label label-default" title="Profil renseigné par la modération">
                <%= t "community.entourage.targeting_profiles.#{user.targeting_profile}" %>
              </span>
            <% elsif user.goal.present? %>
              <span class="label label-primary" title="Profil renseigné par l'utilisateur">
                <%= t "community.entourage.goals_compact.#{user.goal}" %>
              </span>
            <% end %>
          </td>

          <% if [:admin, :moderators].include? @role %>
            <td>
              <% if user.moderator %>
                <span class="label label-default" title="moderator">modérateur</span>
              <% end %>
            </td>
          <% end %>
        <% end %>

        <td><%= link_to "Modifier", edit_admin_user_path(user), class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="row">
  <%= paginate @users %>
</div>

<script>
  $(function(){
    $('#profile, #engagement, #status, #role').on('change', function() {
      $('#search_form').submit()
    })
  })
</script>
