<h1>Liste des utilisateurs pro</h1>

<table class="table">
  <th>id</th>
  <th>Nom</th>
  <th>Prénom</th>
  <th>Association</th>
  <th></th>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.last_name %></td>
      <td><%= user.first_name %></td>
      <td><%= user.organization.name %></td>
      <td><%= link_to "Modifier", edit_admin_user_path(user), class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>

<div class="row">
  <%= paginate @users %>
</div>