<%= render 'header', tab: :messages %>

<div class="row">
  <table class="table">
    <% @entourage_messages.each do |entourage_id, messages| %>
      <tr>
        <td colspan="3" style="padding-top: 3em; border-top: 0">
          <% entourage = @entourages[entourage_id] %>
          <% if entourage.group_type == 'conversation' %>
            <!-- N+1 issue -->
            <% recipients = ConversationService.recipients conversation: entourage, user: @user %>
            <%= link_to "Conversation avec #{conversation_recipients_display_names(recipients)}", admin_conversation_path(entourage_id), class: "h4" %>
          <% else %>
            <%= link_to @entourages[entourage_id].title, admin_entourage_path(entourage_id), class: "h4" %>
          <% end %>
        </td>
      </tr>

      <% block_date = nil %>
      <% messages.sort_by(&:created_at).each do |message| %>
        <% message_date = message.created_at.to_date %>
        <% if message_date != block_date %>
          <% block_date = message_date %>
          <tr>
            <td colspan="3" style="text-align: right; font-weight: bold">
              <% if block_date == Time.zone.today %>
                Aujourd'hui
              <% else %>
                <%= l block_date, format: "%A %-d %B %Y" %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>
            <% if message.is_a?(ConversationMessage) && message.deleted? %>
              <p style="color: red;"> Ce message a été supprimé : </p>
              <em><%= simple_format message.content(true) %></em>
            <% else %>
              <%= simple_format message.content %>
            <% end %>
          </td>
          <td><%= l message.created_at, format: "%H:%M" %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="row">
  <%= paginate @entourages_paginate %>
</div>
