<%= render 'header', tab: :messages %>

<table class="table">
  <% @entourage_messages.each do |entourage_id, messages| %>
    <tr>
      <td colspan="3" style="padding-top: 3em; border-top: 0">
        <%= link_to @entourages[entourage_id].title, admin_entourage_path(entourage_id), class: "h4" %>
      </td>
    </tr>

    <% block_date = nil %>
    <% messages.sort_by(&:created_at).each do |message| %>
      <% message_date = message.created_at.to_date %>
      <% if message_date != block_date %>
        <% block_date = message_date %>
        <tr>
          <td colspan="3" style="text-align: right; font-weight: bold">
            <% if block_date == Time.zone.today %>
              Aujourd'hui
            <% else %>
              <%= l block_date, format: "%A %-d %B" %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td><%= simple_format message.content %></td>
        <td><%= l message.created_at, format: "%H:%M" %></td>
      </tr>
    <% end %>
  <% end %>
</table>
