<style>
  .field_with_errors { display: inline-block }
</style>

<%= render partial: 'common/errors', locals: {obj: @area} %>

<%= form_for [:admin, @area], html: { role: "form" } do |f| %>
  <% if @area.activity? %>
    <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b><%= region_text_for(@area) %> - Zone active</b><br>
        Ce département est considéré comme une zone active : il s'agit d'une antenne d'Entourage ou d'une zone activement gérée par des ambassadeurs.
      </div>
    </div>
  <% else %>
    <div class="alert alert-danger" role="alert" style="display: flex; align-items: center">
      <div style="flex-grow: 1">
        <b><%= region_text_for(@area) %> - Zone non active</b><br>
        Ce département est considéré comme une zone non active : il n'est rattaché à aucune antenne d'Entourage ni n'est activement géré par des ambassadeurs.
      </div>
    </div>
  <% end %>

  <% if current_user.super_admin? %>
    <div class="form-group">
      <%= f.label :departement %>

      <% if @area.departement == '*' %>
        <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
          <div style="flex-grow: 1">
            <b>Hors-Zone</b><br>
            Le département n'est pas éditable pour la zone de modération Hors-Zone.
          </div>
        </div>
      <% else %>
        <%= f.text_field :departement, class: "form-control", required: true %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>

    <%= render_user_selection_field(f, :moderator, @area) %>
    <%= render_user_selection_field(f, :animator, @area) %>
    <%= render_user_selection_field(f, :mobilisator, @area) %>
    <%= render_user_selection_field(f, :sourcing, @area) %>
    <%= render_user_selection_field(f, :accompanyist, @area) %>
    <%= render_user_selection_field(f, :community_builder, @area) %>
  <% end %>

  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" style="margin-bottom: 15px">
      <li role="presentation" class="active"><a href="#offer_help" data-toggle="tab"><%= t 'community.entourage.goals_compact.offer_help' %></a></li>
      <li role="presentation"><a href="#ask_for_help" data-toggle="tab"><%= t 'community.entourage.goals_compact.ask_for_help' %></a></li>
      <li role="presentation"><a href="#organization" data-toggle="tab"><%= t 'community.entourage.goals_compact.organization' %></a></li>
      <li role="presentation"><a href="#goal_not_known" data-toggle="tab"><%= t 'community.entourage.goals_compact.goal_not_known' %></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="offer_help">
        <div class="form-group">
          <%= f.label :welcome_message_1_offer_help do %>
            <%= t 'activerecord.attributes.moderation_area.welcome_message_1' %>
            pour le profil <%= t 'community.entourage.goals_compact.offer_help' %>
          <% end %>
          <%= f.text_area :welcome_message_1_offer_help, rows: 10, class: "form-control" %>
          Utilisez <code>{{first_name}}</code> pour insérer le prénom du destinataire.
        </div>
      </div>

      <div class="tab-pane" id="ask_for_help">
        <div class="form-group">
          <%= f.label :welcome_message_1_ask_for_help do %>
            <%= t 'activerecord.attributes.moderation_area.welcome_message_1' %>
            si <%= t 'community.entourage.goals_compact.ask_for_help' %>
          <% end %>
          <%= f.text_area :welcome_message_1_ask_for_help, rows: 10, class: "form-control" %>
          Utilisez <code>{{first_name}}</code> pour insérer le prénom du destinataire.
        </div>
      </div>

      <div class="tab-pane" id="organization">
        <div class="form-group">
          <%= f.label :welcome_message_1_organization do %>
            <%= t 'activerecord.attributes.moderation_area.welcome_message_1' %>
            pour le profil <%= t 'community.entourage.goals_compact.organization' %>
          <% end %>
          <%= f.text_area :welcome_message_1_organization, rows: 10, class: "form-control" %>
          Utilisez <code>{{first_name}}</code> pour insérer le prénom du destinataire.
        </div>
      </div>

      <div class="tab-pane" id="goal_not_known">
        <div class="form-group">
          <%= f.label :welcome_message_1_goal_not_known do %>
            <%= t 'activerecord.attributes.moderation_area.welcome_message_1' %>
            pour le profil <%= t 'community.entourage.goals_compact.goal_not_known' %>
          <% end %>
          <%= f.text_area :welcome_message_1_goal_not_known, rows: 10, class: "form-control" %>
          Utilisez <code>{{first_name}}</code> pour insérer le prénom du destinataire.
        </div>
      </div>
    </div>
  </div>

  <div class="text-right">
    <%= f.submit "Enregistrer", class: "btn btn-success" %>
  </div>
<% end %>
