<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">


      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Zones de modération</div>
        <%= link_to "Ajouter une zone de modération", new_admin_moderation_area_path, class: "btn btn-default" %>
      </div>

      <table class="table">
        <tr>
          <th></th>
          <th></th>
          <th>Animateur</th>
          <th>Mobilisateur</th>
          <th>Sourcing</th>
          <th>Accompagnateur</th>
          <th>Lien vers l'identifiant Slack</th>
        </tr>
        <% @moderation_areas.each do |moderation_area| %>
          <tr>
            <td style="width: 3em"><%= moderation_area.departement %></td>
            <td><%= link_to moderation_area.name, edit_admin_moderation_area_path(moderation_area) %></td>

            <td><%= render partial: "admin/moderation_areas/update/animator_form", locals: { moderation_area: moderation_area } %></td>
            <td><%= render partial: "admin/moderation_areas/update/mobilisator_form", locals: { moderation_area: moderation_area } %></td>
            <td><%= render partial: "admin/moderation_areas/update/sourcing_form", locals: { moderation_area: moderation_area } %></td>
            <td><%= render partial: "admin/moderation_areas/update/accompanyist_form", locals: { moderation_area: moderation_area } %></td>

            <td><%= link_to moderation_area.slack_moderator_id, "https://resentourage.slack.com/team/#{moderation_area.slack_moderator_id}", target: :_blank if moderation_area.slack_moderator_id.present? %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.update-select').change(function() {
      $(this).closest('form').submit();
    });
  });
</script>
