<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">


      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Zones de modération</div>
        <%= link_to "Ajouter une zone de modération", new_admin_moderation_area_path, class: "btn btn-default" %>
      </div>

      <table class="table">
        <tr>
          <th></th>
          <th></th>
          <th>Modérateur</th>
          <th>Lien vers l'identifiant Slack</th>
        </tr>
        <% @areas.each do |area| %>
          <tr>
            <td style="width: 3em"><%= area.departement %></td>
            <td><%= link_to area.name, edit_admin_moderation_area_path(area) %></td>
            <td><%= area.moderator.full_name %></td>
            <td><%= link_to area.slack_moderator_id, "https://resentourage.slack.com/team/#{area.slack_moderator_id}", target: :_blank if area.slack_moderator_id.present? %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
