<style>
  .overlay-container {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .overlay-container a:not(.overlay) {
    position: relative;
    z-index: 2;
  }

  .has-fixed-footer {
    margin-bottom: 70px;
  }

  .fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
</style>

<%
  method, path, confirm, cancel_path =
    if @private_circle.new_record?
      [
        :post, community_admin_private_circles_path,
        "Créer le voisinage",
        community_admin_private_circles_path
      ]
    else
      [
        :put, community_admin_private_circle_path(@private_circle),
        "Enregister les modifications",
        community_admin_private_circle_path(@private_circle)
      ]
    end

  status_change_op, next_status, status_change_desc, status_change_long_desc =
    if @private_circle.new_record?
      nil
    elsif @private_circle.status == 'blacklisted'
      [
        "Restaurer",
        :open,
        "Ce voisinage de personne sera à nouveau visible par les membres.",
        "Le voisinage de personne %{title} sera à nouveau visible par les membres. Ils pourront accéder à la conversation de ce groupe."
      ]
    else
      [
        "Archiver",
        :blacklisted,
        "Ce voisinage de personne ne sera plus visible.",
        "Le voisinage de personne %{title} ne sera plus visible par les membres. Ils ne pourront plus accéder à la conversation de ce groupe."
      ]
    end
%>
<div class="container mt-5 has-fixed-footer">
  <div class="row justify-content-md-center">
    <%= form_for @private_circle, url: path, method: method,
            html: {class: "col-8"} do |f| %>
      <div class="d-flex flex-nowrap mb-4">
        <div class="flex-grow-1">
          <div class="form-group">
            <%= label_tag :entourage_metadata_visited_user_first_name,
                "Nom de la personne voisinée" %>
            <%= text_field_tag 'entourage[metadata][visited_user_first_name]',
                  @private_circle.metadata[:visited_user_first_name],
                  class: "form-control", required: true %>
            <small class="form-text text-muted">Le nom du voisinage de personne sera <i>Les amis de [nom]</i>, par exemple : <i>Les amis d'Henriette</i>.</small>
          </div>

          <div class="form-group">
            <label for="private_circle_address">
              Adresse
              <small class="text-muted">(facultatif)</small>
            </label>
            <%= text_field_tag nil, @private_circle.metadata[:street_address],
                id: :private_circle_address,
                class: "form-control",
                required: true,
                data: { last_valid: @private_circle.metadata[:street_address] } %>
            <%= hidden_field_tag 'entourage[latitude]', nil, disabled: true %>
            <%= hidden_field_tag 'entourage[longitude]', nil, disabled: true %>
            <%= hidden_field_tag 'entourage[country]', nil, disabled: true %>
            <%= hidden_field_tag 'entourage[postal_code]', nil, disabled: true %>
            <%= hidden_field_tag 'entourage[metadata][street_address]', nil, disabled: true %>
            <%= hidden_field_tag 'entourage[metadata][google_place_id]', nil, disabled: true %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <small class="text-muted">(facultatif)</small>
            <%= f.text_area :description, class: "form-control" %>
          </div>

          <% if @private_circle.persisted? %>
            <hr class="my-5">

            <div class="form-group d-flex align-items-center">
              <div>
                <label class="text-danger mb-0"><%= status_change_op %> ce voisinage de personne</label><br>
                <small class="text-muted">
                  <%= status_change_desc %> Cette action est réversible.
                </small>
              </div>
              <div class="flex-grow-1 text-right">
                <button type="button" data-toggle="modal" data-target="#archive"
                        class="btn btn-sm btn-outline-danger">
                  <%= status_change_op %>
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="fixed-footer p-3 bg-light d-flex justify-content-end">
        <a href="<%= cancel_path %>" class="btn btn-outline-secondary mr-3">Annuler</a>
        <button type="submit" class="btn btn-success"><%= confirm %></button>
      </div>

      <% if params.key?(:for_user) %>
        <input type="hidden" name="for_user" value="<%= params[:for_user] %>" />
      <% end %>
    <% end %>
  </div>
</div>

<% if @private_circle.persisted? %>
  <div class="modal" tabindex="-1" role="dialog" id="archive">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= status_change_op %> le voisinage de personne ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <%=
              (
                status_change_long_desc %
                {title: "<strong>«&nbsp;#{@private_circle.title}&nbsp;»</strong>"}
              ).html_safe
            %>
          </p>
          <p>Cette action est réversible.</p>
        </div>
        <%= form_for @private_circle, url: path, method: method,
                     html: {class: "modal-footer"} do |f| %>
          <%= f.hidden_field :status, value: next_status %>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-danger"><%= status_change_op %></button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_FRONTEND_API_KEY'] %>&libraries=places&region=fr&language=fr"></script>

  <script>
    var input = document.getElementById('private_circle_address');
    var $input = $(input);
    var options = {
      types: ['address'],
      fields: ['name', 'place_id', 'geometry.location', 'formatted_address', 'address_components'],
      componentRestrictions: {country: ['fr']}
    };

    autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.addListener('place_changed', function() {
      var place = this.getPlace();

      if (typeof place.place_id === 'undefined') {
        $input.removeClass('is-valid').addClass('is-invalid');
        $input.siblings('input[type=hidden]').prop('disabled', true);
      }
      else {
        $input.data('last-valid', $input.val());
        $input.removeClass('is-invalid').addClass('is-valid');
        $input.siblings('input[type=hidden]').prop('disabled', true);
        var details = {
          google_place_id: place.place_id,
          latitude: place.geometry.location.lat(),
          longitude: place.geometry.location.lng(),
          street_address: place.formatted_address,
        };
        var component;
        for (var i in place.address_components) {
          component = place.address_components[i];

          if (component.types.indexOf('country') !== -1) {
            details.country = component.short_name;
          }
          else if (component.types.indexOf('postal_code') !== -1) {
            details.postal_code = component.short_name;
          }
        }
        for (var attribute in details) {
          $input.siblings('input[type=hidden][name*="[' + attribute + ']"]')
            .prop('disabled', false)
            .val(details[attribute]);
        }
      }
    });

    $input.on('blur', function() {
      $input.val($input.data('last-valid'));
      $input.removeClass('is-invalid is-valid');
    });
  </script>

  <script>
    $('form').on('keydown', function(e) {
      if (e.keyCode === 13) {
        e.preventDefault();
      }
    })
  </script>
<% end %>
