<style>
  .overlay-container {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .overlay-container a:not(.overlay),
  .overlay-container .btn {
    position: relative;
    z-index: 2;
  }

  .btn-ellipsis {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
  }

  .btn-ellipsis:before {
    content: "•••";
    display: block;
    height: 1em;
    position: relative;
    top: -0.3em;
  }

  .btn-ellipsis:hover {
    border-color: #6c757d;
  }

  form.button_to input[type="submit"] {
    cursor: pointer;
  }
</style>

<%= render 'nav', active: :private_circles %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12">
      <div class="mb-4">
        <div class="h2 d-flex flex-nowrap">
          <span class="flex-grow-1"><%= @private_circle.title %></span>
          <a href="<%= edit_community_admin_private_circle_path(@private_circle) %>"
             class="btn btn-outline-secondary">Modifier</a>
        </div>
        <% if @private_circle.metadata[:street_address].present? %>
          <div>
            <%= link_to @private_circle.metadata[:street_address],
                  "https://www.google.com/maps/search/?api=1&query=#{@private_circle.metadata[:street_address]}&query_place_id=#{@private_circle.metadata[:google_place_id]}", target: :_blank %>
          </div>
        <% end %>
      </div>

      <% if @private_circle.status == 'blacklisted' %>
        <div class="alert alert-primary mb-4" role="alert">
          <strong>Ce voisinage de personne est archivé.</strong><br>
          Il n'est pas visible par les membres et ils n'ont plus accès à la conversation de ce groupe.
        </div>
      <% end %>

      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="4" class="p-0 border-top-0">
              <h4>Voisinés</h4>
            </td>
          </tr>
          <% if @users[:visited].empty? %>
            <td colspan="4" class="text-muted text-center">
              Il n'y a pas de voisiné dans ce voisinage de personne.
            </td>
          <% end %>
        </thead>
        <% @users[:visited].each do |user| %>
          <tr class="overlay-container">
            <%= render 'community_admin/users/list_item', user: user %>
            <td class="text-right">
              <div class="dropdown">
                <span class="btn-sm btn btn-ellipsis" data-toggle="dropdown"></span>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= button_to "Attribuer le rôle de voisineur",
                        community_admin_user_group_role_path(user,
                          group_id: @private_circle.id, role: :visitor),
                        method: :post,
                        class: "dropdown-item" %>
                  <%= button_to "Retirer du voisinage",
                        community_admin_user_groups_path(user,
                          group_id: @private_circle.id, redirect: :group),
                        method: :delete,
                        class: "dropdown-item text-danger" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>

        <thead>
          <tr>
            <td colspan="4" class="text-right px-0">
              <a href="<%= community_admin_users_path(for_group: @private_circle.id, for_role: :visited, roles: [:visited]) %>" class="btn btn-outline-secondary">
                Ajouter un voisiné
              </a>
            </td>
          </tr>
        </thead>

        <thead>
          <tr>
            <td colspan="4" class="p-0 pt-4 border-top-0">
              <h4>Voisineurs</h4>
            </td>
          </tr>
          <% if @users[:visitors].empty? %>
            <td colspan="4" class="text-muted text-center">
              Il n'y a pas de voisineur dans ce voisinage de personne.
            </td>
          <% end %>
        </thead>
        <% @users[:visitors].each do |user| %>
          <tr class="overlay-container">
            <%= render 'community_admin/users/list_item', user: user %>
            <td class="text-right">
              <div class="dropdown">
                <span class="btn-sm btn btn-ellipsis" data-toggle="dropdown"></span>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= button_to "Attribuer le rôle de voisiné",
                        community_admin_user_group_role_path(user,
                          group_id: @private_circle.id, role: :visited),
                        method: :post,
                        class: "dropdown-item" %>
                  <%= button_to "Retirer du voisinage",
                        community_admin_user_groups_path(user,
                          group_id: @private_circle.id, redirect: :group),
                        method: :delete,
                        class: "dropdown-item text-danger" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        <thead>
          <tr>
            <td colspan="4" class="text-right px-0">
              <a href="<%= community_admin_users_path(for_group: @private_circle.id, for_role: :visitor, roles: [:visitor]) %>" class="btn btn-outline-secondary">
                Ajouter un voisineur
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    var $filters = $('#filters')
    $filters.on('show.bs.collapse hide.bs.collapse', function(e) {
      $filters.find('[data-target="#' + e.target.id + '"]')
              .toggleClass('active', e.type === 'show')
    })
    $('[data-toggle="checkbox"]').on('click', function(e) {
      e.preventDefault()
      var data = $(e.target).data()
      $('#' + data.target + ' input[type=checkbox]')
        .attr('checked', data.type === 'all')
    })
  </script>
<% end %>
