<%= form_for(@user_application) do |f| %>
  <% if @user_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_application.errors.count, "error") %> prohibited this user_application from being saved:</h2>

      <ul>
      <% @user_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :push_token %><br>
    <%= f.text_field :push_token %>
  </div>
  <div class="field">
    <%= f.label :device_os %><br>
    <%= f.text_field :device_os %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
