<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <ol class="breadcrumb">
        <li><%= link_to "Emails de récap", admin_digest_emails_path %></li>
        <li class="active">Emails à venir</li>
      </ol>

      <h1>Email du <%= l @email.deliver_at, format: "%A %-d %B" %></h1>
      <div>
        Heure de l'envoi : <%= l @email.deliver_at, format: "%H:%M" %>
        (dans <%= time_ago_in_words @email.deliver_at %>)
      </div>

      <%= form_for [:admin, @email] do |f| %>
        <% @cities.each do |name, department| %>
          <div>
            <div class="h2" style="display: flex; align-items: center;">
              <div style="flex-grow: 1">
                <%= name %> (<%= department %>)
                <span class="small">
                  <%= DigestEmailService.users_for_city(department).count %>
                  destinataires
                </span>
              </div>
              <div>
                <%= link_to "Voir les actions à #{name}",
                      admin_entourages_path(
                        q: {country_eq: 'FR', postal_code_start: department}),
                      target: :_blank,
                      class: "btn btn-default" %>
                <a href="#"
                   role="send-test-email"
                   data-city="<%= name %>" data-department="<%= department %>"
                   class="btn btn-default">
                  Envoyer un test
                </a>
              </div>
            </div>

            <table class="table">
              <tr>
                <th colspan="2">
                  Évènements (sélection automatique) :
                </th>
              </tr>
              <% if @events[department].empty? %>
                <td class="text-muted" colspan="2">
                  Aucun évènement à venir.
                </td>
              <% else %>
                <% @events[department].each do |event| %>
                  <tr>
                    <td class="text-muted"><%= event.id %></td>
                    <td>
                      <%= entourage_category_image event %>
                      <%= link_to event.title, [:admin, event] %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              <tr>
                <th colspan="2">
                  Sélection manuelle :
                </th>
              </tr>
              <% if @group_ids[department].empty? %>
                <td class="text-muted" colspan="2">
                  Aucune action sélectionnée.
                </td>
              <% else %>
                <% @group_ids[department].each do |group_id| %>
                  <% group = @groups[group_id] %>
                  <tr>
                    <td class="text-muted"><%= group.id %></td>
                    <td>
                      <%= entourage_category_image group %>
                      <%= link_to group.title, [:admin, group] %>
                      <% unless group.postal_code.starts_with?(department) %>
                        <span class="label label-warning">
                          <%= group.postal_code %>
                        </span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>

            <div class="form-group">
              <%= text_field_tag "group_ids[#{department}]",
                     @group_ids[department].join(' '),
                    class: "form-control" %>
            </div>
          </div>
        <% end %>

        <div style="margin-bottom: 50px">
          <%= f.submit "Enregistrer", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= form_tag send_test_admin_digest_email_path,
      class: "modal fade", role: "send-test-email-modal" do %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          Envoyer un email de test pour <span data-value="title"></span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="test_email">Email</label>
          <input type="email" name="email" class="form-control" id="test_email" required="required">
          <input type="hidden" name="department" data-value="department" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
<% end %>

<script>
  (function() {
    var $modal = $('[role=send-test-email-modal]')

    $('[role=send-test-email]').on('click', function(e) {
      var $trigger = $(this);
      e.preventDefault()
      $modal.find('[data-value=title]').text($trigger.data('city'))
      $modal.find('[data-value=department]').val($trigger.data('department'))
      $modal.modal('show')
    })
  })()
</script>
