<% layout_options jquery: :full %>

<div class="container-s mt-6 mb-2 px-3">
  <%= render 'organization_admin/flashes' %>

  <%= form_for @partner,
        url: organization_admin_description_path(@partner),
        html: {id: "partner-form"} do |f| %>

    <div class="flex">
      <div class="flex-grow">
        <div class="text-large mb-2">Fiche de présentation</div>
        <div class="mb-2">
          <label>Logo</label>
          <div>
            <%= link_to "Modifier le logo",
                  edit_logo_organization_admin_description_path,
                  class: "btn btn-outline" %>
          </div>
        </div>
      </div>
      <div>
        <div style="width: 8rem; height: 8rem"class="logo-as-background rounded border"></div>
      </div>
    </div>

    <div class="mb-2">
      <%= f.label :name, "Nom" %>
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, rows: 8, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= f.label :donations_needs, "Dons acceptés", class: "mb-0" %>
      <div class="text-small mb-05">
        Si vous acceptez des dons matériels de particuliers, vous pouvez compléter ce champ pour le détailler. Sinon, laissez-le vide.
      </div>
      <%= f.text_area :donations_needs, rows: 3, class: "form-control",
            placeholder: "jeux, produits d'hygiène, sous-vêtements, collations..." %>
    </div>

    <div class="mb-2">
      <%= f.label :volunteers_needs, "Bénévoles recherchés", class: "mb-0" %>
      <div class="text-small mb-05">
        Si vous recherchez actuellement des bénévoles, vous pouvez compléter ce champ pour le détailler. Sinon, laissez-le vide.
      </div>
      <%= f.text_area :volunteers_needs, rows: 3, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= f.label :phone, "Numéro de téléphone" %>
      <%= f.phone_field :phone, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= label_tag :address, "Adresse" %>
      <%= text_field_tag :address, f.object.address, class: "form-control", data: { 'last-valid' => f.object.address } %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
    </div>

    <div class="mb-2">
      <%= f.label :website_url, "Site web" %>
      <%= f.text_field :website_url, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= f.label :email, "Adresse e-mail" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="text-right mb-6">
      <%= f.submit "Enregistrer", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_FRONTEND_API_KEY'] %>&libraries=places&region=fr&language=fr"></script>

  <script>
    var input = document.getElementById('address');
    var $input = $(input);
    var options = {
      types: ['geocode'],
      fields: ['geometry.location', 'formatted_address'],
      componentRestrictions: {country: ['fr']}
    };

    autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.addListener('place_changed', function() {
      var place = this.getPlace();

      if (typeof place.geometry === 'undefined') {
        $input.siblings('input[type=hidden]').val(null);
      }
      else {
        $input.data('last-valid', $input.val())
        input.setCustomValidity('')
        $input.siblings('input[type=hidden]').val(null);
        var details = {
          address: place.formatted_address,
          latitude: place.geometry.location.lat(),
          longitude: place.geometry.location.lng(),
        };
        for (var attribute in details) {
          $input.siblings('input[type=hidden][name="partner[' + attribute + ']"]')
            .val(details[attribute]);
        }
      }
    });

    $input.on('input', function() {
      if ($input.val() === '') {
        $input.siblings('input[type=hidden]').val(null);
        $input.data('last-valid', $input.val());
      }
    })

    $('#partner-form').on('submit', function(e) {
      if (typeof $input.data('last-valid') === 'undefined' ||
          $input.val() !== $input.data('last-valid')) {
        input.setCustomValidity("Sélectionnez une adresse")
        e.preventDefault()
      }
    })

    $('#partner-form').on('keydown', 'input[type=text]', function(e) {
      if (e.keyCode === 13) {
        e.preventDefault();
      }
    })
  </script>
<% end %>
