<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class='navbar-brand',>
          <div class='images'>
            <%= image_tag('logo.png', alt:'Entourage', title: EnvironmentHelper.git_sha) %>
            <% if UserServices::Avatar.new(user: current_user).thumbnail_url %>
              <%= image_tag(UserServices::Avatar.new(user: current_user).thumbnail_url, alt:'avatar', class:"nav-thumbnail", title: EnvironmentHelper.git_sha) %>
            <% end %>
          </div>
          <%= current_admin.try(:first_name) %>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav">
        <% if current_admin.super_admin == true %>
        <li class="dropdown custom-nav-item">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
            Superadmin
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Options", admin_options_path %></li>
            <li><%= link_to "Soliguide", admin_super_admin_soliguide_path %></li>
            <li><%= link_to "Sidekiq", sidekiq_web_path %></li>
          </ul>
        </li>
        <% end %>

        <li class="dropdown custom-nav-item">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
            Administrer
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Cartes d'annonce", admin_announcements_path %></li>
            <li><%= link_to "Photos d'événements", admin_entourage_images_path %></li>
            <li><%= link_to "Photos de groupes de voisinages", admin_neighborhood_images_path %></li>
            <li><%= link_to "Photos de recommandations", admin_recommandation_images_path %></li>
            <li><%= link_to "Photos de contenus pédagogiques", admin_resource_images_path %></li>
            <li><%= link_to "Recommandations", admin_recommandations_path %></li>
            <li><%= link_to "Contenus pédagogiques", admin_resources_path %></li>
            <li><%= link_to "Pois", admin_pois_path({ q: { source_eq: "0", validated_eq: "false" } }) %></li>
            <li><%= link_to "Zones de modération", admin_moderation_areas_path %></li>
            <li><%= link_to "Diffusions de MP", admin_user_message_broadcasts_path %></li>
            <li><%= link_to "Diffusions de groupes", admin_neighborhood_message_broadcasts_path %></li>
          </ul>
        </li>

        <li class="dropdown custom-nav-item">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
            Modérer
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Groupes de voisinage", admin_neighborhoods_path %></li>
            <li><%= link_to "Associations - Demandes d'adhésion", admin_partner_registrations_path %></li>
            <li><%= link_to "Associations - Liste", admin_partners_path %></li>
            <li><%= link_to "Modération des photos de profils", moderate_admin_users_path %></li>
            <li><%= link_to "Demandes de changement de téléphone", admin_users_path(status: :pending) %></li>
            <% if EnvironmentHelper.staging? %>
              <li><%= link_to "Utilisateurs de test", fake_admin_users_path %></li>
            <% end %>
          </ul>
        </li>

        <li class="<%= :active if controller_name == 'entourages' %> custom-nav-item">
          <%= link_to "Actions et événements", admin_entourages_path(q: {
            group_type_eq: 'action',
            pin_eq: 'false',
            }) %>
        </li>
        <li class="<%= :active if controller_name == 'conversations' %> custom-nav-item">
          <%
            unread_count = ConversationService.unread_count_for(current_admin)
          %>
          <%= link_to admin_conversations_path do %>
            Messages
            <% if unread_count > 0 %>
              <span class="badge" style="background: #d9534f"><%= unread_count %></span>
            <% end %>
          <% end %>
        </li>
        <li class="<%= :active if controller_name == 'users' %> custom-nav-item">
          <%= link_to "Utilisateurs", admin_users_path %>
        </li>
        <li class="custom-nav-item custom-nav-item-reversed"><%= link_to 'Déconnexion', session_path(current_user), method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
<div id="flash">
  <%= display_flash_messages %>
</div>
