<ul class="list-group left-panel">
  <li class="list-group-item"><%= link_to "Utilisateurs", admin_users_path %></li>
  <li class="list-group-item"><%= link_to "Associations", admin_organizations_path %></li>
  <li class="list-group-item"><%= link_to "Pois", admin_pois_path %></li>
  <li class="list-group-item"><%= link_to "Demandes d'adhésions", admin_registration_requests_path %></li>
  <li class="list-group-item"><%= link_to "Messages pour Entourage", admin_messages_path %></li>
  <li class="list-group-item"><%= link_to "Modération des photos de profils", moderate_admin_users_path %></li>
  <li class="list-group-item"><%= link_to "Inscription à la newsletter", admin_newsletter_subscriptions_path %></li>
  <li class="list-group-item"><%= link_to "Invitations à rejoindre un entourage", admin_entourage_invitations_path %></li>
  <li class="list-group-item"><%= link_to "Entourages", admin_entourages_path %></li>
  <% if EnvironmentHelper.staging? %>
    <li class="list-group-item"><%= link_to "Utilisateurs de test", fake_admin_users_path %></li>
  <% end %>
</ul>
