<ul class="list-group verticalLine">
  <li class="list-group-item"><%= link_to "Utilisateurs", admin_users_path %></li>
  <li class="list-group-item"><%= link_to "Pois", admin_pois_path %></li>
  <li class="list-group-item"><%= link_to "Maraudes de test", admin_generate_tour_path  %></li>
  <li class="list-group-item"><%= link_to "Demandes d'adhésions", %></li>
  <li class="list-group-item"><%= link_to "Messages", %></li>
</ul>