<ul class="list-group verticalLine">
  <li class="list-group-item"><%= link_to "Utilisateurs", admin_users_path %></li>
  <li class="list-group-item"><%= link_to "Pois", admin_pois_path %></li>
  <li class="list-group-item"><%= link_to "Maraudes de test", admin_generate_tours_path %></li>
  <li class="list-group-item"><%= link_to "Demandes d'adhésions", admin_registration_requests_path %></li>
  <li class="list-group-item"><%= link_to "Messages", "#" %></li>
</ul>