<!DOCTYPE html>
<html>
<%= render partial: "layouts/head" %>

<body class="<%= controller_name %> <%= action_name %>">
<div id="flash">
  <%= display_flash_messages %>
</div>
<div style="padding: 25px 10px;">
  <div class="col-md-3" style="padding: 25px 10px;">
    <%= render partial: "layouts/admin_navigation" %>
  </div>
  <div class="col-md-9 container">
    <%= yield %>
  </div>
</div>
</body>
</html>
