<!DOCTYPE html>
<html>
<%= render partial: "layouts/head" %>

<body class="admin <%= controller_name %> <%= action_name %>">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag('logo.png', alt:'Entourage', class:'navbar-brand') %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <p class="nav navbar-nav navbar-left navbar-text"> Bonjour, <%= current_admin.try(:first_name) %></p>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Déconnexion', session_path(current_user), method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
<div id="flash">
  <%= display_flash_messages %>
</div>
<div style="padding: 25px 10px;">
  <div class="col-md-2" style="padding: 25px 10px;">
    <%= render partial: "layouts/admin_navigation" %>
  </div>
  <div class="col-md-10 container">
    <%= yield %>
  </div>
</div>
</body>
</html>
