<!DOCTYPE html>
<html>
<%= render partial: "layouts/head" %>

<body class="admin <%= controller_name %> <%= action_name %> fix-legacy-layout">

<%= render partial: "layouts/admin_header" %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
