<!DOCTYPE html>
<html>
<%= render partial: "layouts/head" %>

<body class="with-navbar <%= controller_name %> <%= action_name %>">
<%= render partial: "layouts/navigation" %>
<div id="flash">
  <%= display_flash_messages %>
</div>
<div style="padding: 0px 10px;">
  <%= yield %>
</div>
</body>
</html>
