<!DOCTYPE html>
<html>
<head>
  <title>EntourageBack</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnlDcEs4vEqVBteQV5XrsYuduApu-7gJU"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="row">
<% flash.each do |name, msg| -%>
<%= content_tag :div, msg, class: name %>
<% end -%>
</div>
<%= yield %>
</div>
</body>
</html>
