<!DOCTYPE html>
<html>
<head>
  <title>EntourageBack</title>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
