<%
  default_layout_options(
    jquery: false
  )
%>

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Bonnes Ondes | <%= community.name %></title>
    <link rel="icon" href="<%= asset_path 'assets/favicon.png' %>" type="image/png">
    <link href="https://fonts.googleapis.com/icon?family=Roboto:400,700|Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag 'good_waves', media: :all %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  </head>
  <body class="font-sans-serif color-black">
    <div class="page-header flex box-shadow">
      <%= image_tag "organization_admin/logo-entourage-orange.png", class: "page-header-logo" %>
      <% if true %>
        <div class="text-large page-header-text">Bonnes Ondes</div>
      <% end %>
      <% if current_user %>
        <div class="flex-grow"></div>
        <div class="flex flex-align-center px-3">
          <%= button_to "Déconnexion",
              logout_good_waves_session_path, method: :post,
              class: "text-button hover-underline" %>
        </div>
      <% end %>
    </div>
    <% if false # layout_options[:menu] %>
      <div class="flex">
        <div class="flex-25">
          <div class="page-sidebar pt-5">
            <div class="px-3 border-right text-medium"
                 style="display: inline-block; white-space: nowrap">
              <div>
                <%= link_to "Groupes", good_waves_path,
                      class: "hover-underline #{'color-primary' if layout_options[:active_menu] == :dashboard}" %>
              </div>
              <div>
                <%= link_to "Équipe", good_waves_members_path,
                      class: "hover-underline #{'color-primary' if layout_options[:active_menu] == :members}" %>
              </div>
              <% if OrganizationAdmin::Permissions.can_invite_member?(current_user) %>
                <div>
                  <%= link_to "Inviter un membre", new_good_waves_invitation_path,
                      class: "hover-underline #{'color-primary' if layout_options[:active_menu] == :invitations}" %>
                </div>
              <% end %>
              <% if OrganizationAdmin::Permissions.can_edit_description?(current_user) %>
                <div>
                  <%= link_to "Fiche de présentation",edit_good_waves_description_path,
                      class: "hover-underline #{'color-primary' if layout_options[:active_menu] == :description}" %>
                </div>
              <% end %>
            </div>
            <div class="px-3 py-2 page-sidebar-bottom">
              <%= button_to "Déconnexion",
                  logout_good_waves_session_path, method: :post,
                  class: "text-button hover-underline" %>
            </div>
          </div>
        </div>
        <div class="flex-50">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <% case layout_options[:jquery] %>
    <% when false %>
    <% when true %>
      <script
          src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
          crossorigin="anonymous"></script>
    <% when :full %>
      <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
    <% end %>
    <% if false #layout_options[:javascript_lib] %>
      <%= javascript_include_tag 'good_waves' %>
    <% end %>
    <%= content_for :scripts %>
  </body>
</html>
