<%
  default_layout_options(
    menu: true,
    partner_name: true,
    exit_admin: true,
    jquery: false,
    javascript_lib: false,
  )
%>

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title><%= community.name %></title>
    <link rel="icon" href="<%= asset_path 'assets/favicon.png' %>" type="image/png">
    <link href="https://fonts.googleapis.com/icon?family=Roboto:400,700|Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag 'organization_admin', media: :all %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="font-sans-serif color-black">
    <div class="page-header flex box-shadow">
      <%= image_tag "organization_admin/logo-entourage-orange.png", class: "page-header-logo" %>
      <% if current_user&.partner_id && layout_options[:partner_name] %>
        <div class="text-large page-header-text"><%= current_user.partner.name %></div>
      <% end %>
      <% if layout_options[:exit_admin] %>
        <div class="flex-grow"></div>
        <div class="flex flex-align-center px-3">
          <%= link_to "Retourner à la carte des actions",
                      organization_admin_webapp_redirect_path,
                      class: "hover-underline" %>
        </div>
      <% end %>
    </div>
    <% if layout_options[:menu] %>
      <div class="flex">
        <div class="flex-25">
          <div class="page-sidebar pt-5">
            <div class="px-3 border-right text-medium"
                 style="display: inline-block; white-space: nowrap">
              <div>
                <%= link_to "Tableau de bord", organization_admin_path,
                      class: "hover-underline #{'color-primary' if layout_options[:active_menu] == :dashboard}" %>
              </div>
              <div>
                <%= link_to "Équipe", organization_admin_members_path,
                      class: "hover-underline #{'color-primary' if layout_options[:active_menu] == :members}" %>
              </div>
              <% if OrganizationAdmin::Permissions.can_invite_member?(current_user) %>
                <div>
                  <%= link_to "Inviter un membre", new_organization_admin_invitation_path,
                      class: "hover-underline #{'color-primary' if layout_options[:active_menu] == :invitations}" %>
                </div>
              <% end %>
              <% if OrganizationAdmin::Permissions.can_edit_description?(current_user) %>
                <div>
                  <%= link_to "Fiche de présentation",edit_organization_admin_description_path,
                      class: "hover-underline #{'color-primary' if layout_options[:active_menu] == :description}" %>
                </div>
              <% end %>
            </div>
            <div class="px-3 py-2 page-sidebar-bottom">
              <%= button_to "Déconnexion",
                  logout_organization_admin_session_path, method: :post,
                  class: "text-button hover-underline" %>
            </div>
          </div>
        </div>
        <div class="flex-50">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <% if layout_options[:javascript_lib] %>
    <% end %>
    <%= content_for :scripts %>
  </body>
</html>
