<%= javascript_include_tag 'jquery.ui.widget' %>
<%= javascript_include_tag 'jquery.fileupload' %>
<%= javascript_include_tag 'file_upload' %>


<div class="row">
  <h1>Mise à jour du profil</h1>
</div>

<form class="form-horizontal" role="form" id="edit_user" accept-charset="UTF-8" method="put" data-form-data="<%= @upload_presenter.json.to_json %>" data-url="<%= @upload_presenter.url %>" data-host="<%= @upload_presenter.host %>">
  <div class="row">
    <div class="control-group">
      <div class="col-md-3">
        <label class="control-label">Prénom</label>
        <div class="controls">
          <input class="form-control" required="required" type="text" name="first_name" id="user_first_name">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="control-group">
      <div class="col-md-3">
        <label class="control-label">Nom</label>
        <div class="controls">
          <input class="form-control" required="required" type="text" name="last_name" id="user_last_name">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="control-group">
      <div class="col-md-3">
        <label class="control-label">Email</label>
        <div class="controls">
          <input class="form-control" required="required" type="email" name="email" id="user_email_name">
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="avatar_key" id="file-key">
  <div class="control-group">
    <div>
      <label>Avatar </label>
    </div>
    <img src="https://s3-eu-west-1.amazonaws.com/entourage-avatars-production-thumb/300x300/<%= @user.avatar_key %>">
    <div>
      <div class="controls">
        <div class='text-center'>
          <label for='upload-logo' class='box-form-cta-photo'> Avatar </label>
        </div>
        <input type="file" id="upload-logo"/>
      </div>
    </div>
  <br>
  <div class="row">
    <a href="#" class="btn btn-success" id="validate">Mettre à jour</a>
  </div>
</form>
<script>
  var ready = function() {
    var form = $("#edit_user");
    $("#validate").click(function() {
      $.ajax({
        type: form.attr('method'),
        url: "/api/v1/users/<%= @user.id %>",
        data: {"user":
                {
                  "first_name": $("#user_first_name").val(),
                  "last_name": $("#user_last_name").val(),
                  "email": $("#user_email_name").val(),
                  "avatar_key": $("#file-key").val()
                },
                "token": '<%= @user.token %>'
        },
        success: function(response){
          window.location.href = "/test_tunnel/users/<%= @user.id %>/step4";
        },
        error: function(){
          console.log("error");
        }
      });
    });
  }
  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>
